07_runs/CLS_MAIN_extraction_0voyHfykeNyO7SoV.json
{"updatedAt":"2026-06-04T21:14:40.762Z","createdAt":"2026-06-04T20:52:27.639Z","id":"0voyHfykeNyO7SoV","name":"[CLS] OC HTML Extraction — MAIN","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"HTML Course extractor","formDescription":"This tool will extract a course into a single HTML page.","formFields":{"values":[{"fieldLabel":"Course ID","requiredField":true}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-448,96],"id":"3298d2a6-07d0-46fa-a092-078ef390751d","name":"On form submission","webhookId":"3fa7f2a9-aa14-4a8e-b6d9-52b2996e31ae"},{"parameters":{"workflowId":{"__rl":true,"value":"RtYARZLkIJyKeoWz","mode":"list","cachedResultUrl":"/workflow/7FmkshRYxsvF4tCj","cachedResultName":"[SUB] OC HTML Course extraction"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Course ID":"={{ $json[\"Course ID\"] }}"},"matchingColumns":["Course ID"],"schema":[{"id":"Course ID","displayName":"Course ID","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":true,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-240,96],"id":"726b41d9-a0fa-47b6-886e-03268443d62c","name":"Call CLS Extraction SUB","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"return [\n  {\n    binary: {\n      data: {\n        data: Buffer.from($input.first().json.html).toString('base64'),\n        mimeType: 'text/html',\n        fileName: $('On form submission').first().json['Course ID']+ '.html'\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"cc587e0c-398a-460c-9b55-a6f34ed88622","name":"HTML to file"},{"parameters":{"operation":"completion","respondWith":"returnBinary","completionTitle":"Done","completionMessage":"A file save dialog should open now","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[192,0],"id":"eaaa9ec9-43af-47ff-a841-899d50063e5c","name":"Done","webhookId":"9677dd37-2529-47b3-bcf9-5a606fa852db"},{"parameters":{"operation":"completion","completionTitle":"Error!","completionMessage":"={{ $json.error }}","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[192,160],"id":"d2d654c2-8fee-4fcf-9d14-c2a5a119ab05","name":"Error","webhookId":"5bea7bc3-8a15-44f3-a4db-b6f9a172c74c"}],"connections":{"On form submission":{"main":[[{"node":"Call CLS Extraction SUB","type":"main","index":0}]]},"HTML to file":{"main":[[{"node":"Done","type":"main","index":0}]]},"Call CLS Extraction SUB":{"main":[[{"node":"HTML to file","type":"main","index":0}],[{"node":"Error","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"32df4201-75ed-4d36-b5f0-5d9b48fe848f","activeVersionId":"32df4201-75ed-4d36-b5f0-5d9b48fe848f","versionCounter":17,"triggerCount":1,"shared":[{"updatedAt":"2026-06-04T20:52:27.641Z","createdAt":"2026-06-04T20:52:27.641Z","role":"workflow:owner","workflowId":"0voyHfykeNyO7SoV","projectId":"7y0kZCkeSDugmpzP","project":{"updatedAt":"2026-03-12T16:05:16.582Z","createdAt":"2026-03-12T16:02:39.200Z","id":"7y0kZCkeSDugmpzP","name":"Jérémie Borrotzu <jeremie.borrotzu@openclassrooms.com>","type":"personal","icon":null,"description":null,"creatorId":"7ae71612-d8be-4acd-a26d-869e32490f0e"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-04T21:14:40.765Z","createdAt":"2026-06-04T21:14:40.765Z","versionId":"32df4201-75ed-4d36-b5f0-5d9b48fe848f","workflowId":"0voyHfykeNyO7SoV","nodes":[{"parameters":{"formTitle":"HTML Course extractor","formDescription":"This tool will extract a course into a single HTML page.","formFields":{"values":[{"fieldLabel":"Course ID","requiredField":true}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-448,96],"id":"3298d2a6-07d0-46fa-a092-078ef390751d","name":"On form submission","webhookId":"3fa7f2a9-aa14-4a8e-b6d9-52b2996e31ae"},{"parameters":{"workflowId":{"__rl":true,"value":"RtYARZLkIJyKeoWz","mode":"list","cachedResultUrl":"/workflow/7FmkshRYxsvF4tCj","cachedResultName":"[SUB] OC HTML Course extraction"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Course ID":"={{ $json[\"Course ID\"] }}"},"matchingColumns":["Course ID"],"schema":[{"id":"Course ID","displayName":"Course ID","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":true,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-240,96],"id":"726b41d9-a0fa-47b6-886e-03268443d62c","name":"Call CLS Extraction SUB","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"return [\n  {\n    binary: {\n      data: {\n        data: Buffer.from($input.first().json.html).toString('base64'),\n        mimeType: 'text/html',\n        fileName: $('On form submission').first().json['Course ID']+ '.html'\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"cc587e0c-398a-460c-9b55-a6f34ed88622","name":"HTML to file"},{"parameters":{"operation":"completion","respondWith":"returnBinary","completionTitle":"Done","completionMessage":"A file save dialog should open now","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[192,0],"id":"eaaa9ec9-43af-47ff-a841-899d50063e5c","name":"Done","webhookId":"9677dd37-2529-47b3-bcf9-5a606fa852db"},{"parameters":{"operation":"completion","completionTitle":"Error!","completionMessage":"={{ $json.error }}","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[192,160],"id":"d2d654c2-8fee-4fcf-9d14-c2a5a119ab05","name":"Error","webhookId":"5bea7bc3-8a15-44f3-a4db-b6f9a172c74c"}],"connections":{"On form submission":{"main":[[{"node":"Call CLS Extraction SUB","type":"main","index":0}]]},"HTML to file":{"main":[[{"node":"Done","type":"main","index":0}]]},"Call CLS Extraction SUB":{"main":[[{"node":"HTML to file","type":"main","index":0}],[{"node":"Error","type":"main","index":0}]]}},"authors":"Jérémie Borrotzu","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-04T21:14:40.812Z","id":331,"workflowId":"0voyHfykeNyO7SoV","versionId":"32df4201-75ed-4d36-b5f0-5d9b48fe848f","event":"activated","userId":"7ae71612-d8be-4acd-a26d-869e32490f0e"},{"createdAt":"2026-06-04T21:14:40.800Z","id":330,"workflowId":"0voyHfykeNyO7SoV","versionId":"32df4201-75ed-4d36-b5f0-5d9b48fe848f","event":"deactivated","userId":"7ae71612-d8be-4acd-a26d-869e32490f0e"}]}}