07_runs/CLS_MAIN_extraction_0voyHfykeNyO7SoV.json
{"updatedAt":"2026-06-04T20:59:26.117Z","createdAt":"2026-06-04T20:52:27.639Z","id":"0voyHfykeNyO7SoV","name":"[CLS] OC HTML Extraction — MAIN","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-trigger","name":"Webhook CLS v3","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,200],"webhookId":"cls-html-extraction","parameters":{"httpMethod":"POST","path":"cls-html-extraction","responseMode":"lastNode","options":{}}},{"id":"call-sub-clone","name":"Call Extraction SUB","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[-500,200],"parameters":{"workflowId":{"__rl":true,"value":"RtYARZLkIJyKeoWz","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Course ID":"={{ $json.body[\"Course ID\"] }}"},"matchingColumns":["Course ID"],"schema":[{"id":"Course ID","displayName":"Course ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{"waitForSubWorkflow":true}}},{"id":"return-html","name":"Return HTML","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-200,200],"parameters":{"respondWith":"json","responseBody":"={ \"html\": $json.html }","options":{}}}],"connections":{"Webhook CLS v3":{"main":[[{"node":"Call Extraction SUB","type":"main","index":0}]]},"Call Extraction SUB":{"main":[[{"node":"Return HTML","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"d66c9288-d47c-4a80-8b32-0e25918b44bf","activeVersionId":"d66c9288-d47c-4a80-8b32-0e25918b44bf","versionCounter":8,"triggerCount":1,"shared":[{"updatedAt":"2026-06-04T20:52:27.641Z","createdAt":"2026-06-04T20:52:27.641Z","role":"workflow:owner","workflowId":"0voyHfykeNyO7SoV","projectId":"7y0kZCkeSDugmpzP","project":{"updatedAt":"2026-03-12T16:05:16.582Z","createdAt":"2026-03-12T16:02:39.200Z","id":"7y0kZCkeSDugmpzP","name":"Jérémie Borrotzu <jeremie.borrotzu@openclassrooms.com>","type":"personal","icon":null,"description":null,"creatorId":"7ae71612-d8be-4acd-a26d-869e32490f0e"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-04T20:59:26.119Z","createdAt":"2026-06-04T20:59:26.119Z","versionId":"d66c9288-d47c-4a80-8b32-0e25918b44bf","workflowId":"0voyHfykeNyO7SoV","nodes":[{"id":"webhook-trigger","name":"Webhook CLS v3","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,200],"webhookId":"cls-html-extraction","parameters":{"httpMethod":"POST","path":"cls-html-extraction","responseMode":"lastNode","options":{}}},{"id":"call-sub-clone","name":"Call Extraction SUB","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[-500,200],"parameters":{"workflowId":{"__rl":true,"value":"RtYARZLkIJyKeoWz","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Course ID":"={{ $json.body[\"Course ID\"] }}"},"matchingColumns":["Course ID"],"schema":[{"id":"Course ID","displayName":"Course ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{"waitForSubWorkflow":true}}},{"id":"return-html","name":"Return HTML","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-200,200],"parameters":{"respondWith":"json","responseBody":"={ \"html\": $json.html }","options":{}}}],"connections":{"Webhook CLS v3":{"main":[[{"node":"Call Extraction SUB","type":"main","index":0}]]},"Call Extraction SUB":{"main":[[{"node":"Return HTML","type":"main","index":0}]]}},"authors":"Jérémie Borrotzu","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-04T20:59:26.153Z","id":319,"workflowId":"0voyHfykeNyO7SoV","versionId":"d66c9288-d47c-4a80-8b32-0e25918b44bf","event":"activated","userId":"7ae71612-d8be-4acd-a26d-869e32490f0e"},{"createdAt":"2026-06-04T20:59:26.201Z","id":321,"workflowId":"0voyHfykeNyO7SoV","versionId":"d66c9288-d47c-4a80-8b32-0e25918b44bf","event":"activated","userId":"7ae71612-d8be-4acd-a26d-869e32490f0e"},{"createdAt":"2026-06-04T20:59:26.144Z","id":318,"workflowId":"0voyHfykeNyO7SoV","versionId":"d66c9288-d47c-4a80-8b32-0e25918b44bf","event":"deactivated","userId":"7ae71612-d8be-4acd-a26d-869e32490f0e"},{"createdAt":"2026-06-04T20:59:26.192Z","id":320,"workflowId":"0voyHfykeNyO7SoV","versionId":"d66c9288-d47c-4a80-8b32-0e25918b44bf","event":"deactivated","userId":"7ae71612-d8be-4acd-a26d-869e32490f0e"}]}}