07_runs/MAIN_CLS_v3_ApjYq9sdM5LKRVlq.json
{"updatedAt":"2026-06-04T20:42:03.629Z","createdAt":"2026-05-29T14:16:26.563Z","id":"ApjYq9sdM5LKRVlq","name":"[MAIN] CLS v3 — Course Localisation","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"cls-v3-form","formTitle":"CLS v3 — Course Localisation","formDescription":"OpenClassrooms Content Localization System v3","responseMode":"onReceived","formFields":{"values":[{"fieldLabel":"Source Course ID","fieldType":"text","requiredField":true},{"fieldLabel":"Target Course ID","fieldType":"text","requiredField":true},{"fieldLabel":"Source Language","fieldType":"dropdown","requiredField":true,"fieldOptions":{"values":[{"option":"fr"},{"option":"en"}]}},{"fieldLabel":"Target Language","fieldType":"dropdown","requiredField":true,"fieldOptions":{"values":[{"option":"en-US"},{"option":"fr-FR"}]}},{"fieldLabel":"Email","fieldType":"email","requiredField":true},{"fieldLabel":"Localiser le cours (HTML)","fieldType":"checkbox"},{"fieldLabel":"Audit du contenu (A1)","fieldType":"checkbox"},{"fieldLabel":"Score de localisabilite","fieldType":"checkbox"},{"fieldLabel":"Quality Check /100","fieldType":"checkbox"}]},"options":{}},"id":"form","name":"CLS v3 Form","type":"n8n-nodes-base.formTrigger","typeVersion":1,"position":[0,400],"webhookId":"f146189f-507c-44da-beb7-6c888a156a3f"},{"parameters":{"jsCode":"\nconst f=$input.first().json;\nconst sl=f['Source Language']||'fr';\nconst tl=f['Target Language']||'en-US';\nreturn [{json:{\n  course_id:f['Source Course ID'], target_course_id:f['Target Course ID'],\n  source_language:sl, target_language:tl, direction:sl+'>'+tl.split('-')[0],\n  email:f['Email'],\n  enabled_modules:{\n    localize_html:  f['Localiser le cours (HTML)']===true,\n    audit_only:     f['Audit du contenu (A1)']===true,\n    qa_check:       f['Quality Check /100']===true,\n    score_loc:      f['Score de localisabilité']===true,\n  },\n  score_target:90, started_at:new Date().toISOString()\n}}];\n"},"id":"init","name":"Init Params","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,400]},{"parameters":{"workflowId":{"__rl":true,"value":"WJPSpr8dELxKu0mT","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Course ID":"={{ $json.sourceCourseId }}"},"matchingColumns":["Course ID"],"schema":[{"id":"Course ID","displayName":"Course ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{"waitForSubWorkflow":true}},"id":"ext","name":"Call HTML Extraction","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[480,400]},{"parameters":{"jsCode":"\nconst html=$('Call HTML Extraction').first().json.html||'';\nconst urlRx=/(?:src|href)=\"([^\"#][^\"]*)\"/g;\nconst semRx=/data-claire-semantic=\"([^\"]+)\"/g;\nconst urls=[]; let m;\nwhile((m=urlRx.exec(html))!==null) urls.push(m[1]);\nconst claire=[]; let s;\nwhile((s=semRx.exec(html))!==null) claire.push(s[1]);\nreturn [{json:{type:'fingerprint',urls:[...new Set(urls)],\n  claire_semantics:[...new Set(claire)],\n  code_blocks_count:(html.match(/<pre[^>]*>/gi)||[]).length,\n  raw_html:html}}];\n"},"id":"fp","name":"Extract Fingerprint","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,400]},{"parameters":{"workflowId":"zDg9JS6pco9fiHTk","mode":"passThrough","options":{}},"id":"pre","name":"Call Pre-Processor","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[960,400]},{"parameters":{"workflowId":"H88p5deRTIHpQ7S8","mode":"passThrough","options":{}},"id":"g1","name":"Glossary Load 1 (pre-A1)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1200,400]},{"parameters":{"batchSize":5,"options":{}},"id":"sA1","name":"Batch A1 (5/run)","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1440,576]},{"parameters":{"workflowId":"hNdY7a7cIqY1aLIm","mode":"passThrough","options":{}},"id":"a1","name":"Call A1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1680,400]},{"parameters":{"jsCode":"\nconst a1s=$input.all();\nconst domains=a1s.map(i=>i.json.agent_output?.detected_domain).filter(Boolean);\nconst cnt={}; domains.forEach(d=>cnt[d]=(cnt[d]||0)+1);\nconst det=Object.entries(cnt).sort((a,b)=>b[1]-a[1])[0]?.[0]||'Tech';\nreturn [{json:{detected_domain:det,a1_outputs:a1s.map(i=>i.json.agent_output).filter(Boolean),\n  course_id:a1s[0]?.json.course_id, target_course_id:a1s[0]?.json.target_course_id||'',\n  source_language:a1s[0]?.json.source_language||'fr',\n  target_language:a1s[0]?.json.target_language||'en-US', score_target:90}}];\n"},"id":"det","name":"Detect Domain","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,400]},{"parameters":{"workflowId":"H88p5deRTIHpQ7S8","mode":"passThrough","options":{}},"id":"g2","name":"Glossary Load 2 (post-A1)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2160,400]},{"parameters":{"workflowId":"BKminhI3j8D4ybs1","mode":"passThrough","options":{}},"id":"a2","name":"Call A2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2400,400]},{"parameters":{"batchSize":3,"options":{}},"id":"sP1","name":"Batch Phase 1 (3/run)","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2640,576]},{"parameters":{"workflowId":"rfWAld7K9VOXvPrE","mode":"passThrough","options":{}},"id":"pt","name":"Call Pre-Translation","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2880,400]},{"parameters":{"mode":"expression","output":"={{ $json.source_language === 'fr' ? 0 : 1 }}"},"id":"dir","name":"Direction?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[3120,400]},{"parameters":{"workflowId":"JLDchUnpFLdgHbkn","mode":"passThrough","options":{}},"id":"a3fr","name":"Call A3 FR-EN","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3360,288]},{"parameters":{"workflowId":"Eq5Bk0IbKstJMr4P","mode":"passThrough","options":{}},"id":"a3en","name":"Call A3 EN-FR","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3360,528]},{"parameters":{"workflowId":"cHTqFQHBnEkeRAJB","mode":"passThrough","options":{}},"id":"a4","name":"Call A4","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3600,400]},{"parameters":{"workflowId":"De0vqzEM9LlJ0wVB","mode":"passThrough","options":{}},"id":"a5","name":"Call A5","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3840,400]},{"parameters":{"jsCode":"\nconst a5=$input.first().json.agent_output||{};\nconst iter=($input.first().json.iteration||1);\nconst score=a5.score_total||0;\nconst pass=score>=90; const maxed=iter>=3;\nreturn [{json:{...$input.first().json, iteration:iter, score_total:score,\n  qa_status:pass?'PASS':(maxed?'ESCALATE':'REVISE'),\n  failing_segments:pass?[]:(a5.critical_blockers||[]),\n  previous_qa_report:a5, a5_qa_report:a5}}];\n"},"id":"qa1","name":"QA Check iter1","type":"n8n-nodes-base.code","typeVersion":2,"position":[4080,400]},{"parameters":{"mode":"expression","output":"={{ $json.qa_status==='PASS'?0:$json.qa_status==='ESCALATE'?2:1 }}"},"id":"sw1","name":"Score >= 90?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[4320,400]},{"parameters":{"workflowId":"JLDchUnpFLdgHbkn","mode":"passThrough","options":{}},"id":"a3i2","name":"Call A3 iter2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[4560,544]},{"parameters":{"workflowId":"cHTqFQHBnEkeRAJB","mode":"passThrough","options":{}},"id":"a4i2","name":"Call A4 iter2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[4800,544]},{"parameters":{"workflowId":"De0vqzEM9LlJ0wVB","mode":"passThrough","options":{}},"id":"a5i2","name":"Call A5 iter2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[5040,544]},{"parameters":{"jsCode":"\nconst a5=$input.first().json.agent_output||{};\nconst iter=2;\nconst score=a5.score_total||0; const pass=score>=90;\nreturn [{json:{...$input.first().json, iteration:iter, score_total:score,\n  qa_status:pass?'PASS':'REVISE',\n  failing_segments:pass?[]:(a5.critical_blockers||[]),\n  previous_qa_report:a5, a5_qa_report:a5}}];\n"},"id":"qa2","name":"QA Check iter2","type":"n8n-nodes-base.code","typeVersion":2,"position":[5280,544]},{"parameters":{"mode":"expression","output":"={{ $json.qa_status==='PASS'?0:1 }}"},"id":"sw2","name":"Score >= 90 iter2?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[5520,544]},{"parameters":{"workflowId":"JLDchUnpFLdgHbkn","mode":"passThrough","options":{}},"id":"a3i3","name":"Call A3 iter3","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[5760,672]},{"parameters":{"workflowId":"cHTqFQHBnEkeRAJB","mode":"passThrough","options":{}},"id":"a4i3","name":"Call A4 iter3","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[6000,672]},{"parameters":{"workflowId":"De0vqzEM9LlJ0wVB","mode":"passThrough","options":{}},"id":"a5i3","name":"Call A5 iter3","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[6240,672]},{"parameters":{"workflowId":"MQObMb9lhovhBBs8","mode":"passThrough","options":{}},"id":"a6","name":"Call A6","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[6464,80]},{"parameters":{"jsCode":"\nconst chunks=$input.all();\nconst translated=chunks.map(c=>({\n  chapter_index:c.json.chapter_index, chunk_index:c.json.chunk_index,\n  translated_html:c.json.agent_output?.revised_content||c.json.agent_output?.adapted_content||'',\n  type:'chunk', a4_swap_log:c.json.agent_output?.swap_log||[],\n  a6_issue_log:c.json.agent_output?.issue_log||[],\n  naturalness_score:c.json.agent_output?.naturalness_score||null,\n  course_id:chunks[0].json.course_id, target_course_id:chunks[0].json.target_course_id||'',\n  source_language:chunks[0].json.source_language, target_language:chunks[0].json.target_language,\n  score_total:null, enabled_modules:chunks[0].json.enabled_modules||{}\n}));\nreturn translated.map(t=>({json:t}));\n"},"id":"mrg","name":"Merge Phase 1","type":"n8n-nodes-base.code","typeVersion":2,"position":[6720,400]},{"parameters":{"workflowId":"odMhJgxadf3RPAHp","mode":"passThrough","options":{}},"id":"rea","name":"Call Reassembler","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[6960,400]},{"parameters":{"mode":"expression","output":"={{ $json.structural_integrity?0:1 }}"},"id":"str","name":"Structural OK?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[7200,400]},{"parameters":{"workflowId":"fBgHok8kQUPxlTAT","mode":"passThrough","options":{}},"id":"del","name":"Call Deliver Output","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[7440,288]},{"parameters":{"jsCode":"return [{json:{status:'BLOCKED',error:'Structural integrity check failed',...$input.first().json}}];"},"id":"blk","name":"Flag BLOCKED","type":"n8n-nodes-base.code","typeVersion":2,"position":[7440,528]},{"parameters":{"jsCode":"const d=$input.first().json; return [{json:{status:d.status||'DONE',course_id:d.course_id,target_course_id:d.target_course_id,deliverables:d.deliverables||{},completed_at:new Date().toISOString()}}];"},"id":"fin","name":"Final Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[7680,400]},{"id":"post-a1-switch","name":"Post-A1 Mode?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2200,400],"parameters":{"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $('Init Params').first().json.enabled_modules.audit_only }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"leftValue":"={{ $('Init Params').first().json.enabled_modules.localize_html }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"options":{}},"renameOutput":true,"outputKey":"audit_only"},{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $('Init Params').first().json.enabled_modules.score_loc }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"leftValue":"={{ $('Init Params').first().json.enabled_modules.localize_html }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}},{"leftValue":"={{ $('Init Params').first().json.enabled_modules.audit_only }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"options":{}},"renameOutput":true,"outputKey":"score_only"}]},"options":{"fallbackOutput":"extra"}}},{"id":"audit-summary","name":"Audit Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,200],"parameters":{"jsCode":"\nconst a1 = $('Call A1').all().map(i=>i.json);\nconst p  = $('Init Params').first().json;\nreturn [{json:{\n  status:'AUDIT_COMPLETE', mode:'audit_only',\n  course_id:p.course_id, direction:p.direction,\n  completed_at:new Date().toISOString(),\n  chunks_audited:a1.length,\n  a1_results:a1,\n  summary:`A1 audit complete — ${a1.length} chunk(s) analysed`\n}}];\n"}},{"id":"score-summary","name":"Score Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,600],"parameters":{"jsCode":"\nconst a1 = $('Call A1').all().map(i=>i.json);\nconst p  = $('Init Params').first().json;\nconst scores = a1.map(r => r.localizability_score || 0).filter(s=>s>0);\nconst avg = scores.length ? Math.round(scores.reduce((a,b)=>a+b,0)/scores.length) : 0;\nconst blockers = a1.flatMap(r => r.blockers || []);\nreturn [{json:{\n  status:'SCORE_COMPLETE', mode:'score_loc',\n  course_id:p.course_id, direction:p.direction,\n  completed_at:new Date().toISOString(),\n  localizability_score:avg,\n  blockers_count:blockers.length,\n  blockers:blockers,\n  summary:`Localizability score: ${avg}/100 — ${blockers.length} blocker(s)`\n}}];\n"}},{"id":"post-qa-switch","name":"Post-QA Mode?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[6520,672],"parameters":{"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $('Init Params').first().json.enabled_modules.qa_check }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"leftValue":"={{ $('Init Params').first().json.enabled_modules.localize_html }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"options":{}},"renameOutput":true,"outputKey":"qa_only"}]},"options":{"fallbackOutput":"extra"}}},{"id":"qa-summary","name":"QA Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[6800,522],"parameters":{"jsCode":"\nconst a5 = $('Call A5 iter3').all().map(i=>i.json);\nconst p  = $('Init Params').first().json;\nconst scores = a5.map(r=>r.score||0);\nconst avg = scores.length ? Math.round(scores.reduce((a,b)=>a+b,0)/scores.length):0;\nreturn [{json:{\n  status:'QA_COMPLETE', mode:'qa_check',\n  course_id:p.course_id, direction:p.direction,\n  completed_at:new Date().toISOString(),\n  qa_score:avg,\n  pass: avg>=90,\n  chunks:a5.length,\n  summary:`QA score: ${avg}/100 — ${avg>=90?'PASS':'FAIL'}`\n}}];\n"}}],"connections":{"CLS v3 Form":{"main":[[{"node":"Init Params","type":"main","index":0}]]},"Init Params":{"main":[[{"node":"Call HTML Extraction","type":"main","index":0}]]},"Call HTML Extraction":{"main":[[{"node":"Extract Fingerprint","type":"main","index":0}]]},"Extract Fingerprint":{"main":[[{"node":"Call Pre-Processor","type":"main","index":0}]]},"Call Pre-Processor":{"main":[[{"node":"Glossary Load 1 (pre-A1)","type":"main","index":0}]]},"Glossary Load 1 (pre-A1)":{"main":[[{"node":"Batch A1 (5/run)","type":"main","index":0}]]},"Batch A1 (5/run)":{"main":[[{"node":"Call A1","type":"main","index":0}]]},"Call A1":{"main":[[{"node":"Detect Domain","type":"main","index":0}]]},"Detect Domain":{"main":[[{"node":"Post-A1 Mode?","type":"main","index":0}]]},"Glossary Load 2 (post-A1)":{"main":[[{"node":"Call A2","type":"main","index":0}]]},"Call A2":{"main":[[{"node":"Batch Phase 1 (3/run)","type":"main","index":0}]]},"Batch Phase 1 (3/run)":{"main":[[{"node":"Call Pre-Translation","type":"main","index":0}]]},"Call Pre-Translation":{"main":[[{"node":"Direction?","type":"main","index":0}]]},"Direction?":{"main":[[{"node":"Call A3 FR-EN","type":"main","index":0}],[{"node":"Call A3 EN-FR","type":"main","index":0}]]},"Call A3 FR-EN":{"main":[[{"node":"Call A4","type":"main","index":0}]]},"Call A3 EN-FR":{"main":[[{"node":"Call A4","type":"main","index":0}]]},"Call A4":{"main":[[{"node":"Call A5","type":"main","index":0}]]},"Call A5":{"main":[[{"node":"QA Check iter1","type":"main","index":0}]]},"QA Check iter1":{"main":[[{"node":"Score >= 90?","type":"main","index":0}]]},"Score >= 90?":{"main":[[{"node":"Call A6","type":"main","index":0}],[{"node":"Call A3 iter2","type":"main","index":0}],[{"node":"Call A6","type":"main","index":0}]]},"Call A3 iter2":{"main":[[{"node":"Call A4 iter2","type":"main","index":0}]]},"Call A4 iter2":{"main":[[{"node":"Call A5 iter2","type":"main","index":0}]]},"Call A5 iter2":{"main":[[{"node":"QA Check iter2","type":"main","index":0}]]},"QA Check iter2":{"main":[[{"node":"Score >= 90 iter2?","type":"main","index":0}]]},"Score >= 90 iter2?":{"main":[[{"node":"Call A6","type":"main","index":0}],[{"node":"Call A3 iter3","type":"main","index":0}]]},"Call A3 iter3":{"main":[[{"node":"Call A4 iter3","type":"main","index":0}]]},"Call A4 iter3":{"main":[[{"node":"Call A5 iter3","type":"main","index":0}]]},"Call A5 iter3":{"main":[[{"node":"Post-QA Mode?","type":"main","index":0}]]},"Call A6":{"main":[[{"node":"Merge Phase 1","type":"main","index":0}]]},"Merge Phase 1":{"main":[[{"node":"Call Reassembler","type":"main","index":0}]]},"Call Reassembler":{"main":[[{"node":"Structural OK?","type":"main","index":0}]]},"Structural OK?":{"main":[[{"node":"Call Deliver Output","type":"main","index":0}],[{"node":"Flag BLOCKED","type":"main","index":0}]]},"Call Deliver Output":{"main":[[{"node":"Final Summary","type":"main","index":0}]]},"Flag BLOCKED":{"main":[[{"node":"Final Summary","type":"main","index":0}]]},"Post-A1 Mode?":{"main":[[{"node":"Audit Summary","type":"main","index":0}],[{"node":"Score Summary","type":"main","index":0}],[{"node":"Glossary Load 2 (post-A1)","type":"main","index":0}]]},"Audit Summary":{"main":[[{"node":"Final Summary","type":"main","index":0}]]},"Score Summary":{"main":[[{"node":"Final Summary","type":"main","index":0}]]},"Post-QA Mode?":{"main":[[{"node":"QA Summary","type":"main","index":0}],[{"node":"Call A6","type":"main","index":0}]]},"QA Summary":{"main":[[{"node":"Final Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"91626a61-34ef-4b70-a840-c6ea38687d0f","activeVersionId":"91626a61-34ef-4b70-a840-c6ea38687d0f","versionCounter":19,"triggerCount":1,"shared":[{"updatedAt":"2026-05-29T14:16:26.565Z","createdAt":"2026-05-29T14:16:26.565Z","role":"workflow:owner","workflowId":"ApjYq9sdM5LKRVlq","projectId":"7y0kZCkeSDugmpzP","project":{"updatedAt":"2026-03-12T16:05:16.582Z","createdAt":"2026-03-12T16:02:39.200Z","id":"7y0kZCkeSDugmpzP","name":"Jérémie Borrotzu <jeremie.borrotzu@openclassrooms.com>","type":"personal","icon":null,"description":null,"creatorId":"7ae71612-d8be-4acd-a26d-869e32490f0e"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-04T20:42:03.631Z","createdAt":"2026-06-04T20:42:03.631Z","versionId":"91626a61-34ef-4b70-a840-c6ea38687d0f","workflowId":"ApjYq9sdM5LKRVlq","nodes":[{"parameters":{"path":"cls-v3-form","formTitle":"CLS v3 — Course Localisation","formDescription":"OpenClassrooms Content Localization System v3","responseMode":"onReceived","formFields":{"values":[{"fieldLabel":"Source Course ID","fieldType":"text","requiredField":true},{"fieldLabel":"Target Course ID","fieldType":"text","requiredField":true},{"fieldLabel":"Source Language","fieldType":"dropdown","requiredField":true,"fieldOptions":{"values":[{"option":"fr"},{"option":"en"}]}},{"fieldLabel":"Target Language","fieldType":"dropdown","requiredField":true,"fieldOptions":{"values":[{"option":"en-US"},{"option":"fr-FR"}]}},{"fieldLabel":"Email","fieldType":"email","requiredField":true},{"fieldLabel":"Localiser le cours (HTML)","fieldType":"checkbox"},{"fieldLabel":"Audit du contenu (A1)","fieldType":"checkbox"},{"fieldLabel":"Score de localisabilite","fieldType":"checkbox"},{"fieldLabel":"Quality Check /100","fieldType":"checkbox"}]},"options":{}},"id":"form","name":"CLS v3 Form","type":"n8n-nodes-base.formTrigger","typeVersion":1,"position":[0,400],"webhookId":"f146189f-507c-44da-beb7-6c888a156a3f"},{"parameters":{"jsCode":"\nconst f=$input.first().json;\nconst sl=f['Source Language']||'fr';\nconst tl=f['Target Language']||'en-US';\nreturn [{json:{\n  course_id:f['Source Course ID'], target_course_id:f['Target Course ID'],\n  source_language:sl, target_language:tl, direction:sl+'>'+tl.split('-')[0],\n  email:f['Email'],\n  enabled_modules:{\n    localize_html:  f['Localiser le cours (HTML)']===true,\n    audit_only:     f['Audit du contenu (A1)']===true,\n    qa_check:       f['Quality Check /100']===true,\n    score_loc:      f['Score de localisabilité']===true,\n  },\n  score_target:90, started_at:new Date().toISOString()\n}}];\n"},"id":"init","name":"Init Params","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,400]},{"parameters":{"workflowId":{"__rl":true,"value":"WJPSpr8dELxKu0mT","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Course ID":"={{ $json.sourceCourseId }}"},"matchingColumns":["Course ID"],"schema":[{"id":"Course ID","displayName":"Course ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{"waitForSubWorkflow":true}},"id":"ext","name":"Call HTML Extraction","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[480,400]},{"parameters":{"jsCode":"\nconst html=$('Call HTML Extraction').first().json.html||'';\nconst urlRx=/(?:src|href)=\"([^\"#][^\"]*)\"/g;\nconst semRx=/data-claire-semantic=\"([^\"]+)\"/g;\nconst urls=[]; let m;\nwhile((m=urlRx.exec(html))!==null) urls.push(m[1]);\nconst claire=[]; let s;\nwhile((s=semRx.exec(html))!==null) claire.push(s[1]);\nreturn [{json:{type:'fingerprint',urls:[...new Set(urls)],\n  claire_semantics:[...new Set(claire)],\n  code_blocks_count:(html.match(/<pre[^>]*>/gi)||[]).length,\n  raw_html:html}}];\n"},"id":"fp","name":"Extract Fingerprint","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,400]},{"parameters":{"workflowId":"zDg9JS6pco9fiHTk","mode":"passThrough","options":{}},"id":"pre","name":"Call Pre-Processor","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[960,400]},{"parameters":{"workflowId":"H88p5deRTIHpQ7S8","mode":"passThrough","options":{}},"id":"g1","name":"Glossary Load 1 (pre-A1)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1200,400]},{"parameters":{"batchSize":5,"options":{}},"id":"sA1","name":"Batch A1 (5/run)","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1440,576]},{"parameters":{"workflowId":"hNdY7a7cIqY1aLIm","mode":"passThrough","options":{}},"id":"a1","name":"Call A1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1680,400]},{"parameters":{"jsCode":"\nconst a1s=$input.all();\nconst domains=a1s.map(i=>i.json.agent_output?.detected_domain).filter(Boolean);\nconst cnt={}; domains.forEach(d=>cnt[d]=(cnt[d]||0)+1);\nconst det=Object.entries(cnt).sort((a,b)=>b[1]-a[1])[0]?.[0]||'Tech';\nreturn [{json:{detected_domain:det,a1_outputs:a1s.map(i=>i.json.agent_output).filter(Boolean),\n  course_id:a1s[0]?.json.course_id, target_course_id:a1s[0]?.json.target_course_id||'',\n  source_language:a1s[0]?.json.source_language||'fr',\n  target_language:a1s[0]?.json.target_language||'en-US', score_target:90}}];\n"},"id":"det","name":"Detect Domain","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,400]},{"parameters":{"workflowId":"H88p5deRTIHpQ7S8","mode":"passThrough","options":{}},"id":"g2","name":"Glossary Load 2 (post-A1)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2160,400]},{"parameters":{"workflowId":"BKminhI3j8D4ybs1","mode":"passThrough","options":{}},"id":"a2","name":"Call A2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2400,400]},{"parameters":{"batchSize":3,"options":{}},"id":"sP1","name":"Batch Phase 1 (3/run)","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2640,576]},{"parameters":{"workflowId":"rfWAld7K9VOXvPrE","mode":"passThrough","options":{}},"id":"pt","name":"Call Pre-Translation","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2880,400]},{"parameters":{"mode":"expression","output":"={{ $json.source_language === 'fr' ? 0 : 1 }}"},"id":"dir","name":"Direction?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[3120,400]},{"parameters":{"workflowId":"JLDchUnpFLdgHbkn","mode":"passThrough","options":{}},"id":"a3fr","name":"Call A3 FR-EN","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3360,288]},{"parameters":{"workflowId":"Eq5Bk0IbKstJMr4P","mode":"passThrough","options":{}},"id":"a3en","name":"Call A3 EN-FR","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3360,528]},{"parameters":{"workflowId":"cHTqFQHBnEkeRAJB","mode":"passThrough","options":{}},"id":"a4","name":"Call A4","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3600,400]},{"parameters":{"workflowId":"De0vqzEM9LlJ0wVB","mode":"passThrough","options":{}},"id":"a5","name":"Call A5","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3840,400]},{"parameters":{"jsCode":"\nconst a5=$input.first().json.agent_output||{};\nconst iter=($input.first().json.iteration||1);\nconst score=a5.score_total||0;\nconst pass=score>=90; const maxed=iter>=3;\nreturn [{json:{...$input.first().json, iteration:iter, score_total:score,\n  qa_status:pass?'PASS':(maxed?'ESCALATE':'REVISE'),\n  failing_segments:pass?[]:(a5.critical_blockers||[]),\n  previous_qa_report:a5, a5_qa_report:a5}}];\n"},"id":"qa1","name":"QA Check iter1","type":"n8n-nodes-base.code","typeVersion":2,"position":[4080,400]},{"parameters":{"mode":"expression","output":"={{ $json.qa_status==='PASS'?0:$json.qa_status==='ESCALATE'?2:1 }}"},"id":"sw1","name":"Score >= 90?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[4320,400]},{"parameters":{"workflowId":"JLDchUnpFLdgHbkn","mode":"passThrough","options":{}},"id":"a3i2","name":"Call A3 iter2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[4560,544]},{"parameters":{"workflowId":"cHTqFQHBnEkeRAJB","mode":"passThrough","options":{}},"id":"a4i2","name":"Call A4 iter2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[4800,544]},{"parameters":{"workflowId":"De0vqzEM9LlJ0wVB","mode":"passThrough","options":{}},"id":"a5i2","name":"Call A5 iter2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[5040,544]},{"parameters":{"jsCode":"\nconst a5=$input.first().json.agent_output||{};\nconst iter=2;\nconst score=a5.score_total||0; const pass=score>=90;\nreturn [{json:{...$input.first().json, iteration:iter, score_total:score,\n  qa_status:pass?'PASS':'REVISE',\n  failing_segments:pass?[]:(a5.critical_blockers||[]),\n  previous_qa_report:a5, a5_qa_report:a5}}];\n"},"id":"qa2","name":"QA Check iter2","type":"n8n-nodes-base.code","typeVersion":2,"position":[5280,544]},{"parameters":{"mode":"expression","output":"={{ $json.qa_status==='PASS'?0:1 }}"},"id":"sw2","name":"Score >= 90 iter2?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[5520,544]},{"parameters":{"workflowId":"JLDchUnpFLdgHbkn","mode":"passThrough","options":{}},"id":"a3i3","name":"Call A3 iter3","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[5760,672]},{"parameters":{"workflowId":"cHTqFQHBnEkeRAJB","mode":"passThrough","options":{}},"id":"a4i3","name":"Call A4 iter3","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[6000,672]},{"parameters":{"workflowId":"De0vqzEM9LlJ0wVB","mode":"passThrough","options":{}},"id":"a5i3","name":"Call A5 iter3","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[6240,672]},{"parameters":{"workflowId":"MQObMb9lhovhBBs8","mode":"passThrough","options":{}},"id":"a6","name":"Call A6","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[6464,80]},{"parameters":{"jsCode":"\nconst chunks=$input.all();\nconst translated=chunks.map(c=>({\n  chapter_index:c.json.chapter_index, chunk_index:c.json.chunk_index,\n  translated_html:c.json.agent_output?.revised_content||c.json.agent_output?.adapted_content||'',\n  type:'chunk', a4_swap_log:c.json.agent_output?.swap_log||[],\n  a6_issue_log:c.json.agent_output?.issue_log||[],\n  naturalness_score:c.json.agent_output?.naturalness_score||null,\n  course_id:chunks[0].json.course_id, target_course_id:chunks[0].json.target_course_id||'',\n  source_language:chunks[0].json.source_language, target_language:chunks[0].json.target_language,\n  score_total:null, enabled_modules:chunks[0].json.enabled_modules||{}\n}));\nreturn translated.map(t=>({json:t}));\n"},"id":"mrg","name":"Merge Phase 1","type":"n8n-nodes-base.code","typeVersion":2,"position":[6720,400]},{"parameters":{"workflowId":"odMhJgxadf3RPAHp","mode":"passThrough","options":{}},"id":"rea","name":"Call Reassembler","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[6960,400]},{"parameters":{"mode":"expression","output":"={{ $json.structural_integrity?0:1 }}"},"id":"str","name":"Structural OK?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[7200,400]},{"parameters":{"workflowId":"fBgHok8kQUPxlTAT","mode":"passThrough","options":{}},"id":"del","name":"Call Deliver Output","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[7440,288]},{"parameters":{"jsCode":"return [{json:{status:'BLOCKED',error:'Structural integrity check failed',...$input.first().json}}];"},"id":"blk","name":"Flag BLOCKED","type":"n8n-nodes-base.code","typeVersion":2,"position":[7440,528]},{"parameters":{"jsCode":"const d=$input.first().json; return [{json:{status:d.status||'DONE',course_id:d.course_id,target_course_id:d.target_course_id,deliverables:d.deliverables||{},completed_at:new Date().toISOString()}}];"},"id":"fin","name":"Final Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[7680,400]},{"id":"post-a1-switch","name":"Post-A1 Mode?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2200,400],"parameters":{"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $('Init Params').first().json.enabled_modules.audit_only }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"leftValue":"={{ $('Init Params').first().json.enabled_modules.localize_html }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"options":{}},"renameOutput":true,"outputKey":"audit_only"},{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $('Init Params').first().json.enabled_modules.score_loc }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"leftValue":"={{ $('Init Params').first().json.enabled_modules.localize_html }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}},{"leftValue":"={{ $('Init Params').first().json.enabled_modules.audit_only }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"options":{}},"renameOutput":true,"outputKey":"score_only"}]},"options":{"fallbackOutput":"extra"}}},{"id":"audit-summary","name":"Audit Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,200],"parameters":{"jsCode":"\nconst a1 = $('Call A1').all().map(i=>i.json);\nconst p  = $('Init Params').first().json;\nreturn [{json:{\n  status:'AUDIT_COMPLETE', mode:'audit_only',\n  course_id:p.course_id, direction:p.direction,\n  completed_at:new Date().toISOString(),\n  chunks_audited:a1.length,\n  a1_results:a1,\n  summary:`A1 audit complete — ${a1.length} chunk(s) analysed`\n}}];\n"}},{"id":"score-summary","name":"Score Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,600],"parameters":{"jsCode":"\nconst a1 = $('Call A1').all().map(i=>i.json);\nconst p  = $('Init Params').first().json;\nconst scores = a1.map(r => r.localizability_score || 0).filter(s=>s>0);\nconst avg = scores.length ? Math.round(scores.reduce((a,b)=>a+b,0)/scores.length) : 0;\nconst blockers = a1.flatMap(r => r.blockers || []);\nreturn [{json:{\n  status:'SCORE_COMPLETE', mode:'score_loc',\n  course_id:p.course_id, direction:p.direction,\n  completed_at:new Date().toISOString(),\n  localizability_score:avg,\n  blockers_count:blockers.length,\n  blockers:blockers,\n  summary:`Localizability score: ${avg}/100 — ${blockers.length} blocker(s)`\n}}];\n"}},{"id":"post-qa-switch","name":"Post-QA Mode?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[6520,672],"parameters":{"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $('Init Params').first().json.enabled_modules.qa_check }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"leftValue":"={{ $('Init Params').first().json.enabled_modules.localize_html }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"options":{}},"renameOutput":true,"outputKey":"qa_only"}]},"options":{"fallbackOutput":"extra"}}},{"id":"qa-summary","name":"QA Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[6800,522],"parameters":{"jsCode":"\nconst a5 = $('Call A5 iter3').all().map(i=>i.json);\nconst p  = $('Init Params').first().json;\nconst scores = a5.map(r=>r.score||0);\nconst avg = scores.length ? Math.round(scores.reduce((a,b)=>a+b,0)/scores.length):0;\nreturn [{json:{\n  status:'QA_COMPLETE', mode:'qa_check',\n  course_id:p.course_id, direction:p.direction,\n  completed_at:new Date().toISOString(),\n  qa_score:avg,\n  pass: avg>=90,\n  chunks:a5.length,\n  summary:`QA score: ${avg}/100 — ${avg>=90?'PASS':'FAIL'}`\n}}];\n"}}],"connections":{"CLS v3 Form":{"main":[[{"node":"Init Params","type":"main","index":0}]]},"Init Params":{"main":[[{"node":"Call HTML Extraction","type":"main","index":0}]]},"Call HTML Extraction":{"main":[[{"node":"Extract Fingerprint","type":"main","index":0}]]},"Extract Fingerprint":{"main":[[{"node":"Call Pre-Processor","type":"main","index":0}]]},"Call Pre-Processor":{"main":[[{"node":"Glossary Load 1 (pre-A1)","type":"main","index":0}]]},"Glossary Load 1 (pre-A1)":{"main":[[{"node":"Batch A1 (5/run)","type":"main","index":0}]]},"Batch A1 (5/run)":{"main":[[{"node":"Call A1","type":"main","index":0}]]},"Call A1":{"main":[[{"node":"Detect Domain","type":"main","index":0}]]},"Detect Domain":{"main":[[{"node":"Post-A1 Mode?","type":"main","index":0}]]},"Glossary Load 2 (post-A1)":{"main":[[{"node":"Call A2","type":"main","index":0}]]},"Call A2":{"main":[[{"node":"Batch Phase 1 (3/run)","type":"main","index":0}]]},"Batch Phase 1 (3/run)":{"main":[[{"node":"Call Pre-Translation","type":"main","index":0}]]},"Call Pre-Translation":{"main":[[{"node":"Direction?","type":"main","index":0}]]},"Direction?":{"main":[[{"node":"Call A3 FR-EN","type":"main","index":0}],[{"node":"Call A3 EN-FR","type":"main","index":0}]]},"Call A3 FR-EN":{"main":[[{"node":"Call A4","type":"main","index":0}]]},"Call A3 EN-FR":{"main":[[{"node":"Call A4","type":"main","index":0}]]},"Call A4":{"main":[[{"node":"Call A5","type":"main","index":0}]]},"Call A5":{"main":[[{"node":"QA Check iter1","type":"main","index":0}]]},"QA Check iter1":{"main":[[{"node":"Score >= 90?","type":"main","index":0}]]},"Score >= 90?":{"main":[[{"node":"Call A6","type":"main","index":0}],[{"node":"Call A3 iter2","type":"main","index":0}],[{"node":"Call A6","type":"main","index":0}]]},"Call A3 iter2":{"main":[[{"node":"Call A4 iter2","type":"main","index":0}]]},"Call A4 iter2":{"main":[[{"node":"Call A5 iter2","type":"main","index":0}]]},"Call A5 iter2":{"main":[[{"node":"QA Check iter2","type":"main","index":0}]]},"QA Check iter2":{"main":[[{"node":"Score >= 90 iter2?","type":"main","index":0}]]},"Score >= 90 iter2?":{"main":[[{"node":"Call A6","type":"main","index":0}],[{"node":"Call A3 iter3","type":"main","index":0}]]},"Call A3 iter3":{"main":[[{"node":"Call A4 iter3","type":"main","index":0}]]},"Call A4 iter3":{"main":[[{"node":"Call A5 iter3","type":"main","index":0}]]},"Call A5 iter3":{"main":[[{"node":"Post-QA Mode?","type":"main","index":0}]]},"Call A6":{"main":[[{"node":"Merge Phase 1","type":"main","index":0}]]},"Merge Phase 1":{"main":[[{"node":"Call Reassembler","type":"main","index":0}]]},"Call Reassembler":{"main":[[{"node":"Structural OK?","type":"main","index":0}]]},"Structural OK?":{"main":[[{"node":"Call Deliver Output","type":"main","index":0}],[{"node":"Flag BLOCKED","type":"main","index":0}]]},"Call Deliver Output":{"main":[[{"node":"Final Summary","type":"main","index":0}]]},"Flag BLOCKED":{"main":[[{"node":"Final Summary","type":"main","index":0}]]},"Post-A1 Mode?":{"main":[[{"node":"Audit Summary","type":"main","index":0}],[{"node":"Score Summary","type":"main","index":0}],[{"node":"Glossary Load 2 (post-A1)","type":"main","index":0}]]},"Audit Summary":{"main":[[{"node":"Final Summary","type":"main","index":0}]]},"Score Summary":{"main":[[{"node":"Final Summary","type":"main","index":0}]]},"Post-QA Mode?":{"main":[[{"node":"QA Summary","type":"main","index":0}],[{"node":"Call A6","type":"main","index":0}]]},"QA Summary":{"main":[[{"node":"Final Summary","type":"main","index":0}]]}},"authors":"Jérémie Borrotzu","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-04T20:42:03.691Z","id":309,"workflowId":"ApjYq9sdM5LKRVlq","versionId":"91626a61-34ef-4b70-a840-c6ea38687d0f","event":"activated","userId":"7ae71612-d8be-4acd-a26d-869e32490f0e"},{"createdAt":"2026-06-04T20:42:03.678Z","id":308,"workflowId":"ApjYq9sdM5LKRVlq","versionId":"91626a61-34ef-4b70-a840-c6ea38687d0f","event":"deactivated","userId":"7ae71612-d8be-4acd-a26d-869e32490f0e"}]}}