07_runs/MAIN_FORM_extraction_WJPSpr8dELxKu0mT.json
{"updatedAt":"2026-06-04T20:41:48.591Z","createdAt":"2026-03-12T16:12:36.912Z","id":"WJPSpr8dELxKu0mT","name":"[MAIN - FORM] OC HTML Course extraction","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"HTML Course extractor","formDescription":"This tool will extract a course into a single HTML page.","formFields":{"values":[{"fieldLabel":"Course ID","requiredField":true}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-448,96],"id":"15943264-6593-4e76-bb6d-e46bcf0d0fd1","name":"On form submission","webhookId":"4d5d02fb-c22b-4f54-b09d-ac4f3602b2f8"},{"parameters":{"workflowId":{"__rl":true,"value":"7FmkshRYxsvF4tCj","mode":"list","cachedResultUrl":"/workflow/7FmkshRYxsvF4tCj","cachedResultName":"[SUB] OC HTML Course extraction"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["Course ID"],"schema":[{"id":"Course ID","displayName":"Course ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-240,96],"id":"c0360e55-95c3-48ae-abf1-980ff8619aa5","name":"Call '[SUB] OC HTML Course extraction'","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"return [\n  {\n    binary: {\n      data: {\n        data: Buffer.from($input.first().json.html).toString('base64'),\n        mimeType: 'text/html',\n        fileName: $('On form submission').first().json['Course ID']+ '.html'\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"fb12bfb1-ee0a-4582-be97-411fe6fe79bd","name":"HTML to file"},{"parameters":{"operation":"completion","respondWith":"returnBinary","completionTitle":"Done","completionMessage":"A file save dialog should open now","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[192,0],"id":"fffaabde-9242-4189-b3b0-f477eb88ea83","name":"Done","webhookId":"57eba429-5a7c-437e-8bb9-b9f20be4bdc0"},{"parameters":{"operation":"completion","completionTitle":"Error!","completionMessage":"={{ $json.error }}","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[192,160],"id":"bd82bb68-1ffd-4f14-9d74-813d9520ddd0","name":"Error","webhookId":"57eba429-5a7c-437e-8bb9-b9f20be4bdc0"},{"id":"exec-trigger-main-form","name":"Called by CLS v3","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-448,296],"parameters":{"workflowInputs":{"values":[{"name":"Course ID"}]}}}],"connections":{"On form submission":{"main":[[{"node":"Call '[SUB] OC HTML Course extraction'","type":"main","index":0}]]},"Call '[SUB] OC HTML Course extraction'":{"main":[[{"node":"HTML to file","type":"main","index":0}],[{"node":"Error","type":"main","index":0}]]},"HTML to file":{"main":[[{"node":"Done","type":"main","index":0}]]},"Called by CLS v3":{"main":[[{"node":"Call '[SUB] OC HTML Course extraction'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{"On form submission":[{"json":{"Course ID":"6573181","submittedAt":"2026-01-05T12:04:30.280+01:00","formMode":"test"}}]},"versionId":"f96dc099-5216-46b6-a2a8-993fd93ca88c","activeVersionId":"f96dc099-5216-46b6-a2a8-993fd93ca88c","versionCounter":28,"triggerCount":1,"shared":[{"updatedAt":"2026-03-12T16:12:36.916Z","createdAt":"2026-03-12T16:12:36.916Z","role":"workflow:owner","workflowId":"WJPSpr8dELxKu0mT","projectId":"7y0kZCkeSDugmpzP","project":{"updatedAt":"2026-03-12T16:05:16.582Z","createdAt":"2026-03-12T16:02:39.200Z","id":"7y0kZCkeSDugmpzP","name":"Jérémie Borrotzu <jeremie.borrotzu@openclassrooms.com>","type":"personal","icon":null,"description":null,"creatorId":"7ae71612-d8be-4acd-a26d-869e32490f0e"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-04T20:41:48.592Z","createdAt":"2026-06-04T20:41:48.592Z","versionId":"f96dc099-5216-46b6-a2a8-993fd93ca88c","workflowId":"WJPSpr8dELxKu0mT","nodes":[{"parameters":{"formTitle":"HTML Course extractor","formDescription":"This tool will extract a course into a single HTML page.","formFields":{"values":[{"fieldLabel":"Course ID","requiredField":true}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-448,96],"id":"15943264-6593-4e76-bb6d-e46bcf0d0fd1","name":"On form submission","webhookId":"4d5d02fb-c22b-4f54-b09d-ac4f3602b2f8"},{"parameters":{"workflowId":{"__rl":true,"value":"7FmkshRYxsvF4tCj","mode":"list","cachedResultUrl":"/workflow/7FmkshRYxsvF4tCj","cachedResultName":"[SUB] OC HTML Course extraction"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["Course ID"],"schema":[{"id":"Course ID","displayName":"Course ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-240,96],"id":"c0360e55-95c3-48ae-abf1-980ff8619aa5","name":"Call '[SUB] OC HTML Course extraction'","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"return [\n  {\n    binary: {\n      data: {\n        data: Buffer.from($input.first().json.html).toString('base64'),\n        mimeType: 'text/html',\n        fileName: $('On form submission').first().json['Course ID']+ '.html'\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"fb12bfb1-ee0a-4582-be97-411fe6fe79bd","name":"HTML to file"},{"parameters":{"operation":"completion","respondWith":"returnBinary","completionTitle":"Done","completionMessage":"A file save dialog should open now","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[192,0],"id":"fffaabde-9242-4189-b3b0-f477eb88ea83","name":"Done","webhookId":"57eba429-5a7c-437e-8bb9-b9f20be4bdc0"},{"parameters":{"operation":"completion","completionTitle":"Error!","completionMessage":"={{ $json.error }}","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[192,160],"id":"bd82bb68-1ffd-4f14-9d74-813d9520ddd0","name":"Error","webhookId":"57eba429-5a7c-437e-8bb9-b9f20be4bdc0"},{"id":"exec-trigger-main-form","name":"Called by CLS v3","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-448,296],"parameters":{"workflowInputs":{"values":[{"name":"Course ID"}]}}}],"connections":{"On form submission":{"main":[[{"node":"Call '[SUB] OC HTML Course extraction'","type":"main","index":0}]]},"Call '[SUB] OC HTML Course extraction'":{"main":[[{"node":"HTML to file","type":"main","index":0}],[{"node":"Error","type":"main","index":0}]]},"HTML to file":{"main":[[{"node":"Done","type":"main","index":0}]]},"Called by CLS v3":{"main":[[{"node":"Call '[SUB] OC HTML Course extraction'","type":"main","index":0}]]}},"authors":"Jérémie Borrotzu","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-04T20:41:48.633Z","id":307,"workflowId":"WJPSpr8dELxKu0mT","versionId":"f96dc099-5216-46b6-a2a8-993fd93ca88c","event":"activated","userId":"7ae71612-d8be-4acd-a26d-869e32490f0e"},{"createdAt":"2026-06-04T20:41:48.621Z","id":306,"workflowId":"WJPSpr8dELxKu0mT","versionId":"f96dc099-5216-46b6-a2a8-993fd93ca88c","event":"deactivated","userId":"7ae71612-d8be-4acd-a26d-869e32490f0e"}]}}