07_runs/SUB_Batch_Submitter_P2YD7sOqf6uMAtqU.json
{"updatedAt":"2026-06-05T08:37:36.902Z","createdAt":"2026-05-29T14:08:42.529Z","id":"P2YD7sOqf6uMAtqU","name":"[SUB] CLS v3 — Batch Submitter","description":null,"active":true,"isArchived":false,"nodes":[{"id":"n0","name":"Input from MAIN","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,300],"parameters":{}},{"id":"n1","name":"Build JSONL","type":"n8n-nodes-base.code","typeVersion":2,"position":[260,300],"parameters":{"jsCode":"const inputs = $input.all().map(i => i.json);\nconst requests = inputs.map(inp => ({\n  custom_id: inp.custom_id || `${inp.agent_name||'agent'}-ch${inp.chapter_index||0}-ck${inp.chunk_index||1}`,\n  method: 'POST', url: '/v1/chat/completions',\n  body: {\n    model: inp.model || 'gpt-4o',\n    messages: [{role:'system',content:inp.system_prompt},{role:'user',content:inp.user_message}],\n    max_tokens: inp.max_tokens || 16000,\n    temperature: inp.temperature ?? 0.1,\n    response_format: {type:'json_object'}\n  }\n}));\nreturn [{json:{\n  jsonl: requests.map(r=>JSON.stringify(r)).join('\\n'),\n  custom_ids: requests.map(r=>r.custom_id),\n  agent_name: inputs[0].agent_name,\n  model: inputs[0].model,\n  course_id: inputs[0].course_id,\n  pipeline_meta: inputs[0].pipeline_meta||{}\n}}];"}},{"id":"n2","name":"Upload JSONL to OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1300,300],"parameters":{"method":"POST","url":"https://api.openai.com/v1/files","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formData","name":"purpose","value":"batch"},{"parameterType":"formBinaryData","name":"file","contentType":"application/jsonl","fileName":"batch_input.jsonl","inputDataFieldName":"file"}]}},"notes":"⚠️ Credential 'OpenAI API Key' à créer dans n8n (Header Auth: Authorization: Bearer {key})","credentials":{"httpHeaderAuth":{"id":"oWQq1j5RXiUXQXHK","name":"OpenAI API Key"}}},{"id":"n3","name":"After Upload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,300],"parameters":{"jsCode":"\n// After file upload — extract file_id and prepare batch creation\nconst resp = $input.first().json;\nconst fileId = resp.id;\nif (!fileId) throw new Error(`File upload failed: ${JSON.stringify(resp)}`);\n\nreturn [{ json: {\n  file_id:     fileId,\n  custom_id:   $('Build JSONL').first().json.custom_id,\n  agent_name:  $('Build JSONL').first().json.agent_name,\n  model:       $('Build JSONL').first().json.model,\n  course_id:   $('Build JSONL').first().json.course_id,\n  chapter_index: $('Build JSONL').first().json.chapter_index,\n  chunk_index:   $('Build JSONL').first().json.chunk_index,\n  pipeline_meta: $('Build JSONL').first().json.pipeline_meta\n}}];\n"}},{"id":"n4","name":"Create Batch","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1820,300],"parameters":{"method":"POST","url":"https://api.openai.com/v1/batches","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"input_file_id","value":"={{ $json.file_id }}"},{"name":"endpoint","value":"/v1/chat/completions"},{"name":"completion_window","value":"24h"}]}},"credentials":{"httpHeaderAuth":{"id":"oWQq1j5RXiUXQXHK","name":"OpenAI API Key"}}},{"id":"n5","name":"Return Batch Info","type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,300],"parameters":{"jsCode":"\n// After batch creation — return batch_id for the Poller\nconst resp = $input.first().json;\nconst batchId = resp.id;\nif (!batchId) throw new Error(`Batch creation failed: ${JSON.stringify(resp)}`);\n\nreturn [{ json: {\n  batch_id:    batchId,\n  status:      resp.status,\n  file_id:     $('After Upload').first().json.file_id,\n  custom_id:   $('After Upload').first().json.custom_id,\n  agent_name:  $('After Upload').first().json.agent_name,\n  model:       $('After Upload').first().json.model,\n  course_id:   $('After Upload').first().json.course_id,\n  chapter_index: $('After Upload').first().json.chapter_index,\n  chunk_index:   $('After Upload').first().json.chunk_index,\n  pipeline_meta: $('After Upload').first().json.pipeline_meta,\n  submitted_at: new Date().toISOString()\n}}];\n"}},{"id":"n_prep_gh","name":"Prepare GitHub Push","type":"n8n-nodes-base.code","typeVersion":2,"position":[520,300],"parameters":{"jsCode":"const inp = $input.first().json;\nconst ts  = Date.now();\nconst agent = (inp.agent_name||'agent').replace(/[\\s\\/]/g,'_');\nconst filename = `${agent}_batch_${ts}.jsonl`;\nconst courseId = String(inp.course_id||'unknown');\nconst githubPath = `07_runs/${courseId}/scratch/${filename}`;\nreturn [{ json: {\n  ...inp,\n  jsonl_base64:   Buffer.from(inp.jsonl).toString('base64'),\n  github_path:    githubPath,\n  github_filename: filename\n}}];"}},{"id":"n_push_gh","name":"Push JSONL to GitHub","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[780,300],"parameters":{"method":"PUT","url":"={{ 'https://api.github.com/repos/jeremieborrotzu-blip/Ressources_Loc_OSS/contents/' + $json.github_path }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"message","value":"={{ 'CLS v3 batch — ' + ($json.agent_name||'agent') + ' — ' + ($json.course_id||'?') }}"},{"name":"content","value":"={{ $json.jsonl_base64 }}"},{"name":"branch","value":"main"}]}},"credentials":{"githubApi":{"id":"yd8ufDV54XqNLA3P","name":"GitHub — Ressources_Loc_OSS"}}},{"id":"n_get_gh","name":"GET raw from GitHub","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1040,300],"parameters":{"method":"GET","url":"={{ 'https://api.github.com/repos/jeremieborrotzu-blip/Ressources_Loc_OSS/contents/' + $('Prepare GitHub Push').first().json.github_path }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3.raw"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"file"}}}},"credentials":{"githubApi":{"id":"yd8ufDV54XqNLA3P","name":"GitHub — Ressources_Loc_OSS"}}}],"connections":{"Input from MAIN":{"main":[[{"node":"Build JSONL","type":"main","index":0}]]},"Build JSONL":{"main":[[{"node":"Prepare GitHub Push","type":"main","index":0}]]},"Prepare GitHub Push":{"main":[[{"node":"Push JSONL to GitHub","type":"main","index":0}]]},"Push JSONL to GitHub":{"main":[[{"node":"GET raw from GitHub","type":"main","index":0}]]},"GET raw from GitHub":{"main":[[{"node":"Upload JSONL to OpenAI","type":"main","index":0}]]},"Upload JSONL to OpenAI":{"main":[[{"node":"After Upload","type":"main","index":0}]]},"After Upload":{"main":[[{"node":"Create Batch","type":"main","index":0}]]},"Create Batch":{"main":[[{"node":"Return Batch Info","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"7d6fb48a-43bb-4a7a-862a-0e68b921504e","activeVersionId":"7d6fb48a-43bb-4a7a-862a-0e68b921504e","versionCounter":33,"triggerCount":0,"shared":[{"updatedAt":"2026-05-29T14:08:42.532Z","createdAt":"2026-05-29T14:08:42.532Z","role":"workflow:owner","workflowId":"P2YD7sOqf6uMAtqU","projectId":"7y0kZCkeSDugmpzP","project":{"updatedAt":"2026-03-12T16:05:16.582Z","createdAt":"2026-03-12T16:02:39.200Z","id":"7y0kZCkeSDugmpzP","name":"Jérémie Borrotzu <jeremie.borrotzu@openclassrooms.com>","type":"personal","icon":null,"description":null,"creatorId":"7ae71612-d8be-4acd-a26d-869e32490f0e"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-05T08:37:36.903Z","createdAt":"2026-06-05T08:37:36.903Z","versionId":"7d6fb48a-43bb-4a7a-862a-0e68b921504e","workflowId":"P2YD7sOqf6uMAtqU","nodes":[{"id":"n0","name":"Input from MAIN","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,300],"parameters":{}},{"id":"n1","name":"Build JSONL","type":"n8n-nodes-base.code","typeVersion":2,"position":[260,300],"parameters":{"jsCode":"const inputs = $input.all().map(i => i.json);\nconst requests = inputs.map(inp => ({\n  custom_id: inp.custom_id || `${inp.agent_name||'agent'}-ch${inp.chapter_index||0}-ck${inp.chunk_index||1}`,\n  method: 'POST', url: '/v1/chat/completions',\n  body: {\n    model: inp.model || 'gpt-4o',\n    messages: [{role:'system',content:inp.system_prompt},{role:'user',content:inp.user_message}],\n    max_tokens: inp.max_tokens || 16000,\n    temperature: inp.temperature ?? 0.1,\n    response_format: {type:'json_object'}\n  }\n}));\nreturn [{json:{\n  jsonl: requests.map(r=>JSON.stringify(r)).join('\\n'),\n  custom_ids: requests.map(r=>r.custom_id),\n  agent_name: inputs[0].agent_name,\n  model: inputs[0].model,\n  course_id: inputs[0].course_id,\n  pipeline_meta: inputs[0].pipeline_meta||{}\n}}];"}},{"id":"n2","name":"Upload JSONL to OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1300,300],"parameters":{"method":"POST","url":"https://api.openai.com/v1/files","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formData","name":"purpose","value":"batch"},{"parameterType":"formBinaryData","name":"file","contentType":"application/jsonl","fileName":"batch_input.jsonl","inputDataFieldName":"file"}]}},"notes":"⚠️ Credential 'OpenAI API Key' à créer dans n8n (Header Auth: Authorization: Bearer {key})","credentials":{"httpHeaderAuth":{"id":"oWQq1j5RXiUXQXHK","name":"OpenAI API Key"}}},{"id":"n3","name":"After Upload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,300],"parameters":{"jsCode":"\n// After file upload — extract file_id and prepare batch creation\nconst resp = $input.first().json;\nconst fileId = resp.id;\nif (!fileId) throw new Error(`File upload failed: ${JSON.stringify(resp)}`);\n\nreturn [{ json: {\n  file_id:     fileId,\n  custom_id:   $('Build JSONL').first().json.custom_id,\n  agent_name:  $('Build JSONL').first().json.agent_name,\n  model:       $('Build JSONL').first().json.model,\n  course_id:   $('Build JSONL').first().json.course_id,\n  chapter_index: $('Build JSONL').first().json.chapter_index,\n  chunk_index:   $('Build JSONL').first().json.chunk_index,\n  pipeline_meta: $('Build JSONL').first().json.pipeline_meta\n}}];\n"}},{"id":"n4","name":"Create Batch","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1820,300],"parameters":{"method":"POST","url":"https://api.openai.com/v1/batches","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"input_file_id","value":"={{ $json.file_id }}"},{"name":"endpoint","value":"/v1/chat/completions"},{"name":"completion_window","value":"24h"}]}},"credentials":{"httpHeaderAuth":{"id":"oWQq1j5RXiUXQXHK","name":"OpenAI API Key"}}},{"id":"n5","name":"Return Batch Info","type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,300],"parameters":{"jsCode":"\n// After batch creation — return batch_id for the Poller\nconst resp = $input.first().json;\nconst batchId = resp.id;\nif (!batchId) throw new Error(`Batch creation failed: ${JSON.stringify(resp)}`);\n\nreturn [{ json: {\n  batch_id:    batchId,\n  status:      resp.status,\n  file_id:     $('After Upload').first().json.file_id,\n  custom_id:   $('After Upload').first().json.custom_id,\n  agent_name:  $('After Upload').first().json.agent_name,\n  model:       $('After Upload').first().json.model,\n  course_id:   $('After Upload').first().json.course_id,\n  chapter_index: $('After Upload').first().json.chapter_index,\n  chunk_index:   $('After Upload').first().json.chunk_index,\n  pipeline_meta: $('After Upload').first().json.pipeline_meta,\n  submitted_at: new Date().toISOString()\n}}];\n"}},{"id":"n_prep_gh","name":"Prepare GitHub Push","type":"n8n-nodes-base.code","typeVersion":2,"position":[520,300],"parameters":{"jsCode":"const inp = $input.first().json;\nconst ts  = Date.now();\nconst agent = (inp.agent_name||'agent').replace(/[\\s\\/]/g,'_');\nconst filename = `${agent}_batch_${ts}.jsonl`;\nconst courseId = String(inp.course_id||'unknown');\nconst githubPath = `07_runs/${courseId}/scratch/${filename}`;\nreturn [{ json: {\n  ...inp,\n  jsonl_base64:   Buffer.from(inp.jsonl).toString('base64'),\n  github_path:    githubPath,\n  github_filename: filename\n}}];"}},{"id":"n_push_gh","name":"Push JSONL to GitHub","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[780,300],"parameters":{"method":"PUT","url":"={{ 'https://api.github.com/repos/jeremieborrotzu-blip/Ressources_Loc_OSS/contents/' + $json.github_path }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"message","value":"={{ 'CLS v3 batch — ' + ($json.agent_name||'agent') + ' — ' + ($json.course_id||'?') }}"},{"name":"content","value":"={{ $json.jsonl_base64 }}"},{"name":"branch","value":"main"}]}},"credentials":{"githubApi":{"id":"yd8ufDV54XqNLA3P","name":"GitHub — Ressources_Loc_OSS"}}},{"id":"n_get_gh","name":"GET raw from GitHub","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1040,300],"parameters":{"method":"GET","url":"={{ 'https://api.github.com/repos/jeremieborrotzu-blip/Ressources_Loc_OSS/contents/' + $('Prepare GitHub Push').first().json.github_path }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3.raw"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"file"}}}},"credentials":{"githubApi":{"id":"yd8ufDV54XqNLA3P","name":"GitHub — Ressources_Loc_OSS"}}}],"connections":{"Input from MAIN":{"main":[[{"node":"Build JSONL","type":"main","index":0}]]},"Build JSONL":{"main":[[{"node":"Prepare GitHub Push","type":"main","index":0}]]},"Prepare GitHub Push":{"main":[[{"node":"Push JSONL to GitHub","type":"main","index":0}]]},"Push JSONL to GitHub":{"main":[[{"node":"GET raw from GitHub","type":"main","index":0}]]},"GET raw from GitHub":{"main":[[{"node":"Upload JSONL to OpenAI","type":"main","index":0}]]},"Upload JSONL to OpenAI":{"main":[[{"node":"After Upload","type":"main","index":0}]]},"After Upload":{"main":[[{"node":"Create Batch","type":"main","index":0}]]},"Create Batch":{"main":[[{"node":"Return Batch Info","type":"main","index":0}]]}},"authors":"Jérémie Borrotzu","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-05T08:37:36.933Z","id":443,"workflowId":"P2YD7sOqf6uMAtqU","versionId":"7d6fb48a-43bb-4a7a-862a-0e68b921504e","event":"activated","userId":"7ae71612-d8be-4acd-a26d-869e32490f0e"},{"createdAt":"2026-06-05T08:37:36.925Z","id":442,"workflowId":"P2YD7sOqf6uMAtqU","versionId":"7d6fb48a-43bb-4a7a-862a-0e68b921504e","event":"deactivated","userId":"7ae71612-d8be-4acd-a26d-869e32490f0e"}]}}