07_runs/SUB_DeliverOutput_fBgHok8kQUPxlTAT.json
{
  "updatedAt": "2026-06-10T09:46:20.622Z",
  "createdAt": "2026-05-29T14:04:53.024Z",
  "id": "fBgHok8kQUPxlTAT",
  "name": "[SUB] CLS v3 — Deliver Output",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "n0",
      "name": "Input from MAIN",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "parameters": {}
    },
    {
      "id": "n1",
      "name": "Prepare Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "parameters": {
        "jsCode": "const inp = $input.first().json;\n\nfunction b64(str) { return Buffer.from(str, 'utf-8').toString('base64'); }\nfunction pad(n)   { return String(n).padStart(2,'0'); }\n\nconst src  = inp.course_id        || 'unknown_src';\nconst tgt  = inp.target_course_id || 'unknown_tgt';\nconst sl   = inp.source_language  || 'fr';\nconst tl   = (inp.target_language || 'en-US').split('-')[0];\nconst dir  = `${sl}>${tl}`;\nconst now  = new Date();\nconst date = `${now.getFullYear()}-${pad(now.getMonth()+1)}-${pad(now.getDate())}`;\nconst base = `07_runs/${src}/output`;\n\n// 1. Final HTML\nconst htmlContent = inp.final_html || '';\nconst htmlPath    = `${base}/${tgt}_localized_${dir}.html`;\nconst htmlB64     = b64(htmlContent);\n\n// 2. Decision log\nconst logObj = {\n  meta: { course_id: src, target_course_id: tgt, direction: dir, date, score_total: inp.score_total || null },\n  a4_swap_log:       inp.a4_swap_log   || [],\n  a5_qa_report:      inp.a5_qa_report  || {},\n  a6_issue_log:      inp.a6_issue_log  || [],\n  structural_checks: inp.structural_checks || inp.checks || []\n};\nconst logPath = `${base}/${tgt}_decision_log_${dir}.json`;\nconst logB64  = b64(JSON.stringify(logObj, null, 2));\n\n// 3. TM patch CSV\nconst tmEntries = inp.domain_tm_patch || [];\nlet csvTM = 'source_term,target_term,direction,domain,category,context_note,do_not_translate,validated,first_seen_course,last_updated\\n';\nfor (const e of tmEntries) {\n  csvTM += [e.source_term||'', e.target_term||'', dir,\n    e.domain||inp.detected_domain||'', e.category||'',\n    (e.context_note||'').replace(/,/g,'；'),\n    e.do_not_translate||false, 'false', src, date].join(',') + '\\n';\n}\nconst tmPath = `${base}/${tgt}_tm_patch_${dir}.csv`;\nconst tmB64  = b64(csvTM);\n\n// 4. Phase 2 ToDo CSVs\nconst pending = inp.pending_phase2 || [];\nconst byType  = { static_graphic: [], oc_course_link: [], video: [], external_link: [] };\nfor (const item of pending) { if (byType[item.type]) byType[item.type].push(item); }\n\nconst csvHeader   = 'type,chapter_index,chunk_index,location,source_value,anchor_text,action_required\\n';\nconst linksHeader = 'type,chapter_index,chunk_index,location,source_value,anchor_text,action_required,is_aws,file_extension\\n';\nfunction isAWS(u) { return /amazonaws\\.com|s3\\.aws|cloudfront\\.net/i.test(u||''); }\nfunction fileExt(u) { const m = (u||'').split('?')[0].match(/\\.([a-z0-9]+)$/i); return m ? m[1].toLowerCase() : ''; }\nfunction toRow(i) {\n  return [i.type||'', i.chapter_index||0, i.chunk_index||0,\n    (i.location||'').replace(/,/g,'；'), (i.source_value||'').replace(/,/g,'；'),\n    (i.anchor_text||'').replace(/,/g,'；'), (i.action_required||'').replace(/,/g,'；')].join(',');\n}\nfunction toLinksRow(i) {\n  const url = i.source_value||'';\n  return [i.type||'', i.chapter_index||0, i.chunk_index||0,\n    (i.location||'').replace(/,/g,'；'), url.replace(/,/g,'；'),\n    (i.anchor_text||'').replace(/,/g,'；'), (i.action_required||'').replace(/,/g,'；'),\n    isAWS(url), fileExt(url)].join(',');\n}\nconst linksItems = [...byType.oc_course_link, ...byType.external_link];\n\nconst graphicsPath = `${base}/${tgt}_todo_static_graphics_${dir}.csv`;\nconst linksPath    = `${base}/${tgt}_todo_external_links_${dir}.csv`;\nconst videosPath   = `${base}/${tgt}_todo_videos_${dir}.csv`;\nconst graphicsB64  = b64(csvHeader + byType.static_graphic.map(toRow).join('\\n'));\nconst linksB64     = b64(linksHeader + linksItems.map(toLinksRow).join('\\n'));\nconst videosB64    = b64(csvHeader + byType.video.map(toRow).join('\\n'));\n\nconst ghBase = `https://github.com/jeremieborrotzu-blip/Ressources_Loc_OSS/blob/main/`;\n\n// 5a. Review MD — HTML mirror only (clean, for Notion import)\nconst reviewMd = `# ${tgt} — Localized Content Review\n\n| Field | Value |\n|---|---|\n| Source ID | \\`${src}\\` |\n| Target ID | \\`${tgt}\\` |\n| Direction | ${dir} |\n| Date | ${date} |\n| QA Score | ${inp.score_total ? inp.score_total + '/100' : 'N/A'} |\n| Structural integrity | ${inp.structural_integrity ? '✅ OK' : '❌ BLOCKED'} |\n\n---\n\n${htmlContent || '<!-- no HTML content -->'}\n`;\nconst mdPath = `${base}/${tgt}_review_${dir}.md`;\nconst mdB64  = b64(reviewMd);\n\n// 5b. QA Report MD — score + issues + Phase 2 ToDo (for PM)\nfunction todoTable(items, cols) {\n  if (!items.length) return '_None detected._\\n';\n  const h = '| ' + cols.join(' | ') + ' |';\n  const s = '| ' + cols.map(() => '---').join(' | ') + ' |';\n  const r = items.map(i => '| ' + cols.map(c => String(i[c]||'').replace(/\\|/g,'\\\\|').slice(0,80)).join(' | ') + ' |');\n  return [h, s, ...r].join('\\n') + '\\n';\n}\nconst a6Issues = (inp.a6_issue_log || [])\n  .map(i => `- **[${i.severity}]** \\`${i.location||'unknown'}\\`: ${i.issue}`).join('\\n') || 'None.';\n\n\n// ── État des lieux du HTML de SORTIE ──\nconst outChecks = inp.checks || inp.structural_checks || [];\nfunction checkTable(cks){\n  if(!cks.length) return '_Aucun check structurel disponible._\\n';\n  const h='| # | Check | Résultat | Détail |';\n  const s='| --- | --- | --- | --- |';\n  const r=cks.map(c=>`| ${c.id||''} | ${c.name||''} | ${c.pass?'✅ PASS':'❌ FAIL'} | ${String(c.detail||'').replace(/\\|/g,'\\\\|').slice(0,110)} |`);\n  return [h,s,...r].join('\\n')+'\\n';\n}\nconst _cnt = (re)=> (htmlContent.match(re)||[]).length;\nconst htmlMetrics = {\n  chars: htmlContent.length,\n  h2: _cnt(/<h2[\\s>]/gi), h3: _cnt(/<h3[\\s>]/gi), h4: _cnt(/<h4[\\s>]/gi),\n  pre: _cnt(/<pre[\\s>]/gi), links: _cnt(/<a\\s[^>]*href/gi), imgs: _cnt(/<img[\\s>]/gi)\n};\nconst checksPassed = outChecks.filter(c=>c.pass).length;\nconst checksTotal  = outChecks.length;\n\nconst qaMd = `# QA Report — ${tgt}\n\n| Field | Value |\n|---|---|\n| Source ID | \\`${src}\\` |\n| Target ID | \\`${tgt}\\` |\n| Direction | ${dir} |\n| Date | ${date} |\n| QA Score | ${inp.score_total ? inp.score_total + '/100' : 'N/A'} |\n| Structural integrity | ${inp.structural_integrity ? '✅ OK' : '❌ BLOCKED'} |\n\n## État des lieux du HTML de sortie\n\n**Verdict structurel : ${inp.structural_integrity ? '✅ HTML valide' : '❌ HTML bloqué'}** — ${checksPassed}/${checksTotal} checks passés.\n\n${checkTable(outChecks)}\n\n**Métriques du HTML produit :** ${htmlMetrics.chars.toLocaleString()} caractères · ${htmlMetrics.h2} parties (h2) · ${htmlMetrics.h3} chapitres (h3) · ${htmlMetrics.h4} sous-sections (h4) · ${htmlMetrics.pre} blocs de code · ${htmlMetrics.links} liens · ${htmlMetrics.imgs} images\n\n## A5 QA Summary\n\n${inp.a5_summary || 'No QA summary available.'}\n\n## A6 Issues\n\n${a6Issues}\n\n---\n\n## Reste à faire — Phase 2\n\n### 🖼 Static Graphics (pending A8)\n\n${todoTable(byType.static_graphic, ['location','source_value','anchor_text','action_required'])}\n→ [Full CSV](${ghBase}${graphicsPath})\n\n### 🔗 External Links & OC Course Links\n\n${todoTable(linksItems, ['type','location','source_value','anchor_text','action_required'])}\n→ [Full CSV](${ghBase}${linksPath})\n\n### 🎬 Videos (pending A7)\n\n${todoTable(byType.video, ['location','source_value','action_required'])}\n→ [Full CSV](${ghBase}${videosPath})\n\n---\n\n## GitHub Deliverables\n\n- [Localized HTML](${ghBase}${htmlPath})\n- [Review MD (Notion)](${ghBase}${mdPath})\n- [Decision Log](${ghBase}${logPath})\n- [TM Patch](${ghBase}${tmPath})\n`;\nconst qaPath = `${base}/${tgt}_qa_report_${dir}.md`;\nconst qaB64  = b64(qaMd);\n\nreturn [{ json: {\n  htmlPath, htmlB64,\n  logPath,  logB64,\n  tmPath,   tmB64,\n  mdPath,   mdB64,\n  qaPath,   qaB64,\n  graphicsPath, graphicsB64,\n  linksPath,    linksB64,\n  videosPath,   videosB64,\n  repo: 'jeremieborrotzu-blip/Ressources_Loc_OSS',\n  course_id: src, target_course_id: tgt,\n  direction: dir, date,\n  score_total: inp.score_total,\n  structural_integrity: inp.structural_integrity,\n  enabled_modules: inp.enabled_modules || [],\n  pending_counts: {\n    static_graphics: byType.static_graphic.length,\n    oc_course_links: byType.oc_course_link.length,\n    external_links:  byType.external_link.length,\n    videos:          byType.video.length\n  }\n}}];\n"
      }
    },
    {
      "id": "n6",
      "name": "Build Delivery Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "jsCode": "const prep = $('Prepare Files').first().json;\nconst ghBase = `https://github.com/${prep.repo}/blob/main/`;\n\nreturn [{ json: {\n  status: 'DELIVERED',\n  course_id:            prep.course_id,\n  target_course_id:     prep.target_course_id,\n  direction:            prep.direction,\n  date:                 prep.date,\n  score_total:          prep.score_total,\n  structural_integrity: prep.structural_integrity,\n  pending_phase2_counts: prep.pending_counts || {},\n  deliverables: {\n    html_github:   ghBase + prep.htmlPath,\n    review_md:     ghBase + prep.mdPath,\n    qa_report:     ghBase + prep.qaPath,\n    log_github:    ghBase + prep.logPath,\n    tm_patch:      ghBase + prep.tmPath,\n    todo_graphics: ghBase + prep.graphicsPath,\n    todo_links:    ghBase + prep.linksPath,\n    todo_videos:   ghBase + prep.videosPath\n  },\n  next_steps: [\n    'Import review .md into Notion for linguistic review',\n    'Review qa_report.md for QA score + Phase 2 checklist',\n    'Phase 2: localize static_graphics with A8',\n    'Phase 2: update OC course links once target courses are published',\n    'Phase 2: localize video captions with A7',\n    'Merge TM patch CSV into domain translation memory after validation',\n    'Re-inject HTML under target course ID on OC platform'\n  ]\n}}];\n"
      }
    },
    {
      "id": "gh_html",
      "name": "Push HTML",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        860,
        100
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "githubApi": {
          "id": "yd8ufDV54XqNLA3P",
          "name": "GitHub — Ressources_Loc_OSS"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "jeremieborrotzu-blip",
        "repository": "Ressources_Loc_OSS",
        "filePath": "={{ $('Prepare Files').first().json.htmlPath }}",
        "fileContent": "={{ Buffer.from($('Prepare Files').first().json.htmlB64, 'base64').toString('utf-8') }}",
        "commitMessage": "={{ 'feat: localized HTML — ' + $('Prepare Files').first().json.target_course_id }}",
        "additionalParameters": {
          "branch": "main"
        }
      }
    },
    {
      "id": "gh_log",
      "name": "Push Decision Log",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        860,
        220
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "githubApi": {
          "id": "yd8ufDV54XqNLA3P",
          "name": "GitHub — Ressources_Loc_OSS"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "jeremieborrotzu-blip",
        "repository": "Ressources_Loc_OSS",
        "filePath": "={{ $('Prepare Files').first().json.logPath }}",
        "fileContent": "={{ Buffer.from($('Prepare Files').first().json.logB64, 'base64').toString('utf-8') }}",
        "commitMessage": "={{ 'feat: decision log — ' + $('Prepare Files').first().json.target_course_id }}",
        "additionalParameters": {
          "branch": "main"
        }
      }
    },
    {
      "id": "gh_tm",
      "name": "Push TM Patch",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        860,
        340
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "githubApi": {
          "id": "yd8ufDV54XqNLA3P",
          "name": "GitHub — Ressources_Loc_OSS"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "jeremieborrotzu-blip",
        "repository": "Ressources_Loc_OSS",
        "filePath": "={{ $('Prepare Files').first().json.tmPath }}",
        "fileContent": "={{ Buffer.from($('Prepare Files').first().json.tmB64, 'base64').toString('utf-8') }}",
        "commitMessage": "={{ 'tm: TM patch — ' + $('Prepare Files').first().json.target_course_id }}",
        "additionalParameters": {
          "branch": "main"
        }
      }
    },
    {
      "id": "gh_md",
      "name": "Push Review MD",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        860,
        460
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "githubApi": {
          "id": "yd8ufDV54XqNLA3P",
          "name": "GitHub — Ressources_Loc_OSS"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "jeremieborrotzu-blip",
        "repository": "Ressources_Loc_OSS",
        "filePath": "={{ $('Prepare Files').first().json.mdPath }}",
        "fileContent": "={{ Buffer.from($('Prepare Files').first().json.mdB64, 'base64').toString('utf-8') }}",
        "commitMessage": "={{ 'docs: review MD — ' + $('Prepare Files').first().json.target_course_id }}",
        "additionalParameters": {
          "branch": "main"
        }
      }
    },
    {
      "id": "gh_qa",
      "name": "Push QA Report",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        860,
        580
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "githubApi": {
          "id": "yd8ufDV54XqNLA3P",
          "name": "GitHub — Ressources_Loc_OSS"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "jeremieborrotzu-blip",
        "repository": "Ressources_Loc_OSS",
        "filePath": "={{ $('Prepare Files').first().json.qaPath }}",
        "fileContent": "={{ Buffer.from($('Prepare Files').first().json.qaB64, 'base64').toString('utf-8') }}",
        "commitMessage": "={{ 'docs: QA report — ' + $('Prepare Files').first().json.target_course_id }}",
        "additionalParameters": {
          "branch": "main"
        }
      }
    },
    {
      "id": "gh_gr",
      "name": "Push Graphics CSV",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1080,
        100
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "githubApi": {
          "id": "yd8ufDV54XqNLA3P",
          "name": "GitHub — Ressources_Loc_OSS"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "jeremieborrotzu-blip",
        "repository": "Ressources_Loc_OSS",
        "filePath": "={{ $('Prepare Files').first().json.graphicsPath }}",
        "fileContent": "={{ Buffer.from($('Prepare Files').first().json.graphicsB64, 'base64').toString('utf-8') }}",
        "commitMessage": "={{ 'docs: graphics todo — ' + $('Prepare Files').first().json.target_course_id }}",
        "additionalParameters": {
          "branch": "main"
        }
      }
    },
    {
      "id": "gh_lk",
      "name": "Push Links CSV",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1080,
        220
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "githubApi": {
          "id": "yd8ufDV54XqNLA3P",
          "name": "GitHub — Ressources_Loc_OSS"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "jeremieborrotzu-blip",
        "repository": "Ressources_Loc_OSS",
        "filePath": "={{ $('Prepare Files').first().json.linksPath }}",
        "fileContent": "={{ Buffer.from($('Prepare Files').first().json.linksB64, 'base64').toString('utf-8') }}",
        "commitMessage": "={{ 'docs: links todo — ' + $('Prepare Files').first().json.target_course_id }}",
        "additionalParameters": {
          "branch": "main"
        }
      }
    },
    {
      "id": "gh_vd",
      "name": "Push Videos CSV",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1080,
        340
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "githubApi": {
          "id": "yd8ufDV54XqNLA3P",
          "name": "GitHub — Ressources_Loc_OSS"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "jeremieborrotzu-blip",
        "repository": "Ressources_Loc_OSS",
        "filePath": "={{ $('Prepare Files').first().json.videosPath }}",
        "fileContent": "={{ Buffer.from($('Prepare Files').first().json.videosB64, 'base64').toString('utf-8') }}",
        "commitMessage": "={{ 'docs: videos todo — ' + $('Prepare Files').first().json.target_course_id }}",
        "additionalParameters": {
          "branch": "main"
        }
      }
    }
  ],
  "connections": {
    "Input from MAIN": {
      "main": [
        [
          {
            "node": "Prepare Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Files": {
      "main": [
        [
          {
            "node": "Push HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push Decision Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push TM Patch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push Review MD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push QA Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push Graphics CSV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push Links CSV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push Videos CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push HTML": {
      "main": [
        [
          {
            "node": "Build Delivery Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Decision Log": {
      "main": [
        [
          {
            "node": "Build Delivery Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push TM Patch": {
      "main": [
        [
          {
            "node": "Build Delivery Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Review MD": {
      "main": [
        [
          {
            "node": "Build Delivery Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push QA Report": {
      "main": [
        [
          {
            "node": "Build Delivery Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Graphics CSV": {
      "main": [
        [
          {
            "node": "Build Delivery Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Links CSV": {
      "main": [
        [
          {
            "node": "Build Delivery Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Videos CSV": {
      "main": [
        [
          {
            "node": "Build Delivery Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "6b713f07-cd89-4b2a-8fa2-ca8e5f53667b",
  "activeVersionId": "6b713f07-cd89-4b2a-8fa2-ca8e5f53667b",
  "versionCounter": 45,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-29T14:04:53.025Z",
      "createdAt": "2026-05-29T14:04:53.025Z",
      "role": "workflow:owner",
      "workflowId": "fBgHok8kQUPxlTAT",
      "projectId": "7y0kZCkeSDugmpzP",
      "project": {
        "updatedAt": "2026-03-12T16:05:16.582Z",
        "createdAt": "2026-03-12T16:02:39.200Z",
        "id": "7y0kZCkeSDugmpzP",
        "name": "Jérémie Borrotzu <jeremie.borrotzu@openclassrooms.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-10T09:46:20.626Z",
    "createdAt": "2026-06-10T09:46:20.626Z",
    "versionId": "6b713f07-cd89-4b2a-8fa2-ca8e5f53667b",
    "workflowId": "fBgHok8kQUPxlTAT",
    "nodes": [
      {
        "id": "n0",
        "name": "Input from MAIN",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          0,
          300
        ],
        "parameters": {}
      },
      {
        "id": "n1",
        "name": "Prepare Files",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          260,
          300
        ],
        "parameters": {
          "jsCode": "const inp = $input.first().json;\n\nfunction b64(str) { return Buffer.from(str, 'utf-8').toString('base64'); }\nfunction pad(n)   { return String(n).padStart(2,'0'); }\n\nconst src  = inp.course_id        || 'unknown_src';\nconst tgt  = inp.target_course_id || 'unknown_tgt';\nconst sl   = inp.source_language  || 'fr';\nconst tl   = (inp.target_language || 'en-US').split('-')[0];\nconst dir  = `${sl}>${tl}`;\nconst now  = new Date();\nconst date = `${now.getFullYear()}-${pad(now.getMonth()+1)}-${pad(now.getDate())}`;\nconst base = `07_runs/${src}/output`;\n\n// 1. Final HTML\nconst htmlContent = inp.final_html || '';\nconst htmlPath    = `${base}/${tgt}_localized_${dir}.html`;\nconst htmlB64     = b64(htmlContent);\n\n// 2. Decision log\nconst logObj = {\n  meta: { course_id: src, target_course_id: tgt, direction: dir, date, score_total: inp.score_total || null },\n  a4_swap_log:       inp.a4_swap_log   || [],\n  a5_qa_report:      inp.a5_qa_report  || {},\n  a6_issue_log:      inp.a6_issue_log  || [],\n  structural_checks: inp.structural_checks || inp.checks || []\n};\nconst logPath = `${base}/${tgt}_decision_log_${dir}.json`;\nconst logB64  = b64(JSON.stringify(logObj, null, 2));\n\n// 3. TM patch CSV\nconst tmEntries = inp.domain_tm_patch || [];\nlet csvTM = 'source_term,target_term,direction,domain,category,context_note,do_not_translate,validated,first_seen_course,last_updated\\n';\nfor (const e of tmEntries) {\n  csvTM += [e.source_term||'', e.target_term||'', dir,\n    e.domain||inp.detected_domain||'', e.category||'',\n    (e.context_note||'').replace(/,/g,'；'),\n    e.do_not_translate||false, 'false', src, date].join(',') + '\\n';\n}\nconst tmPath = `${base}/${tgt}_tm_patch_${dir}.csv`;\nconst tmB64  = b64(csvTM);\n\n// 4. Phase 2 ToDo CSVs\nconst pending = inp.pending_phase2 || [];\nconst byType  = { static_graphic: [], oc_course_link: [], video: [], external_link: [] };\nfor (const item of pending) { if (byType[item.type]) byType[item.type].push(item); }\n\nconst csvHeader   = 'type,chapter_index,chunk_index,location,source_value,anchor_text,action_required\\n';\nconst linksHeader = 'type,chapter_index,chunk_index,location,source_value,anchor_text,action_required,is_aws,file_extension\\n';\nfunction isAWS(u) { return /amazonaws\\.com|s3\\.aws|cloudfront\\.net/i.test(u||''); }\nfunction fileExt(u) { const m = (u||'').split('?')[0].match(/\\.([a-z0-9]+)$/i); return m ? m[1].toLowerCase() : ''; }\nfunction toRow(i) {\n  return [i.type||'', i.chapter_index||0, i.chunk_index||0,\n    (i.location||'').replace(/,/g,'；'), (i.source_value||'').replace(/,/g,'；'),\n    (i.anchor_text||'').replace(/,/g,'；'), (i.action_required||'').replace(/,/g,'；')].join(',');\n}\nfunction toLinksRow(i) {\n  const url = i.source_value||'';\n  return [i.type||'', i.chapter_index||0, i.chunk_index||0,\n    (i.location||'').replace(/,/g,'；'), url.replace(/,/g,'；'),\n    (i.anchor_text||'').replace(/,/g,'；'), (i.action_required||'').replace(/,/g,'；'),\n    isAWS(url), fileExt(url)].join(',');\n}\nconst linksItems = [...byType.oc_course_link, ...byType.external_link];\n\nconst graphicsPath = `${base}/${tgt}_todo_static_graphics_${dir}.csv`;\nconst linksPath    = `${base}/${tgt}_todo_external_links_${dir}.csv`;\nconst videosPath   = `${base}/${tgt}_todo_videos_${dir}.csv`;\nconst graphicsB64  = b64(csvHeader + byType.static_graphic.map(toRow).join('\\n'));\nconst linksB64     = b64(linksHeader + linksItems.map(toLinksRow).join('\\n'));\nconst videosB64    = b64(csvHeader + byType.video.map(toRow).join('\\n'));\n\nconst ghBase = `https://github.com/jeremieborrotzu-blip/Ressources_Loc_OSS/blob/main/`;\n\n// 5a. Review MD — HTML mirror only (clean, for Notion import)\nconst reviewMd = `# ${tgt} — Localized Content Review\n\n| Field | Value |\n|---|---|\n| Source ID | \\`${src}\\` |\n| Target ID | \\`${tgt}\\` |\n| Direction | ${dir} |\n| Date | ${date} |\n| QA Score | ${inp.score_total ? inp.score_total + '/100' : 'N/A'} |\n| Structural integrity | ${inp.structural_integrity ? '✅ OK' : '❌ BLOCKED'} |\n\n---\n\n${htmlContent || '<!-- no HTML content -->'}\n`;\nconst mdPath = `${base}/${tgt}_review_${dir}.md`;\nconst mdB64  = b64(reviewMd);\n\n// 5b. QA Report MD — score + issues + Phase 2 ToDo (for PM)\nfunction todoTable(items, cols) {\n  if (!items.length) return '_None detected._\\n';\n  const h = '| ' + cols.join(' | ') + ' |';\n  const s = '| ' + cols.map(() => '---').join(' | ') + ' |';\n  const r = items.map(i => '| ' + cols.map(c => String(i[c]||'').replace(/\\|/g,'\\\\|').slice(0,80)).join(' | ') + ' |');\n  return [h, s, ...r].join('\\n') + '\\n';\n}\nconst a6Issues = (inp.a6_issue_log || [])\n  .map(i => `- **[${i.severity}]** \\`${i.location||'unknown'}\\`: ${i.issue}`).join('\\n') || 'None.';\n\n\n// ── État des lieux du HTML de SORTIE ──\nconst outChecks = inp.checks || inp.structural_checks || [];\nfunction checkTable(cks){\n  if(!cks.length) return '_Aucun check structurel disponible._\\n';\n  const h='| # | Check | Résultat | Détail |';\n  const s='| --- | --- | --- | --- |';\n  const r=cks.map(c=>`| ${c.id||''} | ${c.name||''} | ${c.pass?'✅ PASS':'❌ FAIL'} | ${String(c.detail||'').replace(/\\|/g,'\\\\|').slice(0,110)} |`);\n  return [h,s,...r].join('\\n')+'\\n';\n}\nconst _cnt = (re)=> (htmlContent.match(re)||[]).length;\nconst htmlMetrics = {\n  chars: htmlContent.length,\n  h2: _cnt(/<h2[\\s>]/gi), h3: _cnt(/<h3[\\s>]/gi), h4: _cnt(/<h4[\\s>]/gi),\n  pre: _cnt(/<pre[\\s>]/gi), links: _cnt(/<a\\s[^>]*href/gi), imgs: _cnt(/<img[\\s>]/gi)\n};\nconst checksPassed = outChecks.filter(c=>c.pass).length;\nconst checksTotal  = outChecks.length;\n\nconst qaMd = `# QA Report — ${tgt}\n\n| Field | Value |\n|---|---|\n| Source ID | \\`${src}\\` |\n| Target ID | \\`${tgt}\\` |\n| Direction | ${dir} |\n| Date | ${date} |\n| QA Score | ${inp.score_total ? inp.score_total + '/100' : 'N/A'} |\n| Structural integrity | ${inp.structural_integrity ? '✅ OK' : '❌ BLOCKED'} |\n\n## État des lieux du HTML de sortie\n\n**Verdict structurel : ${inp.structural_integrity ? '✅ HTML valide' : '❌ HTML bloqué'}** — ${checksPassed}/${checksTotal} checks passés.\n\n${checkTable(outChecks)}\n\n**Métriques du HTML produit :** ${htmlMetrics.chars.toLocaleString()} caractères · ${htmlMetrics.h2} parties (h2) · ${htmlMetrics.h3} chapitres (h3) · ${htmlMetrics.h4} sous-sections (h4) · ${htmlMetrics.pre} blocs de code · ${htmlMetrics.links} liens · ${htmlMetrics.imgs} images\n\n## A5 QA Summary\n\n${inp.a5_summary || 'No QA summary available.'}\n\n## A6 Issues\n\n${a6Issues}\n\n---\n\n## Reste à faire — Phase 2\n\n### 🖼 Static Graphics (pending A8)\n\n${todoTable(byType.static_graphic, ['location','source_value','anchor_text','action_required'])}\n→ [Full CSV](${ghBase}${graphicsPath})\n\n### 🔗 External Links & OC Course Links\n\n${todoTable(linksItems, ['type','location','source_value','anchor_text','action_required'])}\n→ [Full CSV](${ghBase}${linksPath})\n\n### 🎬 Videos (pending A7)\n\n${todoTable(byType.video, ['location','source_value','action_required'])}\n→ [Full CSV](${ghBase}${videosPath})\n\n---\n\n## GitHub Deliverables\n\n- [Localized HTML](${ghBase}${htmlPath})\n- [Review MD (Notion)](${ghBase}${mdPath})\n- [Decision Log](${ghBase}${logPath})\n- [TM Patch](${ghBase}${tmPath})\n`;\nconst qaPath = `${base}/${tgt}_qa_report_${dir}.md`;\nconst qaB64  = b64(qaMd);\n\nreturn [{ json: {\n  htmlPath, htmlB64,\n  logPath,  logB64,\n  tmPath,   tmB64,\n  mdPath,   mdB64,\n  qaPath,   qaB64,\n  graphicsPath, graphicsB64,\n  linksPath,    linksB64,\n  videosPath,   videosB64,\n  repo: 'jeremieborrotzu-blip/Ressources_Loc_OSS',\n  course_id: src, target_course_id: tgt,\n  direction: dir, date,\n  score_total: inp.score_total,\n  structural_integrity: inp.structural_integrity,\n  enabled_modules: inp.enabled_modules || [],\n  pending_counts: {\n    static_graphics: byType.static_graphic.length,\n    oc_course_links: byType.oc_course_link.length,\n    external_links:  byType.external_link.length,\n    videos:          byType.video.length\n  }\n}}];\n"
        }
      },
      {
        "id": "n6",
        "name": "Build Delivery Summary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          300
        ],
        "parameters": {
          "jsCode": "const prep = $('Prepare Files').first().json;\nconst ghBase = `https://github.com/${prep.repo}/blob/main/`;\n\nreturn [{ json: {\n  status: 'DELIVERED',\n  course_id:            prep.course_id,\n  target_course_id:     prep.target_course_id,\n  direction:            prep.direction,\n  date:                 prep.date,\n  score_total:          prep.score_total,\n  structural_integrity: prep.structural_integrity,\n  pending_phase2_counts: prep.pending_counts || {},\n  deliverables: {\n    html_github:   ghBase + prep.htmlPath,\n    review_md:     ghBase + prep.mdPath,\n    qa_report:     ghBase + prep.qaPath,\n    log_github:    ghBase + prep.logPath,\n    tm_patch:      ghBase + prep.tmPath,\n    todo_graphics: ghBase + prep.graphicsPath,\n    todo_links:    ghBase + prep.linksPath,\n    todo_videos:   ghBase + prep.videosPath\n  },\n  next_steps: [\n    'Import review .md into Notion for linguistic review',\n    'Review qa_report.md for QA score + Phase 2 checklist',\n    'Phase 2: localize static_graphics with A8',\n    'Phase 2: update OC course links once target courses are published',\n    'Phase 2: localize video captions with A7',\n    'Merge TM patch CSV into domain translation memory after validation',\n    'Re-inject HTML under target course ID on OC platform'\n  ]\n}}];\n"
        }
      },
      {
        "id": "gh_html",
        "name": "Push HTML",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          860,
          100
        ],
        "onError": "continueRegularOutput",
        "credentials": {
          "githubApi": {
            "id": "yd8ufDV54XqNLA3P",
            "name": "GitHub — Ressources_Loc_OSS"
          }
        },
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "jeremieborrotzu-blip",
          "repository": "Ressources_Loc_OSS",
          "filePath": "={{ $('Prepare Files').first().json.htmlPath }}",
          "fileContent": "={{ Buffer.from($('Prepare Files').first().json.htmlB64, 'base64').toString('utf-8') }}",
          "commitMessage": "={{ 'feat: localized HTML — ' + $('Prepare Files').first().json.target_course_id }}",
          "additionalParameters": {
            "branch": "main"
          }
        }
      },
      {
        "id": "gh_log",
        "name": "Push Decision Log",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          860,
          220
        ],
        "onError": "continueRegularOutput",
        "credentials": {
          "githubApi": {
            "id": "yd8ufDV54XqNLA3P",
            "name": "GitHub — Ressources_Loc_OSS"
          }
        },
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "jeremieborrotzu-blip",
          "repository": "Ressources_Loc_OSS",
          "filePath": "={{ $('Prepare Files').first().json.logPath }}",
          "fileContent": "={{ Buffer.from($('Prepare Files').first().json.logB64, 'base64').toString('utf-8') }}",
          "commitMessage": "={{ 'feat: decision log — ' + $('Prepare Files').first().json.target_course_id }}",
          "additionalParameters": {
            "branch": "main"
          }
        }
      },
      {
        "id": "gh_tm",
        "name": "Push TM Patch",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          860,
          340
        ],
        "onError": "continueRegularOutput",
        "credentials": {
          "githubApi": {
            "id": "yd8ufDV54XqNLA3P",
            "name": "GitHub — Ressources_Loc_OSS"
          }
        },
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "jeremieborrotzu-blip",
          "repository": "Ressources_Loc_OSS",
          "filePath": "={{ $('Prepare Files').first().json.tmPath }}",
          "fileContent": "={{ Buffer.from($('Prepare Files').first().json.tmB64, 'base64').toString('utf-8') }}",
          "commitMessage": "={{ 'tm: TM patch — ' + $('Prepare Files').first().json.target_course_id }}",
          "additionalParameters": {
            "branch": "main"
          }
        }
      },
      {
        "id": "gh_md",
        "name": "Push Review MD",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          860,
          460
        ],
        "onError": "continueRegularOutput",
        "credentials": {
          "githubApi": {
            "id": "yd8ufDV54XqNLA3P",
            "name": "GitHub — Ressources_Loc_OSS"
          }
        },
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "jeremieborrotzu-blip",
          "repository": "Ressources_Loc_OSS",
          "filePath": "={{ $('Prepare Files').first().json.mdPath }}",
          "fileContent": "={{ Buffer.from($('Prepare Files').first().json.mdB64, 'base64').toString('utf-8') }}",
          "commitMessage": "={{ 'docs: review MD — ' + $('Prepare Files').first().json.target_course_id }}",
          "additionalParameters": {
            "branch": "main"
          }
        }
      },
      {
        "id": "gh_qa",
        "name": "Push QA Report",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          860,
          580
        ],
        "onError": "continueRegularOutput",
        "credentials": {
          "githubApi": {
            "id": "yd8ufDV54XqNLA3P",
            "name": "GitHub — Ressources_Loc_OSS"
          }
        },
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "jeremieborrotzu-blip",
          "repository": "Ressources_Loc_OSS",
          "filePath": "={{ $('Prepare Files').first().json.qaPath }}",
          "fileContent": "={{ Buffer.from($('Prepare Files').first().json.qaB64, 'base64').toString('utf-8') }}",
          "commitMessage": "={{ 'docs: QA report — ' + $('Prepare Files').first().json.target_course_id }}",
          "additionalParameters": {
            "branch": "main"
          }
        }
      },
      {
        "id": "gh_gr",
        "name": "Push Graphics CSV",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          1080,
          100
        ],
        "onError": "continueRegularOutput",
        "credentials": {
          "githubApi": {
            "id": "yd8ufDV54XqNLA3P",
            "name": "GitHub — Ressources_Loc_OSS"
          }
        },
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "jeremieborrotzu-blip",
          "repository": "Ressources_Loc_OSS",
          "filePath": "={{ $('Prepare Files').first().json.graphicsPath }}",
          "fileContent": "={{ Buffer.from($('Prepare Files').first().json.graphicsB64, 'base64').toString('utf-8') }}",
          "commitMessage": "={{ 'docs: graphics todo — ' + $('Prepare Files').first().json.target_course_id }}",
          "additionalParameters": {
            "branch": "main"
          }
        }
      },
      {
        "id": "gh_lk",
        "name": "Push Links CSV",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          1080,
          220
        ],
        "onError": "continueRegularOutput",
        "credentials": {
          "githubApi": {
            "id": "yd8ufDV54XqNLA3P",
            "name": "GitHub — Ressources_Loc_OSS"
          }
        },
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "jeremieborrotzu-blip",
          "repository": "Ressources_Loc_OSS",
          "filePath": "={{ $('Prepare Files').first().json.linksPath }}",
          "fileContent": "={{ Buffer.from($('Prepare Files').first().json.linksB64, 'base64').toString('utf-8') }}",
          "commitMessage": "={{ 'docs: links todo — ' + $('Prepare Files').first().json.target_course_id }}",
          "additionalParameters": {
            "branch": "main"
          }
        }
      },
      {
        "id": "gh_vd",
        "name": "Push Videos CSV",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          1080,
          340
        ],
        "onError": "continueRegularOutput",
        "credentials": {
          "githubApi": {
            "id": "yd8ufDV54XqNLA3P",
            "name": "GitHub — Ressources_Loc_OSS"
          }
        },
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "jeremieborrotzu-blip",
          "repository": "Ressources_Loc_OSS",
          "filePath": "={{ $('Prepare Files').first().json.videosPath }}",
          "fileContent": "={{ Buffer.from($('Prepare Files').first().json.videosB64, 'base64').toString('utf-8') }}",
          "commitMessage": "={{ 'docs: videos todo — ' + $('Prepare Files').first().json.target_course_id }}",
          "additionalParameters": {
            "branch": "main"
          }
        }
      }
    ],
    "connections": {
      "Input from MAIN": {
        "main": [
          [
            {
              "node": "Prepare Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Files": {
        "main": [
          [
            {
              "node": "Push HTML",
              "type": "main",
              "index": 0
            },
            {
              "node": "Push Decision Log",
              "type": "main",
              "index": 0
            },
            {
              "node": "Push TM Patch",
              "type": "main",
              "index": 0
            },
            {
              "node": "Push Review MD",
              "type": "main",
              "index": 0
            },
            {
              "node": "Push QA Report",
              "type": "main",
              "index": 0
            },
            {
              "node": "Push Graphics CSV",
              "type": "main",
              "index": 0
            },
            {
              "node": "Push Links CSV",
              "type": "main",
              "index": 0
            },
            {
              "node": "Push Videos CSV",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Push HTML": {
        "main": [
          [
            {
              "node": "Build Delivery Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Push Decision Log": {
        "main": [
          [
            {
              "node": "Build Delivery Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Push TM Patch": {
        "main": [
          [
            {
              "node": "Build Delivery Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Push Review MD": {
        "main": [
          [
            {
              "node": "Build Delivery Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Push QA Report": {
        "main": [
          [
            {
              "node": "Build Delivery Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Push Graphics CSV": {
        "main": [
          [
            {
              "node": "Build Delivery Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Push Links CSV": {
        "main": [
          [
            {
              "node": "Build Delivery Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Push Videos CSV": {
        "main": [
          [
            {
              "node": "Build Delivery Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jérémie Borrotzu",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-10T09:46:20.733Z",
        "id": 638,
        "workflowId": "fBgHok8kQUPxlTAT",
        "versionId": "6b713f07-cd89-4b2a-8fa2-ca8e5f53667b",
        "event": "activated",
        "userId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      },
      {
        "createdAt": "2026-06-10T09:46:20.687Z",
        "id": 637,
        "workflowId": "fBgHok8kQUPxlTAT",
        "versionId": "6b713f07-cd89-4b2a-8fa2-ca8e5f53667b",
        "event": "deactivated",
        "userId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      }
    ]
  }
}