04_n8n_flows/CLS_v3/[AGENT] CLS v3 — A2 Terminology Architect.json
{
  "updatedAt": "2026-06-09T09:19:59.062Z",
  "createdAt": "2026-05-29T14:13:50.560Z",
  "id": "BKminhI3j8D4ybs1",
  "name": "[AGENT] CLS v3 — A2 Terminology Architect",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "n0",
      "name": "Input from MAIN",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "parameters": {}
    },
    {
      "id": "n1",
      "name": "Prep URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "jsCode": "return [{json: {sys_url: \"https://api.github.com/repos/jeremieborrotzu-blip/Ressources_Loc_OSS/contents/01_prompts/a2_terminology_architect_system.txt\", usr_url: \"https://api.github.com/repos/jeremieborrotzu-blip/Ressources_Loc_OSS/contents/01_prompts/a2_terminology_architect_user_template.txt\", ...($input.first().json)}}];"
      }
    },
    {
      "id": "n2",
      "name": "Load System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        440,
        180
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Prep URLs').item.json.sys_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        }
      },
      "credentials": {
        "githubApi": {
          "id": "yd8ufDV54XqNLA3P",
          "name": "GitHub — Ressources_Loc_OSS"
        }
      }
    },
    {
      "id": "n3",
      "name": "Load User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        440,
        420
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Prep URLs').item.json.usr_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        }
      },
      "credentials": {
        "githubApi": {
          "id": "yd8ufDV54XqNLA3P",
          "name": "GitHub — Ressources_Loc_OSS"
        }
      }
    },
    {
      "id": "n4",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "jsCode": "const items = $('Input from MAIN').all().map(i => i.json);\nconst sys = Buffer.from($('Load System').first().json.content,'base64').toString('utf-8');\nconst usrTemplate = Buffer.from($('Load User').first().json.content,'base64').toString('utf-8');\n\nreturn items.map(inp => {\n  let usr = usrTemplate;\n  const a1out = inp.a1_audit||inp.agent_output||{};\n  const vars = {\n    course_id: inp.course_id||'', chapter_index: inp.chapter_index||0,\n    chunk_index: inp.chunk_index||1, source_language: inp.source_language||'fr',\n    target_language: inp.target_language||'en-US', html_content: inp.html||inp.html_content||'',\n    detected_domain: inp.detected_domain||'',\n    a1_audit: JSON.stringify(a1out), a1_outputs: JSON.stringify(inp.a1_outputs||[]),\n    domain_validated_tm: JSON.stringify(inp.domain_validated_tm||[]),\n    domain_unvalidated_tm: JSON.stringify(inp.domain_unvalidated_tm||[]),\n    common_glossary: JSON.stringify(inp.common_glossary||[]),\n    score_target: inp.score_target||90\n  };\n  Object.entries(vars).forEach(([k,v]) => {\n    usr = usr.replace(new RegExp('\\\\{{'+k+'\\\\}}','g'), String(v));\n  });\n  return {json:{\n    system_prompt: sys, user_message: usr,\n    model: 'gpt-5.5-pro-2026-04-23',\n max_tokens: 8000,\n    custom_id: (inp.course_id||'x')+'-ch'+(inp.chapter_index||0)+'-ck'+(inp.chunk_index||1)+'-a2',\n    agent_name: 'A2 Terminology Architect', course_id: inp.course_id,\n    chapter_index: inp.chapter_index, chunk_index: inp.chunk_index,\n    pipeline_meta: inp.pipeline_meta||{}\n  }};\n});"
      }
    },
    {
      "id": "n5",
      "name": "Call Submitter",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        960,
        300
      ],
      "parameters": {
        "workflowId": "P2YD7sOqf6uMAtqU",
        "mode": "passThrough"
      }
    },
    {
      "id": "n6",
      "name": "Call Poller",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1220,
        300
      ],
      "parameters": {
        "workflowId": "HDdfFxAIS1qnLUEe",
        "mode": "passThrough"
      }
    },
    {
      "id": "n7",
      "name": "Return Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        300
      ],
      "parameters": {
        "jsCode": "const p = $input.first().json;\nconst origItems = $('Input from MAIN').all().map(i => i.json);\nconst results = p.results || [{custom_id: null, parsed_content: p.agent_output}];\n\nconst rMap = {};\nresults.forEach(r => {\n  const m = (r.custom_id||'').match(/-ch(\\d+)-ck(\\d+)-/);\n  if(m) rMap[m[1]+'-'+m[2]] = r.parsed_content;\n});\n\nif(p.status==='failed'||p.status==='timed_out')\n  return origItems.map(orig => ({json:{\n    status:'error', agent:'A2 Terminology Architect', error:p.error, escalation:true,\n    course_id:p.course_id||orig.course_id,\n    chapter_index:orig.chapter_index||0, chunk_index:orig.chunk_index||1\n  }}));\n\nreturn origItems.map(orig => {\n  const key = (orig.chapter_index||0)+'-'+(orig.chunk_index||1);\n  const ao = rMap[key] || results[0]?.parsed_content || null;\n  return {json:{\n    status:'ok', agent:'A2 Terminology Architect', agent_output:ao, a2_glossary:ao||{},\n    course_id:p.course_id||orig.course_id,\n    chapter_index:orig.chapter_index||0, chunk_index:orig.chunk_index||1,\n    pipeline_meta:p.pipeline_meta||{},\n    html:orig.html||orig.html_content||'', source_html:orig.html||orig.source_html||'',\n    a1_audit:orig.a1_audit||orig.a1_audit||{}, a1_outputs:orig.a1_outputs||[],\n    source_language:orig.source_language||'fr', target_language:orig.target_language||'en-US',\n    target_course_id:orig.target_course_id||'', score_target:orig.score_target||90,\n    detected_domain:orig.detected_domain||'', preceding_context:orig.preceding_context||'',\n    enabled_modules:orig.enabled_modules||{}, iteration:orig.iteration||1,\n    common_glossary:orig.common_glossary||[], domain_validated_tm:orig.domain_validated_tm||[],\n    domain_unvalidated_tm:orig.domain_unvalidated_tm||[]\n  }};\n});"
      }
    }
  ],
  "connections": {
    "Input from MAIN": {
      "main": [
        [
          {
            "node": "Prep URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep URLs": {
      "main": [
        [
          {
            "node": "Load System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load System": {
      "main": [
        [
          {
            "node": "Load User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load User": {
      "main": [
        [
          {
            "node": "Build Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Message": {
      "main": [
        [
          {
            "node": "Call Submitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Submitter": {
      "main": [
        [
          {
            "node": "Call Poller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Poller": {
      "main": [
        [
          {
            "node": "Return Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "4ae31d93-5dca-4a5b-981f-f077116ad4a0",
  "activeVersionId": "4ae31d93-5dca-4a5b-981f-f077116ad4a0",
  "versionCounter": 40,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-29T14:13:50.561Z",
      "createdAt": "2026-05-29T14:13:50.561Z",
      "role": "workflow:owner",
      "workflowId": "BKminhI3j8D4ybs1",
      "projectId": "7y0kZCkeSDugmpzP",
      "project": {
        "updatedAt": "2026-03-12T16:05:16.582Z",
        "createdAt": "2026-03-12T16:02:39.200Z",
        "id": "7y0kZCkeSDugmpzP",
        "name": "Jérémie Borrotzu <jeremie.borrotzu@openclassrooms.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-09T09:19:59.063Z",
    "createdAt": "2026-06-09T09:19:59.063Z",
    "versionId": "4ae31d93-5dca-4a5b-981f-f077116ad4a0",
    "workflowId": "BKminhI3j8D4ybs1",
    "nodes": [
      {
        "id": "n0",
        "name": "Input from MAIN",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          0,
          300
        ],
        "parameters": {}
      },
      {
        "id": "n1",
        "name": "Prep URLs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          220,
          300
        ],
        "parameters": {
          "jsCode": "return [{json: {sys_url: \"https://api.github.com/repos/jeremieborrotzu-blip/Ressources_Loc_OSS/contents/01_prompts/a2_terminology_architect_system.txt\", usr_url: \"https://api.github.com/repos/jeremieborrotzu-blip/Ressources_Loc_OSS/contents/01_prompts/a2_terminology_architect_user_template.txt\", ...($input.first().json)}}];"
        }
      },
      {
        "id": "n2",
        "name": "Load System",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          440,
          180
        ],
        "parameters": {
          "method": "GET",
          "url": "={{ $('Prep URLs').item.json.sys_url }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github.v3+json"
              }
            ]
          }
        },
        "credentials": {
          "githubApi": {
            "id": "yd8ufDV54XqNLA3P",
            "name": "GitHub — Ressources_Loc_OSS"
          }
        }
      },
      {
        "id": "n3",
        "name": "Load User",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          440,
          420
        ],
        "parameters": {
          "method": "GET",
          "url": "={{ $('Prep URLs').item.json.usr_url }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github.v3+json"
              }
            ]
          }
        },
        "credentials": {
          "githubApi": {
            "id": "yd8ufDV54XqNLA3P",
            "name": "GitHub — Ressources_Loc_OSS"
          }
        }
      },
      {
        "id": "n4",
        "name": "Build Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          700,
          300
        ],
        "parameters": {
          "jsCode": "const items = $('Input from MAIN').all().map(i => i.json);\nconst sys = Buffer.from($('Load System').first().json.content,'base64').toString('utf-8');\nconst usrTemplate = Buffer.from($('Load User').first().json.content,'base64').toString('utf-8');\n\nreturn items.map(inp => {\n  let usr = usrTemplate;\n  const a1out = inp.a1_audit||inp.agent_output||{};\n  const vars = {\n    course_id: inp.course_id||'', chapter_index: inp.chapter_index||0,\n    chunk_index: inp.chunk_index||1, source_language: inp.source_language||'fr',\n    target_language: inp.target_language||'en-US', html_content: inp.html||inp.html_content||'',\n    detected_domain: inp.detected_domain||'',\n    a1_audit: JSON.stringify(a1out), a1_outputs: JSON.stringify(inp.a1_outputs||[]),\n    domain_validated_tm: JSON.stringify(inp.domain_validated_tm||[]),\n    domain_unvalidated_tm: JSON.stringify(inp.domain_unvalidated_tm||[]),\n    common_glossary: JSON.stringify(inp.common_glossary||[]),\n    score_target: inp.score_target||90\n  };\n  Object.entries(vars).forEach(([k,v]) => {\n    usr = usr.replace(new RegExp('\\\\{{'+k+'\\\\}}','g'), String(v));\n  });\n  return {json:{\n    system_prompt: sys, user_message: usr,\n    model: 'gpt-5.5-2026-04-23',\n max_tokens: 8000,\n    custom_id: (inp.course_id||'x')+'-ch'+(inp.chapter_index||0)+'-ck'+(inp.chunk_index||1)+'-a2',\n    agent_name: 'A2 Terminology Architect', course_id: inp.course_id,\n    chapter_index: inp.chapter_index, chunk_index: inp.chunk_index,\n    pipeline_meta: inp.pipeline_meta||{}\n  }};\n});"
        }
      },
      {
        "id": "n5",
        "name": "Call Submitter",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          960,
          300
        ],
        "parameters": {
          "workflowId": "P2YD7sOqf6uMAtqU",
          "mode": "passThrough"
        }
      },
      {
        "id": "n6",
        "name": "Call Poller",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1220,
          300
        ],
        "parameters": {
          "workflowId": "HDdfFxAIS1qnLUEe",
          "mode": "passThrough"
        }
      },
      {
        "id": "n7",
        "name": "Return Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1480,
          300
        ],
        "parameters": {
          "jsCode": "const p = $input.first().json;\nconst origItems = $('Input from MAIN').all().map(i => i.json);\nconst results = p.results || [{custom_id: null, parsed_content: p.agent_output}];\n\nconst rMap = {};\nresults.forEach(r => {\n  const m = (r.custom_id||'').match(/-ch(\\d+)-ck(\\d+)-/);\n  if(m) rMap[m[1]+'-'+m[2]] = r.parsed_content;\n});\n\nif(p.status==='failed'||p.status==='timed_out')\n  return origItems.map(orig => ({json:{\n    status:'error', agent:'A2 Terminology Architect', error:p.error, escalation:true,\n    course_id:p.course_id||orig.course_id,\n    chapter_index:orig.chapter_index||0, chunk_index:orig.chunk_index||1\n  }}));\n\nreturn origItems.map(orig => {\n  const key = (orig.chapter_index||0)+'-'+(orig.chunk_index||1);\n  const ao = rMap[key] || results[0]?.parsed_content || null;\n  return {json:{\n    status:'ok', agent:'A2 Terminology Architect', agent_output:ao, a2_glossary:ao||{},\n    course_id:p.course_id||orig.course_id,\n    chapter_index:orig.chapter_index||0, chunk_index:orig.chunk_index||1,\n    pipeline_meta:p.pipeline_meta||{},\n    html:orig.html||orig.html_content||'', source_html:orig.html||orig.source_html||'',\n    a1_audit:orig.a1_audit||orig.a1_audit||{}, a1_outputs:orig.a1_outputs||[],\n    source_language:orig.source_language||'fr', target_language:orig.target_language||'en-US',\n    target_course_id:orig.target_course_id||'', score_target:orig.score_target||90,\n    detected_domain:orig.detected_domain||'', preceding_context:orig.preceding_context||'',\n    enabled_modules:orig.enabled_modules||{}, iteration:orig.iteration||1,\n    common_glossary:orig.common_glossary||[], domain_validated_tm:orig.domain_validated_tm||[],\n    domain_unvalidated_tm:orig.domain_unvalidated_tm||[]\n  }};\n});"
        }
      }
    ],
    "connections": {
      "Input from MAIN": {
        "main": [
          [
            {
              "node": "Prep URLs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep URLs": {
        "main": [
          [
            {
              "node": "Load System",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load System": {
        "main": [
          [
            {
              "node": "Load User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load User": {
        "main": [
          [
            {
              "node": "Build Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Message": {
        "main": [
          [
            {
              "node": "Call Submitter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Submitter": {
        "main": [
          [
            {
              "node": "Call Poller",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Poller": {
        "main": [
          [
            {
              "node": "Return Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jérémie Borrotzu",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-09T09:19:59.096Z",
        "id": 596,
        "workflowId": "BKminhI3j8D4ybs1",
        "versionId": "4ae31d93-5dca-4a5b-981f-f077116ad4a0",
        "event": "activated",
        "userId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      },
      {
        "createdAt": "2026-06-09T09:19:59.087Z",
        "id": 595,
        "workflowId": "BKminhI3j8D4ybs1",
        "versionId": "4ae31d93-5dca-4a5b-981f-f077116ad4a0",
        "event": "deactivated",
        "userId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      }
    ]
  }
}