04_n8n_flows/CLS_v3/[AGENT] CLS v3 — A4 Cultural Adapter.json
{
  "updatedAt": "2026-06-08T22:19:25.976Z",
  "createdAt": "2026-05-29T14:13:50.612Z",
  "id": "cHTqFQHBnEkeRAJB",
  "name": "[AGENT] CLS v3 — A4 Cultural Adapter",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "n0",
      "name": "Input from MAIN",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "parameters": {}
    },
    {
      "id": "n1",
      "name": "Prep URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "jsCode": "return [{json: {sys_url: \"https://api.github.com/repos/jeremieborrotzu-blip/Ressources_Loc_OSS/contents/01_prompts/a4_cultural_adapter_system.txt\", usr_url: \"https://api.github.com/repos/jeremieborrotzu-blip/Ressources_Loc_OSS/contents/01_prompts/a4_cultural_adapter_user_template.txt\", ...($input.first().json)}}];"
      }
    },
    {
      "id": "n2",
      "name": "Load System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        440,
        180
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Prep URLs').item.json.sys_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        }
      },
      "credentials": {
        "githubApi": {
          "id": "yd8ufDV54XqNLA3P",
          "name": "GitHub — Ressources_Loc_OSS"
        }
      }
    },
    {
      "id": "n3",
      "name": "Load User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        440,
        420
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Prep URLs').item.json.usr_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        }
      },
      "credentials": {
        "githubApi": {
          "id": "yd8ufDV54XqNLA3P",
          "name": "GitHub — Ressources_Loc_OSS"
        }
      }
    },
    {
      "id": "n4",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "jsCode": "const inp = $('Input from MAIN').first().json;\nconst sys = Buffer.from($('Load System').first().json.content,'base64').toString('utf-8');\nlet   usr = Buffer.from($('Load User').first().json.content,'base64').toString('utf-8');\nconst a3out = inp.agent_output||{};\nconst a1out = inp.a1_audit||{};\nconst a2out = inp.a2_glossary||{};\nconst vars = {\n  course_id: inp.course_id||'',\n  source_language: inp.source_language||'fr',\n  target_language: inp.target_language||'en-US',\n  domain: inp.detected_domain||'',\n  audience: inp.audience||'',\n  source_content: inp.html||inp.source_html||'',\n  a3_gold_master: a3out.revised_content||'',\n  a1_cultural_flags: JSON.stringify(a1out.cultural_flags||(inp.a1_outputs||[]).flatMap(a=>a&&a.cultural_flags||[])||[]),\n  a2_terminology_decisions: JSON.stringify(a2out.translation_decisions||inp.translation_decisions||[]),\n  common_glossary: JSON.stringify(inp.common_glossary||[]),\n  constraints: JSON.stringify(inp.constraints||[])\n};\nObject.entries(vars).forEach(([k,v]) => {\n  usr = usr.replace(new RegExp('\\\\{{'+k+'\\\\}}','g'), String(v));\n});\nreturn [{json:{\n  system_prompt: sys, user_message: usr,\n  model: 'gpt-5.2', temperature: 0.3, max_tokens: 16000,\n  custom_id: (inp.course_id||'x')+'-ch'+(inp.chapter_index||0)+'-ck'+(inp.chunk_index||1)+'-a4culturaladapter',\n  agent_name: 'A4 Cultural Adapter', course_id: inp.course_id,\n  chapter_index: inp.chapter_index, chunk_index: inp.chunk_index,\n  pipeline_meta: inp.pipeline_meta||{}\n}}];"
      }
    },
    {
      "id": "n5",
      "name": "Call Submitter",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        960,
        300
      ],
      "parameters": {
        "workflowId": "P2YD7sOqf6uMAtqU",
        "mode": "passThrough"
      }
    },
    {
      "id": "n6",
      "name": "Call Poller",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1220,
        300
      ],
      "parameters": {
        "workflowId": "HDdfFxAIS1qnLUEe",
        "mode": "passThrough"
      }
    },
    {
      "id": "n7",
      "name": "Return Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        300
      ],
      "parameters": {
        "jsCode": "const p = $input.first().json;\nconst orig = $('Input from MAIN').first().json;\nconst a4out = p.agent_output||{};\nif(p.status==='failed'||p.status==='timed_out')\n  return [{json:{status:'error',agent:'A4 Cultural Adapter',error:p.error,escalation:true,\n    course_id:p.course_id||orig.course_id,chapter_index:orig.chapter_index||0,chunk_index:orig.chunk_index||1}}];\nreturn [{json:{\n  status:'ok', agent:'A4 Cultural Adapter', agent_output:a4out,\n  course_id:p.course_id||orig.course_id,\n  chapter_index:orig.chapter_index||0, chunk_index:orig.chunk_index||1,\n  pipeline_meta:p.pipeline_meta||{},\n  translated_html:a4out.adapted_content||a4out.adapted_html||orig.html||'',\n  a4_swap_log:a4out.swap_log||a4out.decision_log||[],\n  html:orig.html||orig.source_html||'', source_html:orig.html||orig.source_html||'',\n  a1_audit:orig.a1_audit||{}, a2_glossary:orig.a2_glossary||{},\n  a1_outputs:orig.a1_outputs||[], common_glossary:orig.common_glossary||[],\n  domain_validated_tm:orig.domain_validated_tm||[], domain_unvalidated_tm:orig.domain_unvalidated_tm||[],\n  detected_domain:orig.detected_domain||'', source_language:orig.source_language||'fr',\n  target_language:orig.target_language||'en-US', target_course_id:orig.target_course_id||'',\n  score_target:orig.score_target||90, iteration:orig.iteration||1,\n  preceding_context:orig.preceding_context||'', enabled_modules:orig.enabled_modules||{}\n}}];"
      }
    }
  ],
  "connections": {
    "Input from MAIN": {
      "main": [
        [
          {
            "node": "Prep URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep URLs": {
      "main": [
        [
          {
            "node": "Load System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load System": {
      "main": [
        [
          {
            "node": "Load User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load User": {
      "main": [
        [
          {
            "node": "Build Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Message": {
      "main": [
        [
          {
            "node": "Call Submitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Submitter": {
      "main": [
        [
          {
            "node": "Call Poller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Poller": {
      "main": [
        [
          {
            "node": "Return Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "f6ad570b-9f07-4bbd-bdae-34427cd4fbbc",
  "activeVersionId": "f6ad570b-9f07-4bbd-bdae-34427cd4fbbc",
  "versionCounter": 26,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-29T14:13:50.613Z",
      "createdAt": "2026-05-29T14:13:50.613Z",
      "role": "workflow:owner",
      "workflowId": "cHTqFQHBnEkeRAJB",
      "projectId": "7y0kZCkeSDugmpzP",
      "project": {
        "updatedAt": "2026-03-12T16:05:16.582Z",
        "createdAt": "2026-03-12T16:02:39.200Z",
        "id": "7y0kZCkeSDugmpzP",
        "name": "Jérémie Borrotzu <jeremie.borrotzu@openclassrooms.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-08T22:19:25.977Z",
    "createdAt": "2026-06-08T22:19:25.977Z",
    "versionId": "f6ad570b-9f07-4bbd-bdae-34427cd4fbbc",
    "workflowId": "cHTqFQHBnEkeRAJB",
    "nodes": [
      {
        "id": "n0",
        "name": "Input from MAIN",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          0,
          300
        ],
        "parameters": {}
      },
      {
        "id": "n1",
        "name": "Prep URLs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          220,
          300
        ],
        "parameters": {
          "jsCode": "return [{json: {sys_url: \"https://api.github.com/repos/jeremieborrotzu-blip/Ressources_Loc_OSS/contents/01_prompts/a4_cultural_adapter_system.txt\", usr_url: \"https://api.github.com/repos/jeremieborrotzu-blip/Ressources_Loc_OSS/contents/01_prompts/a4_cultural_adapter_user_template.txt\", ...($input.first().json)}}];"
        }
      },
      {
        "id": "n2",
        "name": "Load System",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          440,
          180
        ],
        "parameters": {
          "method": "GET",
          "url": "={{ $('Prep URLs').item.json.sys_url }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github.v3+json"
              }
            ]
          }
        },
        "credentials": {
          "githubApi": {
            "id": "yd8ufDV54XqNLA3P",
            "name": "GitHub — Ressources_Loc_OSS"
          }
        }
      },
      {
        "id": "n3",
        "name": "Load User",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          440,
          420
        ],
        "parameters": {
          "method": "GET",
          "url": "={{ $('Prep URLs').item.json.usr_url }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github.v3+json"
              }
            ]
          }
        },
        "credentials": {
          "githubApi": {
            "id": "yd8ufDV54XqNLA3P",
            "name": "GitHub — Ressources_Loc_OSS"
          }
        }
      },
      {
        "id": "n4",
        "name": "Build Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          700,
          300
        ],
        "parameters": {
          "jsCode": "const inp = $('Input from MAIN').first().json;\nconst sys = Buffer.from($('Load System').first().json.content,'base64').toString('utf-8');\nlet   usr = Buffer.from($('Load User').first().json.content,'base64').toString('utf-8');\nconst a3out = inp.agent_output||{};\nconst a1out = inp.a1_audit||{};\nconst a2out = inp.a2_glossary||{};\nconst vars = {\n  course_id: inp.course_id||'',\n  source_language: inp.source_language||'fr',\n  target_language: inp.target_language||'en-US',\n  domain: inp.detected_domain||'',\n  audience: inp.audience||'',\n  source_content: inp.html||inp.source_html||'',\n  a3_gold_master: a3out.revised_content||'',\n  a1_cultural_flags: JSON.stringify(a1out.cultural_flags||(inp.a1_outputs||[]).flatMap(a=>a&&a.cultural_flags||[])||[]),\n  a2_terminology_decisions: JSON.stringify(a2out.translation_decisions||inp.translation_decisions||[]),\n  common_glossary: JSON.stringify(inp.common_glossary||[]),\n  constraints: JSON.stringify(inp.constraints||[])\n};\nObject.entries(vars).forEach(([k,v]) => {\n  usr = usr.replace(new RegExp('\\\\{{'+k+'\\\\}}','g'), String(v));\n});\nreturn [{json:{\n  system_prompt: sys, user_message: usr,\n  model: 'gpt-5.2', temperature: 0.3, max_tokens: 16000,\n  custom_id: (inp.course_id||'x')+'-ch'+(inp.chapter_index||0)+'-ck'+(inp.chunk_index||1)+'-a4culturaladapter',\n  agent_name: 'A4 Cultural Adapter', course_id: inp.course_id,\n  chapter_index: inp.chapter_index, chunk_index: inp.chunk_index,\n  pipeline_meta: inp.pipeline_meta||{}\n}}];"
        }
      },
      {
        "id": "n5",
        "name": "Call Submitter",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          960,
          300
        ],
        "parameters": {
          "workflowId": "P2YD7sOqf6uMAtqU",
          "mode": "passThrough"
        }
      },
      {
        "id": "n6",
        "name": "Call Poller",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1220,
          300
        ],
        "parameters": {
          "workflowId": "HDdfFxAIS1qnLUEe",
          "mode": "passThrough"
        }
      },
      {
        "id": "n7",
        "name": "Return Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1480,
          300
        ],
        "parameters": {
          "jsCode": "const p = $input.first().json;\nconst orig = $('Input from MAIN').first().json;\nconst a4out = p.agent_output||{};\nif(p.status==='failed'||p.status==='timed_out')\n  return [{json:{status:'error',agent:'A4 Cultural Adapter',error:p.error,escalation:true,\n    course_id:p.course_id||orig.course_id,chapter_index:orig.chapter_index||0,chunk_index:orig.chunk_index||1}}];\nreturn [{json:{\n  status:'ok', agent:'A4 Cultural Adapter', agent_output:a4out,\n  course_id:p.course_id||orig.course_id,\n  chapter_index:orig.chapter_index||0, chunk_index:orig.chunk_index||1,\n  pipeline_meta:p.pipeline_meta||{},\n  translated_html:a4out.adapted_content||a4out.adapted_html||orig.html||'',\n  a4_swap_log:a4out.swap_log||a4out.decision_log||[],\n  html:orig.html||orig.source_html||'', source_html:orig.html||orig.source_html||'',\n  a1_audit:orig.a1_audit||{}, a2_glossary:orig.a2_glossary||{},\n  a1_outputs:orig.a1_outputs||[], common_glossary:orig.common_glossary||[],\n  domain_validated_tm:orig.domain_validated_tm||[], domain_unvalidated_tm:orig.domain_unvalidated_tm||[],\n  detected_domain:orig.detected_domain||'', source_language:orig.source_language||'fr',\n  target_language:orig.target_language||'en-US', target_course_id:orig.target_course_id||'',\n  score_target:orig.score_target||90, iteration:orig.iteration||1,\n  preceding_context:orig.preceding_context||'', enabled_modules:orig.enabled_modules||{}\n}}];"
        }
      }
    ],
    "connections": {
      "Input from MAIN": {
        "main": [
          [
            {
              "node": "Prep URLs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep URLs": {
        "main": [
          [
            {
              "node": "Load System",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load System": {
        "main": [
          [
            {
              "node": "Load User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load User": {
        "main": [
          [
            {
              "node": "Build Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Message": {
        "main": [
          [
            {
              "node": "Call Submitter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Submitter": {
        "main": [
          [
            {
              "node": "Call Poller",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Poller": {
        "main": [
          [
            {
              "node": "Return Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jérémie Borrotzu",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-08T22:19:26.021Z",
        "id": 514,
        "workflowId": "cHTqFQHBnEkeRAJB",
        "versionId": "f6ad570b-9f07-4bbd-bdae-34427cd4fbbc",
        "event": "activated",
        "userId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      },
      {
        "createdAt": "2026-06-08T22:19:26.012Z",
        "id": 513,
        "workflowId": "cHTqFQHBnEkeRAJB",
        "versionId": "f6ad570b-9f07-4bbd-bdae-34427cd4fbbc",
        "event": "deactivated",
        "userId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      }
    ]
  }
}