04_n8n_flows/CLS_v3/[MAIN] LEO v1 — Assets.json
{
  "updatedAt": "2026-06-12T09:15:36.186Z",
  "createdAt": "2026-06-11T10:00:42.318Z",
  "id": "iOvLCwyOv8ReIxbG",
  "name": "[MAIN] LEO v1 — Assets",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "leo-assets",
        "formTitle": "LEO v1 — Assets",
        "formDescription": "Localisation des assets d'un cours déjà traité en Phase 1 (HTML). Saisir l'ID du cours cible (target).",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Target Course ID",
              "placeholder": "ex: 8970456",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Transcripts / Dubbing (A7)",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "Images (A8)",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "Annexes (A9)",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "Liens (A10)",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            }
          ]
        },
        "options": {
          "respondWith": "text",
          "responseText": "Requête reçue. Les assets seront traités si la Phase 1 (HTML) est disponible. Résultats envoyés par email."
        }
      },
      "id": "78af250c-d4cf-4b6d-a753-82270f849b3b",
      "name": "LEO Assets Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        0,
        400
      ],
      "webhookId": "529d0e1a-436e-4233-acc6-c872d6026de8"
    },
    {
      "parameters": {
        "jsCode": "\nconst f=$input.first().json;\nconst cb=(v)=> !!(Array.isArray(v)? v.length : v);\nreturn [{json:{\n  target_id: String(f['Target Course ID']||'').trim(),\n  email: f['Email'],\n  modules:{\n    a7: cb(f['Transcripts / Dubbing (A7)']),\n    a8: cb(f['Images (A8)']),\n    a9: cb(f['Annexes (A9)']),\n    a10: cb(f['Liens (A10)'])\n  },\n  started_at: new Date().toISOString()\n}}];\n"
      },
      "id": "9829d80c-a235-48c3-a51e-ddfae827e2d4",
      "name": "Init Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/jeremieborrotzu-blip/Ressources_Loc_OSS/git/trees/main?recursive=1",
        "options": {}
      },
      "id": "37cccf9b-8431-4f25-887c-546467276db1",
      "name": "Find P1 (GitHub Tree)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst ip=$('Init Params').first().json;\nconst target=ip.target_id;\nconst tree=($('Find P1 (GitHub Tree)').first().json.tree)||[];\nconst re=new RegExp('07_runs/(\\\\d+)/output/'+target+'_localized_(.+)\\\\.html$');\nlet found=null;\nfor(const t of tree){ const m=(t.path||'').match(re); if(m){ found={path:t.path, source_id:m[1], direction:m[2]}; break; } }\nif(!found) return [{json:{...ip, phase1_ready:false}}];\nconst RAW='https://raw.githubusercontent.com/jeremieborrotzu-blip/Ressources_Loc_OSS/main/';\nconst od='07_runs/'+found.source_id+'/output/';\nconst enc=(p)=>RAW+encodeURIComponent(p).replace(/%2F/g,'/');\n// handoff présent ?\nconst hasHandoff=tree.some(t=>t.path===od+target+'_phase1_handoff.json');\nreturn [{json:{\n  ...ip, phase1_ready:true, source_id:found.source_id, direction:found.direction,\n  html_path:found.path,\n  html_url:enc(found.path),\n  handoff_present:hasHandoff,\n  handoff_url:enc(od+target+'_phase1_handoff.json'),\n  output_dir:od\n}}];\n"
      },
      "id": "522870dd-4ff2-467e-9312-daf1885d1d20",
      "name": "Locate Deliverables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.phase1_ready }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "3f7e66b5-4532-4052-8786-f2d86ac6c715",
      "name": "Phase 1 Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst j=$input.first().json;\nreturn [{json:{...j, error_html:`<h2>LEO Assets — Phase 1 introuvable</h2>\n<p>Aucun HTML localisé trouvé pour le Target ID <b>${j.target_id}</b> dans <code>07_runs/*/output/${j.target_id}_localized_*.html</code>.</p>\n<p>Lance d'abord la <b>Phase 1</b> (localisation HTML) pour ce cours, puis relance les Assets.</p>`}}];\n"
      },
      "id": "cd40ff0b-d0c1-4b1e-9252-b37090aefca7",
      "name": "P1 Missing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        560
      ]
    },
    {
      "parameters": {
        "fromEmail": "learning.automations@openclassrooms.com",
        "toEmail": "={{ $json.email }}",
        "subject": "=[LEO Assets] Phase 1 introuvable — {{ $json.target_id }}",
        "emailFormat": "html",
        "html": "={{ $json.error_html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "202187f7-57c3-485b-b131-ffa530311704",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1560,
        560
      ],
      "credentials": {
        "smtp": {
          "id": "g6zrrMLej2ViXu6P",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.handoff_url }}",
        "options": {}
      },
      "id": "834aca18-956b-4031-bac5-8778a9de6830",
      "name": "Load Handoff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst raw = $('Load Handoff').first().json;\nconst h = (typeof raw.data === 'string') ? JSON.parse(raw.data) : (raw.meta ? raw : JSON.parse(raw.content ? Buffer.from(raw.content,'base64').toString('utf8') : '{}'));\nconst loc = $('Locate Deliverables').first().json;\nconst banner = u => /banner/i.test(u||'');\nconst media = h.media_inventory || [];\n// A8 — images\nconst images = media.filter(m => m.type==='image' && !banner(m.url));\nconst imagesToLocalize = images.filter(m => m.risk!=='ok');\n// A7 — vidéos / screencasts (dubbing)\nconst videos = media.filter(m => ['video','screencast'].includes(m.type));\n// A9 — annexes (docs)\nconst docExt = /\\.(pdf|docx?|xlsx?|pptx?|csv)$/i;\nconst annexes = media.filter(m => ['pdf','docx','xlsx','pptx','csv','document','annex'].includes(m.type) || docExt.test(m.url||''));\n// A10 — liens\nconst links = media.filter(m => m.type==='link');\nreturn [{json:{\n  target_course_id: h.meta.target_course_id,\n  source_course_id: h.meta.source_course_id,\n  direction: h.meta.direction,\n  domain: h.meta.detected_domain,\n  target_language: h.meta.target_language,\n  email: loc.email,\n  modules: loc.modules || {a7:false,a8:false,a9:false,a10:false},\n  images_to_localize: imagesToLocalize,\n  inventory: {\n    videos: videos.map(m=>({url:m.url,location:m.location})),\n    annexes: annexes.map(m=>({url:m.url,location:m.location,type:m.type})),\n    links: links.map(m=>({url:m.url,location:m.location}))\n  },\n  counts:{ images_total:images.length, images_to_localize:imagesToLocalize.length, images_preserved:images.length-imagesToLocalize.length,\n           videos:videos.length, annexes:annexes.length, links:links.length }\n}}];\n"
      },
      "id": "9a49e8fb-0f97-4cb2-837a-31be5cee1a55",
      "name": "Parse Handoff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "P97ds2vbSmklYbnP",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "5a99dae1-4c57-4701-a64e-1225a29b8263",
      "name": "Call Iconik Init",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst ph=$('Parse Handoff').first().json;\nconst ic=$('Call Iconik Init').first().json;\nconst coll=ic.graphics_collection_id;\nconst a8on = !!(ph.modules && ph.modules.a8);\nconst list = a8on ? (ph.images_to_localize||[]) : [];\nconst items=list.map(m=>({json:{\n  image_url:m.url, filename:(m.url.split('/').pop()||'image.png'),\n  domain:ph.domain, target_language:ph.target_language,\n  collection_id:coll, location:m.location, original_url:m.url\n}}));\nreturn items.length?items:[{json:{__no_images:true, collection_id:coll}}];\n"
      },
      "id": "0bd0c5c0-2691-41de-b6f4-5a88a48780cb",
      "name": "Build A8 Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.__no_images }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "474a9e96-e16e-4123-8aab-27b60d875f5b",
      "name": "Has Images?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Vayz4SnsngHkqWvl",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        },
        "mode": "each"
      },
      "id": "819abafb-2003-416c-9fbe-caf05bd325b2",
      "name": "Call A8",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        2440,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "\nlet a8=[];\ntry{ a8=$('Call A8').all().map(i=>i.json).filter(x=>x&&x.agent==='A8'); }catch(e){}\nconst ph=$('Parse Handoff').first().json;\nconst localized=a8.filter(r=>r.status==='localized');\nconst preserved=a8.filter(r=>r.status==='preserved');\nreturn [{json:{\n  target_course_id:ph.target_course_id, source_course_id:ph.source_course_id,\n  direction:ph.direction, email:ph.email,\n  a8:{ processed:a8.length, localized:localized.length, preserved:preserved.length, results:a8 }\n}}];\n"
      },
      "id": "5d7c72da-b942-40df-81f2-b23d1fec422a",
      "name": "Collect Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst r = $('Collect Results').first().json;\nconst ph = $('Parse Handoff').first().json;\nconst mod = ph.modules || {};\nconst inv = ph.inventory || {videos:[],annexes:[],links:[]};\nconst a8rows = (r.a8.results||[]).map(x=>`<tr><td>${x.filename||''}</td><td>${x.status}</td><td>${x.asset_class||''}</td><td>${x.texts_localized||0}/${x.texts_preserved||0}</td><td>${x.iconik_asset_id||x.reason||''}</td></tr>`).join('');\nconst sec = (on, title, body) => `<h3>${on?'✅':'⬜'} ${title}</h3>${on?body:'<p><i>Non demandé (case décochée).</i></p>'}`;\nconst invList = (arr, empty) => arr.length ? `<ul>${arr.map(x=>`<li>${(x.url||'').split('/').pop()} <small>(${x.location||'?'})</small></li>`).join('')}</ul>` : `<p><i>${empty}</i></p>`;\nconst html = `<h2>LEO v1 — Assets : rapport</h2>\n<p><b>Cours :</b> ${r.source_course_id} → ${r.target_course_id} | <b>Direction :</b> ${r.direction}</p>\n${sec(mod.a8, `A8 — Images : ${r.a8.localized} localisées, ${r.a8.preserved} préservées (${r.a8.processed} traitées)`,\n  `<table border=1 cellpadding=4><tr><th>Fichier</th><th>Statut</th><th>Type</th><th>Loc/Pres</th><th>Iconik / raison</th></tr>${a8rows}</table>\n   <p>Uploadées dans Iconik : 0000_LOCALISATION/${r.target_course_id}/static_graphics/</p>`)}\n${sec(mod.a7, `A7 — Transcripts / Dubbing (inventaire : ${inv.videos.length})`,\n  invList(inv.videos,'Aucune vidéo dans le handoff.') + '<p><small>Traitement dubbing complet : build SUB dédié à venir.</small></p>')}\n${sec(mod.a9, `A9 — Annexes (inventaire : ${inv.annexes.length})`,\n  invList(inv.annexes,'Aucune annexe dans le handoff.') + '<p><small>Édition docs (XLSX/DOCX/PPTX/CSV) : build SUB dédié à venir.</small></p>')}\n${sec(mod.a10, `A10 — Liens (inventaire : ${inv.links.length})`,\n  invList(inv.links,'Aucun lien dans le handoff.') + '<p><small>Résolution liens FR→EN : build SUB dédié à venir.</small></p>')}`;\nreturn [{json:{...r, html}}];\n"
      },
      "id": "b70ed062-b42e-4662-a026-7d2302732079",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "learning.automations@openclassrooms.com",
        "toEmail": "={{ $json.email }}",
        "subject": "=[LEO Assets] Terminé — {{ $json.target_course_id }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "822676fd-d7fb-41de-a956-7d2eb106265a",
      "name": "Send Completion Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3100,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "g6zrrMLej2ViXu6P",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "LEO Assets Form": {
      "main": [
        [
          {
            "node": "Init Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Params": {
      "main": [
        [
          {
            "node": "Find P1 (GitHub Tree)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find P1 (GitHub Tree)": {
      "main": [
        [
          {
            "node": "Locate Deliverables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Locate Deliverables": {
      "main": [
        [
          {
            "node": "Phase 1 Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 1 Ready?": {
      "main": [
        [
          {
            "node": "Load Handoff",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "P1 Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Handoff": {
      "main": [
        [
          {
            "node": "Parse Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1 Missing": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Handoff": {
      "main": [
        [
          {
            "node": "Call Iconik Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Iconik Init": {
      "main": [
        [
          {
            "node": "Build A8 Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build A8 Items": {
      "main": [
        [
          {
            "node": "Has Images?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Images?": {
      "main": [
        [
          {
            "node": "Call A8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call A8": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results": {
      "main": [
        [
          {
            "node": "Build Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report": {
      "main": [
        [
          {
            "node": "Send Completion Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "aeef6f21-985c-4eaa-931e-de37c6b6a418",
  "activeVersionId": "aeef6f21-985c-4eaa-931e-de37c6b6a418",
  "versionCounter": 26,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-11T10:00:42.323Z",
      "createdAt": "2026-06-11T10:00:42.323Z",
      "role": "workflow:owner",
      "workflowId": "iOvLCwyOv8ReIxbG",
      "projectId": "7y0kZCkeSDugmpzP",
      "project": {
        "updatedAt": "2026-03-12T16:05:16.582Z",
        "createdAt": "2026-03-12T16:02:39.200Z",
        "id": "7y0kZCkeSDugmpzP",
        "name": "Jérémie Borrotzu <jeremie.borrotzu@openclassrooms.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-12T09:15:36.187Z",
    "createdAt": "2026-06-12T09:15:36.187Z",
    "versionId": "aeef6f21-985c-4eaa-931e-de37c6b6a418",
    "workflowId": "iOvLCwyOv8ReIxbG",
    "nodes": [
      {
        "parameters": {
          "path": "leo-assets",
          "formTitle": "LEO v1 — Assets",
          "formDescription": "Localisation des assets d'un cours déjà traité en Phase 1 (HTML). Saisir l'ID du cours cible (target).",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Target Course ID",
                "placeholder": "ex: 8970456",
                "requiredField": true
              },
              {
                "fieldLabel": "Email",
                "fieldType": "email",
                "requiredField": true
              },
              {
                "fieldLabel": "Transcripts / Dubbing (A7)",
                "fieldType": "checkbox",
                "fieldOptions": {
                  "values": [
                    {}
                  ]
                }
              },
              {
                "fieldLabel": "Images (A8)",
                "fieldType": "checkbox",
                "fieldOptions": {
                  "values": [
                    {}
                  ]
                }
              },
              {
                "fieldLabel": "Annexes (A9)",
                "fieldType": "checkbox",
                "fieldOptions": {
                  "values": [
                    {}
                  ]
                }
              },
              {
                "fieldLabel": "Liens (A10)",
                "fieldType": "checkbox",
                "fieldOptions": {
                  "values": [
                    {}
                  ]
                }
              }
            ]
          },
          "options": {
            "respondWith": "text",
            "responseText": "Requête reçue. Les assets seront traités si la Phase 1 (HTML) est disponible. Résultats envoyés par email."
          }
        },
        "id": "78af250c-d4cf-4b6d-a753-82270f849b3b",
        "name": "LEO Assets Form",
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.1,
        "position": [
          0,
          400
        ],
        "webhookId": "529d0e1a-436e-4233-acc6-c872d6026de8"
      },
      {
        "parameters": {
          "jsCode": "\nconst f=$input.first().json;\nconst cb=(v)=> !!(Array.isArray(v)? v.length : v);\nreturn [{json:{\n  target_id: String(f['Target Course ID']||'').trim(),\n  email: f['Email'],\n  modules:{\n    a7: cb(f['Transcripts / Dubbing (A7)']),\n    a8: cb(f['Images (A8)']),\n    a9: cb(f['Annexes (A9)']),\n    a10: cb(f['Liens (A10)'])\n  },\n  started_at: new Date().toISOString()\n}}];\n"
        },
        "id": "9829d80c-a235-48c3-a51e-ddfae827e2d4",
        "name": "Init Params",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          260,
          400
        ]
      },
      {
        "parameters": {
          "url": "https://api.github.com/repos/jeremieborrotzu-blip/Ressources_Loc_OSS/git/trees/main?recursive=1",
          "options": {}
        },
        "id": "37cccf9b-8431-4f25-887c-546467276db1",
        "name": "Find P1 (GitHub Tree)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          520,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "\nconst ip=$('Init Params').first().json;\nconst target=ip.target_id;\nconst tree=($('Find P1 (GitHub Tree)').first().json.tree)||[];\nconst re=new RegExp('07_runs/(\\\\d+)/output/'+target+'_localized_(.+)\\\\.html$');\nlet found=null;\nfor(const t of tree){ const m=(t.path||'').match(re); if(m){ found={path:t.path, source_id:m[1], direction:m[2]}; break; } }\nif(!found) return [{json:{...ip, phase1_ready:false}}];\nconst RAW='https://raw.githubusercontent.com/jeremieborrotzu-blip/Ressources_Loc_OSS/main/';\nconst od='07_runs/'+found.source_id+'/output/';\nconst enc=(p)=>RAW+encodeURIComponent(p).replace(/%2F/g,'/');\n// handoff présent ?\nconst hasHandoff=tree.some(t=>t.path===od+target+'_phase1_handoff.json');\nreturn [{json:{\n  ...ip, phase1_ready:true, source_id:found.source_id, direction:found.direction,\n  html_path:found.path,\n  html_url:enc(found.path),\n  handoff_present:hasHandoff,\n  handoff_url:enc(od+target+'_phase1_handoff.json'),\n  output_dir:od\n}}];\n"
        },
        "id": "522870dd-4ff2-467e-9312-daf1885d1d20",
        "name": "Locate Deliverables",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          780,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.phase1_ready }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "3f7e66b5-4532-4052-8786-f2d86ac6c715",
        "name": "Phase 1 Ready?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1040,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "\nconst j=$input.first().json;\nreturn [{json:{...j, error_html:`<h2>LEO Assets — Phase 1 introuvable</h2>\n<p>Aucun HTML localisé trouvé pour le Target ID <b>${j.target_id}</b> dans <code>07_runs/*/output/${j.target_id}_localized_*.html</code>.</p>\n<p>Lance d'abord la <b>Phase 1</b> (localisation HTML) pour ce cours, puis relance les Assets.</p>`}}];\n"
        },
        "id": "cd40ff0b-d0c1-4b1e-9252-b37090aefca7",
        "name": "P1 Missing",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1300,
          560
        ]
      },
      {
        "parameters": {
          "fromEmail": "learning.automations@openclassrooms.com",
          "toEmail": "={{ $json.email }}",
          "subject": "=[LEO Assets] Phase 1 introuvable — {{ $json.target_id }}",
          "emailFormat": "html",
          "html": "={{ $json.error_html }}",
          "options": {
            "appendAttribution": false
          }
        },
        "id": "202187f7-57c3-485b-b131-ffa530311704",
        "name": "Send Error Email",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          1560,
          560
        ],
        "credentials": {
          "smtp": {
            "id": "g6zrrMLej2ViXu6P",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.handoff_url }}",
          "options": {}
        },
        "id": "834aca18-956b-4031-bac5-8778a9de6830",
        "name": "Load Handoff",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1300,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "\nconst raw = $('Load Handoff').first().json;\nconst h = (typeof raw.data === 'string') ? JSON.parse(raw.data) : (raw.meta ? raw : JSON.parse(raw.content ? Buffer.from(raw.content,'base64').toString('utf8') : '{}'));\nconst loc = $('Locate Deliverables').first().json;\nconst banner = u => /banner/i.test(u||'');\nconst media = h.media_inventory || [];\n// A8 — images\nconst images = media.filter(m => m.type==='image' && !banner(m.url));\nconst imagesToLocalize = images.filter(m => m.risk!=='ok');\n// A7 — vidéos / screencasts (dubbing)\nconst videos = media.filter(m => ['video','screencast'].includes(m.type));\n// A9 — annexes (docs)\nconst docExt = /\\.(pdf|docx?|xlsx?|pptx?|csv)$/i;\nconst annexes = media.filter(m => ['pdf','docx','xlsx','pptx','csv','document','annex'].includes(m.type) || docExt.test(m.url||''));\n// A10 — liens\nconst links = media.filter(m => m.type==='link');\nreturn [{json:{\n  target_course_id: h.meta.target_course_id,\n  source_course_id: h.meta.source_course_id,\n  direction: h.meta.direction,\n  domain: h.meta.detected_domain,\n  target_language: h.meta.target_language,\n  email: loc.email,\n  modules: loc.modules || {a7:false,a8:false,a9:false,a10:false},\n  images_to_localize: imagesToLocalize,\n  inventory: {\n    videos: videos.map(m=>({url:m.url,location:m.location})),\n    annexes: annexes.map(m=>({url:m.url,location:m.location,type:m.type})),\n    links: links.map(m=>({url:m.url,location:m.location}))\n  },\n  counts:{ images_total:images.length, images_to_localize:imagesToLocalize.length, images_preserved:images.length-imagesToLocalize.length,\n           videos:videos.length, annexes:annexes.length, links:links.length }\n}}];\n"
        },
        "id": "9a49e8fb-0f97-4cb2-837a-31be5cee1a55",
        "name": "Parse Handoff",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1560,
          300
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "P97ds2vbSmklYbnP",
            "mode": "id"
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "id": "5a99dae1-4c57-4701-a64e-1225a29b8263",
        "name": "Call Iconik Init",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.1,
        "position": [
          1780,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "\nconst ph=$('Parse Handoff').first().json;\nconst ic=$('Call Iconik Init').first().json;\nconst coll=ic.graphics_collection_id;\nconst a8on = !!(ph.modules && ph.modules.a8);\nconst list = a8on ? (ph.images_to_localize||[]) : [];\nconst items=list.map(m=>({json:{\n  image_url:m.url, filename:(m.url.split('/').pop()||'image.png'),\n  domain:ph.domain, target_language:ph.target_language,\n  collection_id:coll, location:m.location, original_url:m.url\n}}));\nreturn items.length?items:[{json:{__no_images:true, collection_id:coll}}];\n"
        },
        "id": "0bd0c5c0-2691-41de-b6f4-5a88a48780cb",
        "name": "Build A8 Items",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.__no_images }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "notExists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "474a9e96-e16e-4123-8aab-27b60d875f5b",
        "name": "Has Images?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2220,
          300
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Vayz4SnsngHkqWvl",
            "mode": "id"
          },
          "options": {
            "waitForSubWorkflow": true
          },
          "mode": "each"
        },
        "id": "819abafb-2003-416c-9fbe-caf05bd325b2",
        "name": "Call A8",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.1,
        "position": [
          2440,
          200
        ]
      },
      {
        "parameters": {
          "jsCode": "\nlet a8=[];\ntry{ a8=$('Call A8').all().map(i=>i.json).filter(x=>x&&x.agent==='A8'); }catch(e){}\nconst ph=$('Parse Handoff').first().json;\nconst localized=a8.filter(r=>r.status==='localized');\nconst preserved=a8.filter(r=>r.status==='preserved');\nreturn [{json:{\n  target_course_id:ph.target_course_id, source_course_id:ph.source_course_id,\n  direction:ph.direction, email:ph.email,\n  a8:{ processed:a8.length, localized:localized.length, preserved:preserved.length, results:a8 }\n}}];\n"
        },
        "id": "5d7c72da-b942-40df-81f2-b23d1fec422a",
        "name": "Collect Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2660,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "\nconst r = $('Collect Results').first().json;\nconst ph = $('Parse Handoff').first().json;\nconst mod = ph.modules || {};\nconst inv = ph.inventory || {videos:[],annexes:[],links:[]};\nconst a8rows = (r.a8.results||[]).map(x=>`<tr><td>${x.filename||''}</td><td>${x.status}</td><td>${x.asset_class||''}</td><td>${x.texts_localized||0}/${x.texts_preserved||0}</td><td>${x.iconik_asset_id||x.reason||''}</td></tr>`).join('');\nconst sec = (on, title, body) => `<h3>${on?'✅':'⬜'} ${title}</h3>${on?body:'<p><i>Non demandé (case décochée).</i></p>'}`;\nconst invList = (arr, empty) => arr.length ? `<ul>${arr.map(x=>`<li>${(x.url||'').split('/').pop()} <small>(${x.location||'?'})</small></li>`).join('')}</ul>` : `<p><i>${empty}</i></p>`;\nconst html = `<h2>LEO v1 — Assets : rapport</h2>\n<p><b>Cours :</b> ${r.source_course_id} → ${r.target_course_id} | <b>Direction :</b> ${r.direction}</p>\n${sec(mod.a8, `A8 — Images : ${r.a8.localized} localisées, ${r.a8.preserved} préservées (${r.a8.processed} traitées)`,\n  `<table border=1 cellpadding=4><tr><th>Fichier</th><th>Statut</th><th>Type</th><th>Loc/Pres</th><th>Iconik / raison</th></tr>${a8rows}</table>\n   <p>Uploadées dans Iconik : 0000_LOCALISATION/${r.target_course_id}/static_graphics/</p>`)}\n${sec(mod.a7, `A7 — Transcripts / Dubbing (inventaire : ${inv.videos.length})`,\n  invList(inv.videos,'Aucune vidéo dans le handoff.') + '<p><small>Traitement dubbing complet : build SUB dédié à venir.</small></p>')}\n${sec(mod.a9, `A9 — Annexes (inventaire : ${inv.annexes.length})`,\n  invList(inv.annexes,'Aucune annexe dans le handoff.') + '<p><small>Édition docs (XLSX/DOCX/PPTX/CSV) : build SUB dédié à venir.</small></p>')}\n${sec(mod.a10, `A10 — Liens (inventaire : ${inv.links.length})`,\n  invList(inv.links,'Aucun lien dans le handoff.') + '<p><small>Résolution liens FR→EN : build SUB dédié à venir.</small></p>')}`;\nreturn [{json:{...r, html}}];\n"
        },
        "id": "b70ed062-b42e-4662-a026-7d2302732079",
        "name": "Build Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2880,
          300
        ]
      },
      {
        "parameters": {
          "fromEmail": "learning.automations@openclassrooms.com",
          "toEmail": "={{ $json.email }}",
          "subject": "=[LEO Assets] Terminé — {{ $json.target_course_id }}",
          "emailFormat": "html",
          "html": "={{ $json.html }}",
          "options": {
            "appendAttribution": false
          }
        },
        "id": "822676fd-d7fb-41de-a956-7d2eb106265a",
        "name": "Send Completion Email",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          3100,
          300
        ],
        "credentials": {
          "smtp": {
            "id": "g6zrrMLej2ViXu6P",
            "name": "SMTP account"
          }
        }
      }
    ],
    "connections": {
      "LEO Assets Form": {
        "main": [
          [
            {
              "node": "Init Params",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Init Params": {
        "main": [
          [
            {
              "node": "Find P1 (GitHub Tree)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find P1 (GitHub Tree)": {
        "main": [
          [
            {
              "node": "Locate Deliverables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Locate Deliverables": {
        "main": [
          [
            {
              "node": "Phase 1 Ready?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Phase 1 Ready?": {
        "main": [
          [
            {
              "node": "Load Handoff",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "P1 Missing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Handoff": {
        "main": [
          [
            {
              "node": "Parse Handoff",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "P1 Missing": {
        "main": [
          [
            {
              "node": "Send Error Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Handoff": {
        "main": [
          [
            {
              "node": "Call Iconik Init",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Iconik Init": {
        "main": [
          [
            {
              "node": "Build A8 Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build A8 Items": {
        "main": [
          [
            {
              "node": "Has Images?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Images?": {
        "main": [
          [
            {
              "node": "Call A8",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Collect Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call A8": {
        "main": [
          [
            {
              "node": "Collect Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect Results": {
        "main": [
          [
            {
              "node": "Build Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Report": {
        "main": [
          [
            {
              "node": "Send Completion Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jérémie Borrotzu",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-12T09:15:36.235Z",
        "id": 667,
        "workflowId": "iOvLCwyOv8ReIxbG",
        "versionId": "aeef6f21-985c-4eaa-931e-de37c6b6a418",
        "event": "activated",
        "userId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      },
      {
        "createdAt": "2026-06-12T09:15:36.222Z",
        "id": 666,
        "workflowId": "iOvLCwyOv8ReIxbG",
        "versionId": "aeef6f21-985c-4eaa-931e-de37c6b6a418",
        "event": "deactivated",
        "userId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      }
    ]
  }
}