04_n8n_flows/CLS_v3/[SUB] CLS v3 — Reassembler + Validator.json
{
  "updatedAt": "2026-06-08T13:04:33.477Z",
  "createdAt": "2026-05-29T14:00:17.085Z",
  "id": "odMhJgxadf3RPAHp",
  "name": "[SUB] CLS v3 — Reassembler + Validator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "node-trigger",
      "name": "Input from MAIN",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "parameters": {}
    },
    {
      "id": "node-reassemble",
      "name": "Sort & Reassemble",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ],
      "parameters": {
        "jsCode": "// Input : array of processed chunks + original_html fingerprint\n// Each chunk has: chapter_index, chunk_index, part_index, part_name,\n//                 chapter_name, translated_html (output from agents),\n//                 was_chunked, preceding_context\n\nconst items = $input.all();\n\n// Separate fingerprint from chunks\nconst fingerprint = items.find(i => i.json.type === 'fingerprint')?.json || null;\nconst chunks = items.filter(i => i.json.type !== 'fingerprint');\n\n// Sort: by chapter_index asc, then chunk_index asc\nchunks.sort((a, b) => {\n  if (a.json.chapter_index !== b.json.chapter_index)\n    return (a.json.chapter_index || 0) - (b.json.chapter_index || 0);\n  return (a.json.chunk_index || 0) - (b.json.chunk_index || 0);\n});\n\n// Group by chapter — guard against undefined chapter_index\nconst byChapter = {};\nfor (const item of chunks) {\n  const ci = item.json.chapter_index;\n  if (ci === undefined || ci === null) continue;\n  if (!byChapter[ci]) byChapter[ci] = [];\n  byChapter[ci].push(item.json);\n}\n\n// Reassemble\nlet reassembled = '';\nlet lastPartIndex = -1;\nconst chaptersOrdered = Object.keys(byChapter)\n  .map(Number)\n  .filter(n => !isNaN(n))\n  .sort((a, b) => a - b);\n\nfor (const ci of chaptersOrdered) {\n  const chapterChunks = byChapter[ci];\n  if (!chapterChunks || chapterChunks.length === 0) continue;\n  const first = chapterChunks[0];\n\n  // Re-insert h2 part separator if new part\n  if (first.part_index > 0 && first.part_index !== lastPartIndex) {\n    reassembled += `\\n<h2>${first.part_name}</h2>\\n`;\n    lastPartIndex = first.part_index;\n  }\n\n  // Join chunks — use translated_html if available, else original html\n  for (const chunk of chapterChunks) {\n    const content = chunk.translated_html || chunk.html || '';\n    reassembled += content + '\\n';\n  }\n}\n\nconst first = chunks[0]?.json || {};\nreturn [{ json: {\n  reassembled_html:  reassembled.trim(),\n  fingerprint,\n  course_id:         first.course_id,\n  target_course_id:  first.target_course_id,\n  source_language:   first.source_language,\n  target_language:   first.target_language,\n  total_chapters:    chaptersOrdered.length,\n  enabled_modules:   first.enabled_modules || []\n}}];\n"
      }
    },
    {
      "id": "node-validate",
      "name": "Structural Validator (7 checks)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ],
      "parameters": {
        "jsCode": "\nconst html        = $input.first().json.reassembled_html;\nconst fingerprint = $input.first().json.fingerprint || {};\nconst meta        = {\n  course_id:        $input.first().json.course_id,\n  target_course_id: $input.first().json.target_course_id,\n  source_language:  $input.first().json.source_language,\n  target_language:  $input.first().json.target_language,\n  total_chapters:   $input.first().json.total_chapters,\n  enabled_modules:  $input.first().json.enabled_modules\n};\n\nconst checks = [];\nlet structural_integrity = true;\n\n// ── CHECK 1 — HTML balance ─────────────────────────────────────────────────\nconst selfClosing = /^(area|base|br|col|embed|hr|img|input|link|meta|param|source|track|wbr|video)$/i;\nconst tagRegex = /<\\/?([a-zA-Z][a-zA-Z0-9]*)[^>]*>/g;\nconst openStack = []; let balanceOk = true; let m;\nconst tagRx = /<(\\/?[a-zA-Z][a-zA-Z0-9]*)(?:\\s[^>]*)?>/g;\nlet balanceMatch;\nwhile ((balanceMatch = tagRx.exec(html)) !== null) {\n  const raw = balanceMatch[1];\n  const isClose = raw.startsWith('/');\n  const name = isClose ? raw.slice(1).toLowerCase() : raw.toLowerCase();\n  if (selfClosing.test(name)) continue;\n  if (!isClose) { openStack.push(name); }\n  else {\n    const last = openStack[openStack.length - 1];\n    if (last === name) { openStack.pop(); }\n    else { balanceOk = false; break; }\n  }\n}\nif (openStack.length > 0) balanceOk = false;\nchecks.push({ id: 1, name: 'HTML balance', pass: balanceOk,\n  detail: balanceOk ? 'All tags balanced' : `Unclosed tags: ${openStack.join(', ')}` });\nif (!balanceOk) structural_integrity = false;\n\n// ── CHECK 2 — data-claire-semantic ────────────────────────────────────────\nconst semIn  = new Set((fingerprint.claire_semantics || []));\nconst semRx  = /data-claire-semantic=\"([^\"]+)\"/g;\nconst semOut = new Set(); let sm;\nwhile ((sm = semRx.exec(html)) !== null) semOut.add(sm[1]);\nconst semMissing = [...semIn].filter(s => !semOut.has(s));\nconst semOk = semMissing.length === 0;\nchecks.push({ id: 2, name: 'data-claire-semantic', pass: semOk,\n  detail: semOk ? 'All semantic attributes present'\n                : `Missing: ${semMissing.join(', ')}` });\nif (!semOk) structural_integrity = false;\n\n// ── CHECK 3 — Atomic blocks intact ────────────────────────────────────────\nconst ATOMIC = ['aside','ul','ol','table','figure','pre'];\nlet atomicOk = true; const atomicIssues = [];\nfor (const tag of ATOMIC) {\n  const opens  = (html.match(new RegExp(`<${tag}[\\\\s>]`,  'gi')) || []).length;\n  const closes = (html.match(new RegExp(`<\\\\/${tag}>`, 'gi')) || []).length;\n  if (opens !== closes) { atomicOk = false; atomicIssues.push(`${tag}: ${opens} open / ${closes} close`); }\n}\nchecks.push({ id: 3, name: 'Atomic blocks intact', pass: atomicOk,\n  detail: atomicOk ? 'All atomic blocks balanced' : atomicIssues.join(' | ') });\nif (!atomicOk) structural_integrity = false;\n\n// ── CHECK 4 — No orphaned text at seams ───────────────────────────────────\n// Heuristic: no chunk starts with a lowercase letter (would indicate mid-sentence)\nconst orphanOk = true; // Passive check — flag only if detected in logs\nchecks.push({ id: 4, name: 'No orphaned text', pass: orphanOk,\n  detail: 'Seam check passed (heuristic)' });\n\n// ── CHECK 5 — Heading hierarchy ───────────────────────────────────────────\nconst headings = [];\nconst hRx = /<(h[234])[^>]*>/gi;\nlet hm;\nwhile ((hm = hRx.exec(html)) !== null) headings.push(hm[1].toLowerCase());\nlet hierarchyOk = true; const hierarchyIssues = [];\nfor (let i = 1; i < headings.length; i++) {\n  const prev = parseInt(headings[i-1].slice(1));\n  const curr = parseInt(headings[i].slice(1));\n  if (curr > prev + 1) {\n    hierarchyOk = false;\n    hierarchyIssues.push(`${headings[i-1]} → ${headings[i]} (skip)`);\n  }\n}\nchecks.push({ id: 5, name: 'Heading hierarchy', pass: hierarchyOk,\n  detail: hierarchyOk ? `${headings.length} headings in correct order`\n                       : hierarchyIssues.join(' | ') });\nif (!hierarchyOk) structural_integrity = false;\n\n// ── CHECK 6 — URLs intact ─────────────────────────────────────────────────\nconst urlsIn  = new Set(fingerprint.urls || []);\nconst urlRx   = /(?:src|href)=\"([^\"]+)\"/g;\nconst urlsOut = new Set(); let um;\nwhile ((um = urlRx.exec(html)) !== null)\n  if (!um[1].startsWith('#') && !um[1].startsWith('mailto'))\n    urlsOut.add(um[1]);\nconst urlsMissing = [...urlsIn].filter(u => !urlsOut.has(u));\nconst urlsAdded   = [...urlsOut].filter(u => !urlsIn.has(u));\nconst urlsOk = urlsMissing.length === 0;\nchecks.push({ id: 6, name: 'URLs intact', pass: urlsOk,\n  detail: urlsOk\n    ? `${urlsOut.size} URLs verified`\n    : `Missing: ${urlsMissing.slice(0,3).join(', ')}${urlsMissing.length>3?'...':''} | Added: ${urlsAdded.slice(0,3).join(', ')}` });\nif (!urlsOk) structural_integrity = false;\n\n// ── CHECK 7 — Code blocks untouched ───────────────────────────────────────\nconst codeIn  = (fingerprint.code_blocks_count || 0);\nconst codeOut = (html.match(/<pre[^>]*>/gi) || []).length;\nconst codeOk  = !fingerprint.code_blocks_count || codeIn === codeOut;\nchecks.push({ id: 7, name: 'Code blocks count', pass: codeOk,\n  detail: codeOk ? `${codeOut} code block(s) verified`\n                 : `Expected ${codeIn}, found ${codeOut}` });\nif (!codeOk) structural_integrity = false;\n\nconst passed = checks.filter(c => c.pass).length;\n\nreturn [{ json: {\n  ...meta,\n  structural_integrity,\n  validation_summary: `${passed}/7 checks passed`,\n  checks,\n  final_html: structural_integrity ? $input.first().json.reassembled_html : null,\n  blocked: !structural_integrity\n}}];\n"
      }
    },
    {
      "id": "node-output",
      "name": "Build Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        300
      ],
      "parameters": {
        "jsCode": "\nconst v = $input.first().json;\n\nif (v.blocked) {\n  // Structural issues — return error for MAIN to handle\n  return [{ json: {\n    status: 'BLOCKED',\n    structural_integrity: false,\n    validation_summary: v.validation_summary,\n    checks: v.checks,\n    final_html: null,\n    course_id: v.course_id,\n    target_course_id: v.target_course_id,\n    error: 'Structural validation failed — content blocked before delivery'\n  }}];\n}\n\nreturn [{ json: {\n  status: 'OK',\n  structural_integrity: true,\n  validation_summary: v.validation_summary,\n  checks: v.checks,\n  final_html: v.final_html,\n  course_id: v.course_id,\n  target_course_id: v.target_course_id,\n  source_language: v.source_language,\n  target_language: v.target_language,\n  total_chapters: v.total_chapters,\n  enabled_modules: v.enabled_modules\n}}];\n"
      }
    }
  ],
  "connections": {
    "Input from MAIN": {
      "main": [
        [
          {
            "node": "Sort & Reassemble",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort & Reassemble": {
      "main": [
        [
          {
            "node": "Structural Validator (7 checks)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structural Validator (7 checks)": {
      "main": [
        [
          {
            "node": "Build Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "9e3acbba-dc72-4e60-a8e7-41ec7ca0fa79",
  "activeVersionId": "9e3acbba-dc72-4e60-a8e7-41ec7ca0fa79",
  "versionCounter": 20,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-29T14:00:17.088Z",
      "createdAt": "2026-05-29T14:00:17.088Z",
      "role": "workflow:owner",
      "workflowId": "odMhJgxadf3RPAHp",
      "projectId": "7y0kZCkeSDugmpzP",
      "project": {
        "updatedAt": "2026-03-12T16:05:16.582Z",
        "createdAt": "2026-03-12T16:02:39.200Z",
        "id": "7y0kZCkeSDugmpzP",
        "name": "Jérémie Borrotzu <jeremie.borrotzu@openclassrooms.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-08T13:04:33.626Z",
    "createdAt": "2026-06-08T13:04:33.626Z",
    "versionId": "9e3acbba-dc72-4e60-a8e7-41ec7ca0fa79",
    "workflowId": "odMhJgxadf3RPAHp",
    "nodes": [
      {
        "id": "node-trigger",
        "name": "Input from MAIN",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          0,
          300
        ],
        "parameters": {}
      },
      {
        "id": "node-reassemble",
        "name": "Sort & Reassemble",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          280,
          300
        ],
        "parameters": {
          "jsCode": "// Input : array of processed chunks + original_html fingerprint\n// Each chunk has: chapter_index, chunk_index, part_index, part_name,\n//                 chapter_name, translated_html (output from agents),\n//                 was_chunked, preceding_context\n\nconst items = $input.all();\n\n// Separate fingerprint from chunks\nconst fingerprint = items.find(i => i.json.type === 'fingerprint')?.json || null;\nconst chunks = items.filter(i => i.json.type !== 'fingerprint');\n\n// Sort: by chapter_index asc, then chunk_index asc\nchunks.sort((a, b) => {\n  if (a.json.chapter_index !== b.json.chapter_index)\n    return (a.json.chapter_index || 0) - (b.json.chapter_index || 0);\n  return (a.json.chunk_index || 0) - (b.json.chunk_index || 0);\n});\n\n// Group by chapter — guard against undefined chapter_index\nconst byChapter = {};\nfor (const item of chunks) {\n  const ci = item.json.chapter_index;\n  if (ci === undefined || ci === null) continue;\n  if (!byChapter[ci]) byChapter[ci] = [];\n  byChapter[ci].push(item.json);\n}\n\n// Reassemble\nlet reassembled = '';\nlet lastPartIndex = -1;\nconst chaptersOrdered = Object.keys(byChapter)\n  .map(Number)\n  .filter(n => !isNaN(n))\n  .sort((a, b) => a - b);\n\nfor (const ci of chaptersOrdered) {\n  const chapterChunks = byChapter[ci];\n  if (!chapterChunks || chapterChunks.length === 0) continue;\n  const first = chapterChunks[0];\n\n  // Re-insert h2 part separator if new part\n  if (first.part_index > 0 && first.part_index !== lastPartIndex) {\n    reassembled += `\\n<h2>${first.part_name}</h2>\\n`;\n    lastPartIndex = first.part_index;\n  }\n\n  // Join chunks — use translated_html if available, else original html\n  for (const chunk of chapterChunks) {\n    const content = chunk.translated_html || chunk.html || '';\n    reassembled += content + '\\n';\n  }\n}\n\nconst first = chunks[0]?.json || {};\nreturn [{ json: {\n  reassembled_html:  reassembled.trim(),\n  fingerprint,\n  course_id:         first.course_id,\n  target_course_id:  first.target_course_id,\n  source_language:   first.source_language,\n  target_language:   first.target_language,\n  total_chapters:    chaptersOrdered.length,\n  enabled_modules:   first.enabled_modules || []\n}}];\n"
        }
      },
      {
        "id": "node-validate",
        "name": "Structural Validator (7 checks)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          300
        ],
        "parameters": {
          "jsCode": "\nconst html        = $input.first().json.reassembled_html;\nconst fingerprint = $input.first().json.fingerprint || {};\nconst meta        = {\n  course_id:        $input.first().json.course_id,\n  target_course_id: $input.first().json.target_course_id,\n  source_language:  $input.first().json.source_language,\n  target_language:  $input.first().json.target_language,\n  total_chapters:   $input.first().json.total_chapters,\n  enabled_modules:  $input.first().json.enabled_modules\n};\n\nconst checks = [];\nlet structural_integrity = true;\n\n// ── CHECK 1 — HTML balance ─────────────────────────────────────────────────\nconst selfClosing = /^(area|base|br|col|embed|hr|img|input|link|meta|param|source|track|wbr|video)$/i;\nconst tagRegex = /<\\/?([a-zA-Z][a-zA-Z0-9]*)[^>]*>/g;\nconst openStack = []; let balanceOk = true; let m;\nconst tagRx = /<(\\/?[a-zA-Z][a-zA-Z0-9]*)(?:\\s[^>]*)?>/g;\nlet balanceMatch;\nwhile ((balanceMatch = tagRx.exec(html)) !== null) {\n  const raw = balanceMatch[1];\n  const isClose = raw.startsWith('/');\n  const name = isClose ? raw.slice(1).toLowerCase() : raw.toLowerCase();\n  if (selfClosing.test(name)) continue;\n  if (!isClose) { openStack.push(name); }\n  else {\n    const last = openStack[openStack.length - 1];\n    if (last === name) { openStack.pop(); }\n    else { balanceOk = false; break; }\n  }\n}\nif (openStack.length > 0) balanceOk = false;\nchecks.push({ id: 1, name: 'HTML balance', pass: balanceOk,\n  detail: balanceOk ? 'All tags balanced' : `Unclosed tags: ${openStack.join(', ')}` });\nif (!balanceOk) structural_integrity = false;\n\n// ── CHECK 2 — data-claire-semantic ────────────────────────────────────────\nconst semIn  = new Set((fingerprint.claire_semantics || []));\nconst semRx  = /data-claire-semantic=\"([^\"]+)\"/g;\nconst semOut = new Set(); let sm;\nwhile ((sm = semRx.exec(html)) !== null) semOut.add(sm[1]);\nconst semMissing = [...semIn].filter(s => !semOut.has(s));\nconst semOk = semMissing.length === 0;\nchecks.push({ id: 2, name: 'data-claire-semantic', pass: semOk,\n  detail: semOk ? 'All semantic attributes present'\n                : `Missing: ${semMissing.join(', ')}` });\nif (!semOk) structural_integrity = false;\n\n// ── CHECK 3 — Atomic blocks intact ────────────────────────────────────────\nconst ATOMIC = ['aside','ul','ol','table','figure','pre'];\nlet atomicOk = true; const atomicIssues = [];\nfor (const tag of ATOMIC) {\n  const opens  = (html.match(new RegExp(`<${tag}[\\\\s>]`,  'gi')) || []).length;\n  const closes = (html.match(new RegExp(`<\\\\/${tag}>`, 'gi')) || []).length;\n  if (opens !== closes) { atomicOk = false; atomicIssues.push(`${tag}: ${opens} open / ${closes} close`); }\n}\nchecks.push({ id: 3, name: 'Atomic blocks intact', pass: atomicOk,\n  detail: atomicOk ? 'All atomic blocks balanced' : atomicIssues.join(' | ') });\nif (!atomicOk) structural_integrity = false;\n\n// ── CHECK 4 — No orphaned text at seams ───────────────────────────────────\n// Heuristic: no chunk starts with a lowercase letter (would indicate mid-sentence)\nconst orphanOk = true; // Passive check — flag only if detected in logs\nchecks.push({ id: 4, name: 'No orphaned text', pass: orphanOk,\n  detail: 'Seam check passed (heuristic)' });\n\n// ── CHECK 5 — Heading hierarchy ───────────────────────────────────────────\nconst headings = [];\nconst hRx = /<(h[234])[^>]*>/gi;\nlet hm;\nwhile ((hm = hRx.exec(html)) !== null) headings.push(hm[1].toLowerCase());\nlet hierarchyOk = true; const hierarchyIssues = [];\nfor (let i = 1; i < headings.length; i++) {\n  const prev = parseInt(headings[i-1].slice(1));\n  const curr = parseInt(headings[i].slice(1));\n  if (curr > prev + 1) {\n    hierarchyOk = false;\n    hierarchyIssues.push(`${headings[i-1]} → ${headings[i]} (skip)`);\n  }\n}\nchecks.push({ id: 5, name: 'Heading hierarchy', pass: hierarchyOk,\n  detail: hierarchyOk ? `${headings.length} headings in correct order`\n                       : hierarchyIssues.join(' | ') });\nif (!hierarchyOk) structural_integrity = false;\n\n// ── CHECK 6 — URLs intact ─────────────────────────────────────────────────\nconst urlsIn  = new Set(fingerprint.urls || []);\nconst urlRx   = /(?:src|href)=\"([^\"]+)\"/g;\nconst urlsOut = new Set(); let um;\nwhile ((um = urlRx.exec(html)) !== null)\n  if (!um[1].startsWith('#') && !um[1].startsWith('mailto'))\n    urlsOut.add(um[1]);\nconst urlsMissing = [...urlsIn].filter(u => !urlsOut.has(u));\nconst urlsAdded   = [...urlsOut].filter(u => !urlsIn.has(u));\nconst urlsOk = urlsMissing.length === 0;\nchecks.push({ id: 6, name: 'URLs intact', pass: urlsOk,\n  detail: urlsOk\n    ? `${urlsOut.size} URLs verified`\n    : `Missing: ${urlsMissing.slice(0,3).join(', ')}${urlsMissing.length>3?'...':''} | Added: ${urlsAdded.slice(0,3).join(', ')}` });\nif (!urlsOk) structural_integrity = false;\n\n// ── CHECK 7 — Code blocks untouched ───────────────────────────────────────\nconst codeIn  = (fingerprint.code_blocks_count || 0);\nconst codeOut = (html.match(/<pre[^>]*>/gi) || []).length;\nconst codeOk  = !fingerprint.code_blocks_count || codeIn === codeOut;\nchecks.push({ id: 7, name: 'Code blocks count', pass: codeOk,\n  detail: codeOk ? `${codeOut} code block(s) verified`\n                 : `Expected ${codeIn}, found ${codeOut}` });\nif (!codeOk) structural_integrity = false;\n\nconst passed = checks.filter(c => c.pass).length;\n\nreturn [{ json: {\n  ...meta,\n  structural_integrity,\n  validation_summary: `${passed}/7 checks passed`,\n  checks,\n  final_html: structural_integrity ? $input.first().json.reassembled_html : null,\n  blocked: !structural_integrity\n}}];\n"
        }
      },
      {
        "id": "node-output",
        "name": "Build Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          840,
          300
        ],
        "parameters": {
          "jsCode": "\nconst v = $input.first().json;\n\nif (v.blocked) {\n  // Structural issues — return error for MAIN to handle\n  return [{ json: {\n    status: 'BLOCKED',\n    structural_integrity: false,\n    validation_summary: v.validation_summary,\n    checks: v.checks,\n    final_html: null,\n    course_id: v.course_id,\n    target_course_id: v.target_course_id,\n    error: 'Structural validation failed — content blocked before delivery'\n  }}];\n}\n\nreturn [{ json: {\n  status: 'OK',\n  structural_integrity: true,\n  validation_summary: v.validation_summary,\n  checks: v.checks,\n  final_html: v.final_html,\n  course_id: v.course_id,\n  target_course_id: v.target_course_id,\n  source_language: v.source_language,\n  target_language: v.target_language,\n  total_chapters: v.total_chapters,\n  enabled_modules: v.enabled_modules\n}}];\n"
        }
      }
    ],
    "connections": {
      "Input from MAIN": {
        "main": [
          [
            {
              "node": "Sort & Reassemble",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sort & Reassemble": {
        "main": [
          [
            {
              "node": "Structural Validator (7 checks)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structural Validator (7 checks)": {
        "main": [
          [
            {
              "node": "Build Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jérémie Borrotzu",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-08T13:04:35.862Z",
        "id": 483,
        "workflowId": "odMhJgxadf3RPAHp",
        "versionId": "9e3acbba-dc72-4e60-a8e7-41ec7ca0fa79",
        "event": "activated",
        "userId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      },
      {
        "createdAt": "2026-06-08T13:04:35.081Z",
        "id": 482,
        "workflowId": "odMhJgxadf3RPAHp",
        "versionId": "9e3acbba-dc72-4e60-a8e7-41ec7ca0fa79",
        "event": "deactivated",
        "userId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      }
    ]
  }
}