04_n8n_flows/CLS_v3/[SUB] CLS v3 — Iconik Init Collections.json
{
  "updatedAt": "2026-06-12T09:42:05.351Z",
  "createdAt": "2026-06-08T15:26:40.898Z",
  "id": "P97ds2vbSmklYbnP",
  "name": "[SUB] CLS v3 — Iconik Init Collections",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "Input from MAIN",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "parameters": {}
    },
    {
      "id": "auth",
      "name": "Build Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "jsCode": "// ICONIK CREDENTIALS — configured 2026-06-08\nconst ICONIK_APP_ID     = '***REMOVED***';\nconst ICONIK_AUTH_TOKEN = '***REMOVED***';\n\nconst inp = $input.first().json;\nreturn [{json:{\n  target_course_id:    inp.target_course_id,\n  iconik_app_id:       ICONIK_APP_ID,\n  iconik_auth_token:   ICONIK_AUTH_TOKEN,\n  root_collection_name:'0000_LOCALISATION'\n}}];"
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst a = $('Build Auth').first().json;\nconst APP = a.iconik_app_id, TOK = a.iconik_auth_token;\nconst tid = String(a.target_course_id || '').trim();\nconst base = 'https://app.iconik.io';\nconst H = { 'App-ID': APP, 'Auth-Token': TOK, 'Content-Type': 'application/json' };\nconst http = this.helpers.httpRequest;\n\nconst searchColl = async (title) => {\n  const r = await http({ method:'POST', url: base+'/API/search/v1/search/', headers:H, body:{ doc_types:['collections'], query:title, per_page:50 }, json:true });\n  return (r.objects||[]).filter(o => (o.title||'').trim() === title);\n};\nconst childColls = async (pid) => {\n  const r = await http({ method:'GET', url: base+`/API/assets/v1/collections/${pid}/contents/?object_types=collections&per_page=200`, headers:H, json:true });\n  return r.objects||[];\n};\nconst createColl = async (title, parent_id) => {\n  const body = { title };\n  if (parent_id) body.parent_id = parent_id;\n  const r = await http({ method:'POST', url: base+'/API/assets/v1/collections/', headers:H, body, json:true });\n  return r.id;\n};\nconst ensureRoot = async (title) => {\n  const hits = await searchColl(title);\n  const top = hits.find(o => !o.parent_id) || hits[0];\n  return top ? top.id : await createColl(title, null);\n};\nconst ensureUnder = async (parent_id, title) => {\n  const kids = await childColls(parent_id);\n  const hit = kids.find(o => (o.title||'').trim() === title);\n  return hit ? hit.id : await createColl(title, parent_id);\n};\n\nconst root = await ensureRoot('0000_LOCALISATION');\nconst target = await ensureUnder(root, tid);\nconst graphics = await ensureUnder(target, 'static_graphics');\nconst files = await ensureUnder(target, 'external_files');\nconst transcripts = await ensureUnder(target, 'transcripts');\nconst pdf = await ensureUnder(target, 'pdf_to_be_localized');\n\nreturn [{ json: {\n  target_course_id: tid,\n  root_collection_id: root,\n  target_collection_id: target,\n  graphics_collection_id: graphics,\n  files_collection_id: files,\n  transcripts_collection_id: transcripts,\n  pdf_collection_id: pdf,\n  iconik_ready: !!(root && target && graphics)\n}}];\n"
      },
      "id": "1aacfff9-daf1-4a27-b2c8-46fcceec05f2",
      "name": "Init Collections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    }
  ],
  "connections": {
    "Input from MAIN": {
      "main": [
        [
          {
            "node": "Build Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Auth": {
      "main": [
        [
          {
            "node": "Init Collections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "058e6954-fde2-4b2c-ae05-6d5fdd899afc",
  "activeVersionId": "058e6954-fde2-4b2c-ae05-6d5fdd899afc",
  "versionCounter": 21,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-08T15:26:40.900Z",
      "createdAt": "2026-06-08T15:26:40.900Z",
      "role": "workflow:owner",
      "workflowId": "P97ds2vbSmklYbnP",
      "projectId": "7y0kZCkeSDugmpzP",
      "project": {
        "updatedAt": "2026-03-12T16:05:16.582Z",
        "createdAt": "2026-03-12T16:02:39.200Z",
        "id": "7y0kZCkeSDugmpzP",
        "name": "Jérémie Borrotzu <jeremie.borrotzu@openclassrooms.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-12T09:42:05.354Z",
    "createdAt": "2026-06-12T09:42:05.354Z",
    "versionId": "058e6954-fde2-4b2c-ae05-6d5fdd899afc",
    "workflowId": "P97ds2vbSmklYbnP",
    "nodes": [
      {
        "id": "trigger",
        "name": "Input from MAIN",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          0,
          300
        ],
        "parameters": {}
      },
      {
        "id": "auth",
        "name": "Build Auth",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          220,
          300
        ],
        "parameters": {
          "jsCode": "// ICONIK CREDENTIALS — configured 2026-06-08\nconst ICONIK_APP_ID     = '***REMOVED***';\nconst ICONIK_AUTH_TOKEN = '***REMOVED***';\n\nconst inp = $input.first().json;\nreturn [{json:{\n  target_course_id:    inp.target_course_id,\n  iconik_app_id:       ICONIK_APP_ID,\n  iconik_auth_token:   ICONIK_AUTH_TOKEN,\n  root_collection_name:'0000_LOCALISATION'\n}}];"
        }
      },
      {
        "parameters": {
          "jsCode": "\nconst a = $('Build Auth').first().json;\nconst APP = a.iconik_app_id, TOK = a.iconik_auth_token;\nconst tid = String(a.target_course_id || '').trim();\nconst base = 'https://app.iconik.io';\nconst H = { 'App-ID': APP, 'Auth-Token': TOK, 'Content-Type': 'application/json' };\nconst http = this.helpers.httpRequest;\n\nconst searchColl = async (title) => {\n  const r = await http({ method:'POST', url: base+'/API/search/v1/search/', headers:H, body:{ doc_types:['collections'], query:title, per_page:50 }, json:true });\n  return (r.objects||[]).filter(o => (o.title||'').trim() === title);\n};\nconst childColls = async (pid) => {\n  const r = await http({ method:'GET', url: base+`/API/assets/v1/collections/${pid}/contents/?object_types=collections&per_page=200`, headers:H, json:true });\n  return r.objects||[];\n};\nconst createColl = async (title, parent_id) => {\n  const body = { title };\n  if (parent_id) body.parent_id = parent_id;\n  const r = await http({ method:'POST', url: base+'/API/assets/v1/collections/', headers:H, body, json:true });\n  return r.id;\n};\nconst ensureRoot = async (title) => {\n  const hits = await searchColl(title);\n  const top = hits.find(o => !o.parent_id) || hits[0];\n  return top ? top.id : await createColl(title, null);\n};\nconst ensureUnder = async (parent_id, title) => {\n  const kids = await childColls(parent_id);\n  const hit = kids.find(o => (o.title||'').trim() === title);\n  return hit ? hit.id : await createColl(title, parent_id);\n};\n\nconst root = await ensureRoot('0000_LOCALISATION');\nconst target = await ensureUnder(root, tid);\nconst graphics = await ensureUnder(target, 'static_graphics');\nconst files = await ensureUnder(target, 'external_files');\nconst transcripts = await ensureUnder(target, 'transcripts');\nconst pdf = await ensureUnder(target, 'pdf_to_be_localized');\n\nreturn [{ json: {\n  target_course_id: tid,\n  root_collection_id: root,\n  target_collection_id: target,\n  graphics_collection_id: graphics,\n  files_collection_id: files,\n  transcripts_collection_id: transcripts,\n  pdf_collection_id: pdf,\n  iconik_ready: !!(root && target && graphics)\n}}];\n"
        },
        "id": "1aacfff9-daf1-4a27-b2c8-46fcceec05f2",
        "name": "Init Collections",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          700,
          300
        ]
      }
    ],
    "connections": {
      "Input from MAIN": {
        "main": [
          [
            {
              "node": "Build Auth",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Auth": {
        "main": [
          [
            {
              "node": "Init Collections",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jérémie Borrotzu",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-12T09:42:05.393Z",
        "id": 669,
        "workflowId": "P97ds2vbSmklYbnP",
        "versionId": "058e6954-fde2-4b2c-ae05-6d5fdd899afc",
        "event": "activated",
        "userId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      },
      {
        "createdAt": "2026-06-12T09:42:05.383Z",
        "id": 668,
        "workflowId": "P97ds2vbSmklYbnP",
        "versionId": "058e6954-fde2-4b2c-ae05-6d5fdd899afc",
        "event": "deactivated",
        "userId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      }
    ]
  }
}