04_n8n_flows/CLS_v3/[SUB] CLS v3 — Pre-Processor.json
{
  "updatedAt": "2026-06-05T07:26:58.873Z",
  "createdAt": "2026-05-29T13:55:58.216Z",
  "id": "zDg9JS6pco9fiHTk",
  "name": "[SUB] CLS v3 — Pre-Processor",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "node-trigger",
      "name": "Input from MAIN",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "parameters": {}
    },
    {
      "id": "node-split",
      "name": "Split into Chapters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ],
      "parameters": {
        "jsCode": "\nconst html = $input.first().json.html;\nconst meta = {\n  course_id:        $input.first().json.course_id,\n  target_course_id: $input.first().json.target_course_id,\n  source_language:  $input.first().json.source_language,\n  target_language:  $input.first().json.target_language,\n  enabled_modules:  $input.first().json.enabled_modules || []\n};\n\nconst CHUNK_THRESHOLD = 12000;\n\nfunction estimateTokens(html) {\n  const plain = html.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  return Math.ceil(plain.split(' ').filter(w => w).length * 1.3);\n}\n\n// Find all h2 and h3 positions in the merged HTML\nconst tagRegex = /<(h2|h3)(?:\\s[^>]*)?>[\\s\\S]*?<\\/\\1>/gi;\nconst tagMatches = [];\nlet m;\nwhile ((m = tagRegex.exec(html)) !== null) {\n  const tag = m[1].toLowerCase();\n  const nameMatch = m[0].match(/<(?:h2|h3)[^>]*>([\\s\\S]*?)<\\/(?:h2|h3)>/i);\n  const name = nameMatch ? nameMatch[1].replace(/<[^>]+>/g, '').trim() : '';\n  tagMatches.push({ index: m.index, end: m.index + m[0].length, tag, name });\n}\n\nconst chapters = [];\nlet chapterIndex = 0;\nlet partIndex   = 0;\nlet partName    = '';\n\n// Content before first tag = P0C0 intro\nif (tagMatches.length > 0 && tagMatches[0].index > 50) {\n  const introHtml = html.slice(0, tagMatches[0].index).trim();\n  if (introHtml.length > 50) {\n    chapterIndex++;\n    chapters.push({ ...meta, chapter_index: 0, chapter_name: 'Course Introduction',\n      part_name: '', part_index: 0, is_intro: true,\n      html: introHtml, token_estimate: estimateTokens(introHtml),\n      needs_chunking: false });\n  }\n}\n\nfor (let i = 0; i < tagMatches.length; i++) {\n  const curr = tagMatches[i];\n  const next = tagMatches[i + 1];\n  if (curr.tag === 'h2') { partName = curr.name; partIndex++; continue; }\n  // h3 = chapter\n  const contentEnd = next ? next.index : html.length;\n  const chapterHtml = html.slice(curr.index, contentEnd).trim();\n  const tokens = estimateTokens(chapterHtml);\n  chapterIndex++;\n  chapters.push({ ...meta,\n    chapter_index: chapterIndex, chapter_name: curr.name,\n    part_name: partName, part_index: partIndex, is_intro: false,\n    html: chapterHtml, token_estimate: tokens,\n    needs_chunking: tokens > CHUNK_THRESHOLD });\n}\n\nreturn chapters.map(c => ({ json: c }));\n"
      }
    },
    {
      "id": "node-chunk",
      "name": "Chunk Long Chapters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ],
      "parameters": {
        "jsCode": "\nconst THRESHOLD    = 12000;\nconst CTX_CHARS    = 300;\nconst ATOMIC       = ['aside','ul','ol','table','figure','pre'];\n\nfunction estimateTokens(html) {\n  const plain = html.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  return Math.ceil(plain.split(' ').filter(w=>w).length * 1.3);\n}\n\nfunction insideAtomic(html, pos) {\n  const before = html.slice(0, pos);\n  return ATOMIC.some(tag => {\n    const opens  = (before.match(new RegExp(`<${tag}[\\\\s>]`, 'gi')) || []).length;\n    const closes = (before.match(new RegExp(`<\\\\/${tag}>`,  'gi')) || []).length;\n    return opens > closes;\n  });\n}\n\nfunction findSplitPoints(html) {\n  const pts = [];\n  // Priority 1 — before <h4>\n  const h4 = /<h4[\\s>]/gi; let m;\n  while ((m = h4.exec(html)) !== null)\n    if (m.index > 0 && !insideAtomic(html, m.index))\n      pts.push({ index: m.index, p: 1 });\n  // Priority 3 — </p> immediately before <figure>\n  if (!pts.length) {\n    const pf = /<\\/p>(\\s*)<figure/gi;\n    while ((m = pf.exec(html)) !== null)\n      if (!insideAtomic(html, m.index))\n        pts.push({ index: m.index + 4, p: 3 });\n  }\n  return pts.sort((a,b) => a.index - b.index);\n}\n\nfunction chunkChapter(ch) {\n  const html = ch.html;\n  const pts  = findSplitPoints(html);\n  if (!pts.length) return [{ ...ch, chunk_index:1, total_chunks:1,\n    preceding_context:'', was_chunked:false,\n    split_warning:'No safe split point found — sent as single chunk' }];\n\n  const chunks = []; let start = 0; let idx = 1;\n  for (let i = 0; i < pts.length; i++) {\n    const segHtml = html.slice(start, pts[i].index);\n    if (estimateTokens(segHtml) >= THRESHOLD || i === pts.length - 1) {\n      chunks.push({ ...ch, html: segHtml, chunk_index: idx,\n        preceding_context: start > 0 ? html.slice(Math.max(0,start-CTX_CHARS),start) : '',\n        token_estimate: estimateTokens(segHtml), was_chunked: true });\n      start = pts[i].index; idx++;\n    }\n  }\n  if (start < html.length) {\n    const segHtml = html.slice(start);\n    chunks.push({ ...ch, html: segHtml, chunk_index: idx,\n      preceding_context: html.slice(Math.max(0,start-CTX_CHARS),start),\n      token_estimate: estimateTokens(segHtml), was_chunked: true });\n  }\n  const total = idx;\n  return chunks.map(c => ({ ...c, total_chunks: total }));\n}\n\nconst output = [];\nfor (const item of $input.all()) {\n  const ch = item.json;\n  if (ch.needs_chunking) {\n    chunkChapter(ch).forEach(c => output.push({ json: c }));\n  } else {\n    output.push({ json: { ...ch, chunk_index:1, total_chunks:1,\n      preceding_context:'', was_chunked:false }});\n  }\n}\nreturn output;\n"
      }
    },
    {
      "id": "node-summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        300
      ],
      "parameters": {
        "jsCode": "\nconst chunks = $input.all();\nconst total_chunks   = chunks.length;\nconst chunked_chaps  = chunks.filter(c => c.json.was_chunked).length;\nconst total_tokens   = chunks.reduce((s,c) => s + (c.json.token_estimate||0), 0);\n\n// Add summary metadata to every chunk\nreturn chunks.map(c => ({ json: {\n  ...c.json,\n  pipeline_meta: {\n    total_chunks,\n    chunked_chapters: chunked_chaps,\n    estimated_total_tokens: total_tokens,\n    preprocessor_version: 'v3.0'\n  }\n}}));\n"
      }
    }
  ],
  "connections": {
    "Input from MAIN": {
      "main": [
        [
          {
            "node": "Split into Chapters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into Chapters": {
      "main": [
        [
          {
            "node": "Chunk Long Chapters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Long Chapters": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "6352bcea-b5f1-4f3f-a0bc-c18f1f1c7860",
  "activeVersionId": "6352bcea-b5f1-4f3f-a0bc-c18f1f1c7860",
  "versionCounter": 18,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-29T13:55:58.220Z",
      "createdAt": "2026-05-29T13:55:58.220Z",
      "role": "workflow:owner",
      "workflowId": "zDg9JS6pco9fiHTk",
      "projectId": "7y0kZCkeSDugmpzP",
      "project": {
        "updatedAt": "2026-03-12T16:05:16.582Z",
        "createdAt": "2026-03-12T16:02:39.200Z",
        "id": "7y0kZCkeSDugmpzP",
        "name": "Jérémie Borrotzu <jeremie.borrotzu@openclassrooms.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-05T07:26:58.875Z",
    "createdAt": "2026-06-05T07:26:58.875Z",
    "versionId": "6352bcea-b5f1-4f3f-a0bc-c18f1f1c7860",
    "workflowId": "zDg9JS6pco9fiHTk",
    "nodes": [
      {
        "id": "node-trigger",
        "name": "Input from MAIN",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          0,
          300
        ],
        "parameters": {}
      },
      {
        "id": "node-split",
        "name": "Split into Chapters",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          280,
          300
        ],
        "parameters": {
          "jsCode": "\nconst html = $input.first().json.html;\nconst meta = {\n  course_id:        $input.first().json.course_id,\n  target_course_id: $input.first().json.target_course_id,\n  source_language:  $input.first().json.source_language,\n  target_language:  $input.first().json.target_language,\n  enabled_modules:  $input.first().json.enabled_modules || []\n};\n\nconst CHUNK_THRESHOLD = 12000;\n\nfunction estimateTokens(html) {\n  const plain = html.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  return Math.ceil(plain.split(' ').filter(w => w).length * 1.3);\n}\n\n// Find all h2 and h3 positions in the merged HTML\nconst tagRegex = /<(h2|h3)(?:\\s[^>]*)?>[\\s\\S]*?<\\/\\1>/gi;\nconst tagMatches = [];\nlet m;\nwhile ((m = tagRegex.exec(html)) !== null) {\n  const tag = m[1].toLowerCase();\n  const nameMatch = m[0].match(/<(?:h2|h3)[^>]*>([\\s\\S]*?)<\\/(?:h2|h3)>/i);\n  const name = nameMatch ? nameMatch[1].replace(/<[^>]+>/g, '').trim() : '';\n  tagMatches.push({ index: m.index, end: m.index + m[0].length, tag, name });\n}\n\nconst chapters = [];\nlet chapterIndex = 0;\nlet partIndex   = 0;\nlet partName    = '';\n\n// Content before first tag = P0C0 intro\nif (tagMatches.length > 0 && tagMatches[0].index > 50) {\n  const introHtml = html.slice(0, tagMatches[0].index).trim();\n  if (introHtml.length > 50) {\n    chapterIndex++;\n    chapters.push({ ...meta, chapter_index: 0, chapter_name: 'Course Introduction',\n      part_name: '', part_index: 0, is_intro: true,\n      html: introHtml, token_estimate: estimateTokens(introHtml),\n      needs_chunking: false });\n  }\n}\n\nfor (let i = 0; i < tagMatches.length; i++) {\n  const curr = tagMatches[i];\n  const next = tagMatches[i + 1];\n  if (curr.tag === 'h2') { partName = curr.name; partIndex++; continue; }\n  // h3 = chapter\n  const contentEnd = next ? next.index : html.length;\n  const chapterHtml = html.slice(curr.index, contentEnd).trim();\n  const tokens = estimateTokens(chapterHtml);\n  chapterIndex++;\n  chapters.push({ ...meta,\n    chapter_index: chapterIndex, chapter_name: curr.name,\n    part_name: partName, part_index: partIndex, is_intro: false,\n    html: chapterHtml, token_estimate: tokens,\n    needs_chunking: tokens > CHUNK_THRESHOLD });\n}\n\nreturn chapters.map(c => ({ json: c }));\n"
        }
      },
      {
        "id": "node-chunk",
        "name": "Chunk Long Chapters",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          300
        ],
        "parameters": {
          "jsCode": "\nconst THRESHOLD    = 12000;\nconst CTX_CHARS    = 300;\nconst ATOMIC       = ['aside','ul','ol','table','figure','pre'];\n\nfunction estimateTokens(html) {\n  const plain = html.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  return Math.ceil(plain.split(' ').filter(w=>w).length * 1.3);\n}\n\nfunction insideAtomic(html, pos) {\n  const before = html.slice(0, pos);\n  return ATOMIC.some(tag => {\n    const opens  = (before.match(new RegExp(`<${tag}[\\\\s>]`, 'gi')) || []).length;\n    const closes = (before.match(new RegExp(`<\\\\/${tag}>`,  'gi')) || []).length;\n    return opens > closes;\n  });\n}\n\nfunction findSplitPoints(html) {\n  const pts = [];\n  // Priority 1 — before <h4>\n  const h4 = /<h4[\\s>]/gi; let m;\n  while ((m = h4.exec(html)) !== null)\n    if (m.index > 0 && !insideAtomic(html, m.index))\n      pts.push({ index: m.index, p: 1 });\n  // Priority 3 — </p> immediately before <figure>\n  if (!pts.length) {\n    const pf = /<\\/p>(\\s*)<figure/gi;\n    while ((m = pf.exec(html)) !== null)\n      if (!insideAtomic(html, m.index))\n        pts.push({ index: m.index + 4, p: 3 });\n  }\n  return pts.sort((a,b) => a.index - b.index);\n}\n\nfunction chunkChapter(ch) {\n  const html = ch.html;\n  const pts  = findSplitPoints(html);\n  if (!pts.length) return [{ ...ch, chunk_index:1, total_chunks:1,\n    preceding_context:'', was_chunked:false,\n    split_warning:'No safe split point found — sent as single chunk' }];\n\n  const chunks = []; let start = 0; let idx = 1;\n  for (let i = 0; i < pts.length; i++) {\n    const segHtml = html.slice(start, pts[i].index);\n    if (estimateTokens(segHtml) >= THRESHOLD || i === pts.length - 1) {\n      chunks.push({ ...ch, html: segHtml, chunk_index: idx,\n        preceding_context: start > 0 ? html.slice(Math.max(0,start-CTX_CHARS),start) : '',\n        token_estimate: estimateTokens(segHtml), was_chunked: true });\n      start = pts[i].index; idx++;\n    }\n  }\n  if (start < html.length) {\n    const segHtml = html.slice(start);\n    chunks.push({ ...ch, html: segHtml, chunk_index: idx,\n      preceding_context: html.slice(Math.max(0,start-CTX_CHARS),start),\n      token_estimate: estimateTokens(segHtml), was_chunked: true });\n  }\n  const total = idx;\n  return chunks.map(c => ({ ...c, total_chunks: total }));\n}\n\nconst output = [];\nfor (const item of $input.all()) {\n  const ch = item.json;\n  if (ch.needs_chunking) {\n    chunkChapter(ch).forEach(c => output.push({ json: c }));\n  } else {\n    output.push({ json: { ...ch, chunk_index:1, total_chunks:1,\n      preceding_context:'', was_chunked:false }});\n  }\n}\nreturn output;\n"
        }
      },
      {
        "id": "node-summary",
        "name": "Build Summary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          840,
          300
        ],
        "parameters": {
          "jsCode": "\nconst chunks = $input.all();\nconst total_chunks   = chunks.length;\nconst chunked_chaps  = chunks.filter(c => c.json.was_chunked).length;\nconst total_tokens   = chunks.reduce((s,c) => s + (c.json.token_estimate||0), 0);\n\n// Add summary metadata to every chunk\nreturn chunks.map(c => ({ json: {\n  ...c.json,\n  pipeline_meta: {\n    total_chunks,\n    chunked_chapters: chunked_chaps,\n    estimated_total_tokens: total_tokens,\n    preprocessor_version: 'v3.0'\n  }\n}}));\n"
        }
      }
    ],
    "connections": {
      "Input from MAIN": {
        "main": [
          [
            {
              "node": "Split into Chapters",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split into Chapters": {
        "main": [
          [
            {
              "node": "Chunk Long Chapters",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chunk Long Chapters": {
        "main": [
          [
            {
              "node": "Build Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jérémie Borrotzu",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-05T07:26:58.898Z",
        "id": 421,
        "workflowId": "zDg9JS6pco9fiHTk",
        "versionId": "6352bcea-b5f1-4f3f-a0bc-c18f1f1c7860",
        "event": "activated",
        "userId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      },
      {
        "createdAt": "2026-06-05T07:26:58.892Z",
        "id": 420,
        "workflowId": "zDg9JS6pco9fiHTk",
        "versionId": "6352bcea-b5f1-4f3f-a0bc-c18f1f1c7860",
        "event": "deactivated",
        "userId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      }
    ]
  }
}