04_n8n_flows/CLS_v3/[SUB] CLS v3 — Iconik Init Collections.json
{
  "updatedAt": "2026-06-08T16:01:16.545Z",
  "createdAt": "2026-06-08T15:26:40.898Z",
  "id": "P97ds2vbSmklYbnP",
  "name": "[SUB] CLS v3 — Iconik Init Collections",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "Input from MAIN",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "parameters": {}
    },
    {
      "id": "auth",
      "name": "Build Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "jsCode": "// ICONIK CREDENTIALS — configured 2026-06-08\nconst ICONIK_APP_ID     = 'feff994e-1a46-11ee-9965-6a0b57ea0a0e';\nconst ICONIK_AUTH_TOKEN = '***REMOVED***';\n\nconst inp = $input.first().json;\nreturn [{json:{\n  target_course_id:    inp.target_course_id,\n  iconik_app_id:       ICONIK_APP_ID,\n  iconik_auth_token:   ICONIK_AUTH_TOKEN,\n  root_collection_name:'0000_LOCALISATION'\n}}];"
      }
    },
    {
      "id": "search",
      "name": "Search Root Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        440,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://app.iconik.io/API/search/v1/search/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "App-ID",
              "value": "={{ $('Build Auth').first().json.iconik_app_id }}"
            },
            {
              "name": "Auth-Token",
              "value": "={{ $('Build Auth').first().json.iconik_auth_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "doc_types": [
            "=collections"
          ],
          "query": "=0000_LOCALISATION",
          "limit": 5
        }
      }
    },
    {
      "id": "find",
      "name": "Extract Root ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "jsCode": "const auth=$('Build Auth').first().json;\nconst res=$input.first().json;\nconst match=(res.objects||[]).find(o=>(o.title||'').trim()==='0000_LOCALISATION');\nreturn [{json:{...auth,root_collection_id:match?match.id:null,root_found:!!match}}];"
      }
    },
    {
      "id": "c_tgt",
      "name": "Create Target Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        880,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://app.iconik.io/API/assets/v1/collections/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "App-ID",
              "value": "={{ $('Build Auth').first().json.iconik_app_id }}"
            },
            {
              "name": "Auth-Token",
              "value": "={{ $('Build Auth').first().json.iconik_auth_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "title": "={{ $('Build Auth').first().json.target_course_id }}",
          "parent_collection_id": "={{ $('Extract Root ID').first().json.root_collection_id }}"
        }
      }
    },
    {
      "id": "ext",
      "name": "Extract Target ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "jsCode": "const a=$('Build Auth').first().json;\nreturn [{json:{...a,root_collection_id:$('Extract Root ID').first().json.root_collection_id,target_collection_id:$input.first().json.id||null}}];"
      }
    },
    {
      "id": "c_g",
      "name": "Create static_graphics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1320,
        160
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://app.iconik.io/API/assets/v1/collections/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "App-ID",
              "value": "={{ $('Build Auth').first().json.iconik_app_id }}"
            },
            {
              "name": "Auth-Token",
              "value": "={{ $('Build Auth').first().json.iconik_auth_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "title": "static_graphics",
          "parent_collection_id": "={{ $('Extract Target ID').first().json.target_collection_id }}"
        }
      }
    },
    {
      "id": "c_f",
      "name": "Create external_files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1320,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://app.iconik.io/API/assets/v1/collections/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "App-ID",
              "value": "={{ $('Build Auth').first().json.iconik_app_id }}"
            },
            {
              "name": "Auth-Token",
              "value": "={{ $('Build Auth').first().json.iconik_auth_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "title": "external_files",
          "parent_collection_id": "={{ $('Extract Target ID').first().json.target_collection_id }}"
        }
      }
    },
    {
      "id": "c_t",
      "name": "Create transcripts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1320,
        440
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://app.iconik.io/API/assets/v1/collections/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "App-ID",
              "value": "={{ $('Build Auth').first().json.iconik_app_id }}"
            },
            {
              "name": "Auth-Token",
              "value": "={{ $('Build Auth').first().json.iconik_auth_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "title": "transcripts",
          "parent_collection_id": "={{ $('Extract Target ID').first().json.target_collection_id }}"
        }
      }
    },
    {
      "id": "ret",
      "name": "Return Collection IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "jsCode": "const e=$('Extract Target ID').first().json;\nconst g=()=>{try{return $('Create static_graphics').first().json.id||null;}catch{return null;}};\nconst f=()=>{try{return $('Create external_files').first().json.id||null;}catch{return null;}};\nconst t=()=>{try{return $('Create transcripts').first().json.id||null;}catch{return null;}};\nconst p=()=>{try{return $('Create pdf_to_be_localized').first().json.id||null;}catch{return null;}};\nreturn [{json:{target_course_id:e.target_course_id,root_collection_id:e.root_collection_id,target_collection_id:e.target_collection_id,graphics_collection_id:g(),files_collection_id:f(),transcripts_collection_id:t(),pdf_collection_id:p(),iconik_ready:!!(g()&&f()&&t()&&p())}}];"
      }
    },
    {
      "id": "c_pdf",
      "name": "Create pdf_to_be_localized",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1320,
        560
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://app.iconik.io/API/assets/v1/collections/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "App-ID",
              "value": "={{ $('Build Auth').first().json.iconik_app_id }}"
            },
            {
              "name": "Auth-Token",
              "value": "={{ $('Build Auth').first().json.iconik_auth_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "title": "pdf_to_be_localized",
          "parent_collection_id": "={{ $('Extract Target ID').first().json.target_collection_id }}"
        }
      }
    }
  ],
  "connections": {
    "Input from MAIN": {
      "main": [
        [
          {
            "node": "Build Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Auth": {
      "main": [
        [
          {
            "node": "Search Root Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Root Collection": {
      "main": [
        [
          {
            "node": "Extract Root ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Root ID": {
      "main": [
        [
          {
            "node": "Create Target Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Target Collection": {
      "main": [
        [
          {
            "node": "Extract Target ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Target ID": {
      "main": [
        [
          {
            "node": "Create static_graphics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create pdf_to_be_localized",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create external_files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create transcripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create static_graphics": {
      "main": [
        [
          {
            "node": "Return Collection IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create external_files": {
      "main": [
        [
          {
            "node": "Return Collection IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create transcripts": {
      "main": [
        [
          {
            "node": "Return Collection IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create pdf_to_be_localized": {
      "main": [
        [
          {
            "node": "Return Collection IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "2d539a93-8c1a-481a-8b46-f58344ea8ceb",
  "activeVersionId": "2d539a93-8c1a-481a-8b46-f58344ea8ceb",
  "versionCounter": 6,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-08T15:26:40.900Z",
      "createdAt": "2026-06-08T15:26:40.900Z",
      "role": "workflow:owner",
      "workflowId": "P97ds2vbSmklYbnP",
      "projectId": "7y0kZCkeSDugmpzP",
      "project": {
        "updatedAt": "2026-03-12T16:05:16.582Z",
        "createdAt": "2026-03-12T16:02:39.200Z",
        "id": "7y0kZCkeSDugmpzP",
        "name": "Jérémie Borrotzu <jeremie.borrotzu@openclassrooms.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-08T16:01:16.547Z",
    "createdAt": "2026-06-08T16:01:16.547Z",
    "versionId": "2d539a93-8c1a-481a-8b46-f58344ea8ceb",
    "workflowId": "P97ds2vbSmklYbnP",
    "nodes": [
      {
        "id": "trigger",
        "name": "Input from MAIN",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          0,
          300
        ],
        "parameters": {}
      },
      {
        "id": "auth",
        "name": "Build Auth",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          220,
          300
        ],
        "parameters": {
          "jsCode": "// ICONIK CREDENTIALS — configured 2026-06-08\nconst ICONIK_APP_ID     = 'feff994e-1a46-11ee-9965-6a0b57ea0a0e';\nconst ICONIK_AUTH_TOKEN = '***REMOVED***';\n\nconst inp = $input.first().json;\nreturn [{json:{\n  target_course_id:    inp.target_course_id,\n  iconik_app_id:       ICONIK_APP_ID,\n  iconik_auth_token:   ICONIK_AUTH_TOKEN,\n  root_collection_name:'0000_LOCALISATION'\n}}];"
        }
      },
      {
        "id": "search",
        "name": "Search Root Collection",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          440,
          300
        ],
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "POST",
          "url": "https://app.iconik.io/API/search/v1/search/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "App-ID",
                "value": "={{ $('Build Auth').first().json.iconik_app_id }}"
              },
              {
                "name": "Auth-Token",
                "value": "={{ $('Build Auth').first().json.iconik_auth_token }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "body": {
            "doc_types": [
              "=collections"
            ],
            "query": "=0000_LOCALISATION",
            "limit": 5
          }
        }
      },
      {
        "id": "find",
        "name": "Extract Root ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          300
        ],
        "parameters": {
          "jsCode": "const auth=$('Build Auth').first().json;\nconst res=$input.first().json;\nconst match=(res.objects||[]).find(o=>(o.title||'').trim()==='0000_LOCALISATION');\nreturn [{json:{...auth,root_collection_id:match?match.id:null,root_found:!!match}}];"
        }
      },
      {
        "id": "c_tgt",
        "name": "Create Target Collection",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          880,
          300
        ],
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "POST",
          "url": "https://app.iconik.io/API/assets/v1/collections/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "App-ID",
                "value": "={{ $('Build Auth').first().json.iconik_app_id }}"
              },
              {
                "name": "Auth-Token",
                "value": "={{ $('Build Auth').first().json.iconik_auth_token }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "body": {
            "title": "={{ $('Build Auth').first().json.target_course_id }}",
            "parent_collection_id": "={{ $('Extract Root ID').first().json.root_collection_id }}"
          }
        }
      },
      {
        "id": "ext",
        "name": "Extract Target ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          300
        ],
        "parameters": {
          "jsCode": "const a=$('Build Auth').first().json;\nreturn [{json:{...a,root_collection_id:$('Extract Root ID').first().json.root_collection_id,target_collection_id:$input.first().json.id||null}}];"
        }
      },
      {
        "id": "c_g",
        "name": "Create static_graphics",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1320,
          160
        ],
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "POST",
          "url": "https://app.iconik.io/API/assets/v1/collections/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "App-ID",
                "value": "={{ $('Build Auth').first().json.iconik_app_id }}"
              },
              {
                "name": "Auth-Token",
                "value": "={{ $('Build Auth').first().json.iconik_auth_token }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "body": {
            "title": "static_graphics",
            "parent_collection_id": "={{ $('Extract Target ID').first().json.target_collection_id }}"
          }
        }
      },
      {
        "id": "c_f",
        "name": "Create external_files",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1320,
          300
        ],
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "POST",
          "url": "https://app.iconik.io/API/assets/v1/collections/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "App-ID",
                "value": "={{ $('Build Auth').first().json.iconik_app_id }}"
              },
              {
                "name": "Auth-Token",
                "value": "={{ $('Build Auth').first().json.iconik_auth_token }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "body": {
            "title": "external_files",
            "parent_collection_id": "={{ $('Extract Target ID').first().json.target_collection_id }}"
          }
        }
      },
      {
        "id": "c_t",
        "name": "Create transcripts",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1320,
          440
        ],
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "POST",
          "url": "https://app.iconik.io/API/assets/v1/collections/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "App-ID",
                "value": "={{ $('Build Auth').first().json.iconik_app_id }}"
              },
              {
                "name": "Auth-Token",
                "value": "={{ $('Build Auth').first().json.iconik_auth_token }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "body": {
            "title": "transcripts",
            "parent_collection_id": "={{ $('Extract Target ID').first().json.target_collection_id }}"
          }
        }
      },
      {
        "id": "ret",
        "name": "Return Collection IDs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1560,
          300
        ],
        "parameters": {
          "jsCode": "const e=$('Extract Target ID').first().json;\nconst g=()=>{try{return $('Create static_graphics').first().json.id||null;}catch{return null;}};\nconst f=()=>{try{return $('Create external_files').first().json.id||null;}catch{return null;}};\nconst t=()=>{try{return $('Create transcripts').first().json.id||null;}catch{return null;}};\nconst p=()=>{try{return $('Create pdf_to_be_localized').first().json.id||null;}catch{return null;}};\nreturn [{json:{target_course_id:e.target_course_id,root_collection_id:e.root_collection_id,target_collection_id:e.target_collection_id,graphics_collection_id:g(),files_collection_id:f(),transcripts_collection_id:t(),pdf_collection_id:p(),iconik_ready:!!(g()&&f()&&t()&&p())}}];"
        }
      },
      {
        "id": "c_pdf",
        "name": "Create pdf_to_be_localized",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1320,
          560
        ],
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "POST",
          "url": "https://app.iconik.io/API/assets/v1/collections/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "App-ID",
                "value": "={{ $('Build Auth').first().json.iconik_app_id }}"
              },
              {
                "name": "Auth-Token",
                "value": "={{ $('Build Auth').first().json.iconik_auth_token }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "body": {
            "title": "pdf_to_be_localized",
            "parent_collection_id": "={{ $('Extract Target ID').first().json.target_collection_id }}"
          }
        }
      }
    ],
    "connections": {
      "Input from MAIN": {
        "main": [
          [
            {
              "node": "Build Auth",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Auth": {
        "main": [
          [
            {
              "node": "Search Root Collection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Root Collection": {
        "main": [
          [
            {
              "node": "Extract Root ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Root ID": {
        "main": [
          [
            {
              "node": "Create Target Collection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Target Collection": {
        "main": [
          [
            {
              "node": "Extract Target ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Target ID": {
        "main": [
          [
            {
              "node": "Create static_graphics",
              "type": "main",
              "index": 0
            },
            {
              "node": "Create pdf_to_be_localized",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create external_files",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create transcripts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create static_graphics": {
        "main": [
          [
            {
              "node": "Return Collection IDs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create external_files": {
        "main": [
          [
            {
              "node": "Return Collection IDs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create transcripts": {
        "main": [
          [
            {
              "node": "Return Collection IDs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create pdf_to_be_localized": {
        "main": [
          [
            {
              "node": "Return Collection IDs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jérémie Borrotzu",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-08T16:01:16.585Z",
        "id": 508,
        "workflowId": "P97ds2vbSmklYbnP",
        "versionId": "2d539a93-8c1a-481a-8b46-f58344ea8ceb",
        "event": "activated",
        "userId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      },
      {
        "createdAt": "2026-06-08T16:01:16.575Z",
        "id": 507,
        "workflowId": "P97ds2vbSmklYbnP",
        "versionId": "2d539a93-8c1a-481a-8b46-f58344ea8ceb",
        "event": "deactivated",
        "userId": "7ae71612-d8be-4acd-a26d-869e32490f0e"
      }
    ]
  }
}